{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos": {
      "post": {
        "summary": "Adiciona novo produto",
        "description": "Método que insere um produto na base",
        "operationId": "adiciona-novo-produto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idPaiExterno": {
                    "type": "string",
                    "description": "Representa o ProdutoId agrupador por variante (optional)"
                  },
                  "idVinculoExterno": {
                    "type": "string",
                    "description": "Representa o ParentId agrupador por parent (optional)"
                  },
                  "sku": {
                    "type": "string",
                    "description": "(Max Length: 50) Sku do produto"
                  },
                  "nome": {
                    "type": "string",
                    "description": "(Max Length: 300) Nome do produto variante"
                  },
                  "nomeProdutoPai": {
                    "type": "string",
                    "description": "Nome do produto (pai do variante) (optional)"
                  },
                  "exibirMatrizAtributos": {
                    "type": "string",
                    "description": "Tipo de exibição da matriz de atributos (optional)",
                    "enum": [
                      "Sim",
                      "Nao",
                      "Neutro"
                    ]
                  },
                  "contraProposta": {
                    "type": "boolean",
                    "description": "Se o produto aceita contra proposta (optional)"
                  },
                  "fabricante": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome do fabricante"
                  },
                  "autor": {
                    "type": "string",
                    "description": "(Max Length: 500) Nome do autor (optional)"
                  },
                  "editora": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome da editora (optional)"
                  },
                  "colecao": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome da coleção (optional)"
                  },
                  "genero": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome do gênero (optional)"
                  },
                  "precoCusto": {
                    "type": "number",
                    "description": "Max Length: 8, \"0000.0000,00\") Preço de custo do produto variante (optional)",
                    "format": "double"
                  },
                  "precoDe": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") \"Preço De\" do produto variante (optional)",
                    "format": "double"
                  },
                  "precoPor": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") \"Preço Por\" de venda do produto variante",
                    "format": "double"
                  },
                  "fatorMultiplicadorPreco": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Fator multiplicador que gera o preço de exibição do produto.Ex.: produtos que exibem o preço em m² e cadastram o preço da caixa no \"PrecoPor\". (1 por padrão) (optional)",
                    "format": "double"
                  },
                  "prazoEntrega": {
                    "type": "integer",
                    "description": "Prazo de entrega do produto variante (optional)",
                    "format": "int32"
                  },
                  "valido": {
                    "type": "boolean",
                    "description": "Define se um produto variante é valido ou não"
                  },
                  "exibirSite": {
                    "type": "boolean",
                    "description": "Define se um produto deve ser exibido no site"
                  },
                  "freteGratis": {
                    "type": "string",
                    "description": "Define a qual regra de calculo de frete o produto vai pertencer",
                    "enum": [
                      "Sempre",
                      "Nunca",
                      "Neutro",
                      "Desconsiderar_Regras"
                    ]
                  },
                  "trocaGratis": {
                    "type": "boolean",
                    "description": "Define se o produto variante tem troca grátis (optional)"
                  },
                  "peso": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Peso do produto variante, em gramas (g).",
                    "format": "double"
                  },
                  "altura": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Altura do produto variante, em centímetros (cm).",
                    "format": "double"
                  },
                  "comprimento": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Comprimento do produto variante, em centímetros (cm).",
                    "format": "double"
                  },
                  "largura": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Largura do produto variante,  em centímetros (cm).",
                    "format": "double"
                  },
                  "garantia": {
                    "type": "integer",
                    "description": "Define se o produto variante tem garantia (optional)",
                    "format": "int32"
                  },
                  "isTelevendas": {
                    "type": "boolean",
                    "description": "Define se o produto contém televendas (optional)"
                  },
                  "ean": {
                    "type": "string",
                    "description": "(Max Length: 25) EAN do produto variante (optional)"
                  },
                  "localizacaoEstoque": {
                    "type": "string",
                    "description": "(Max Length: 255) Localização no estoque do produto variante (optional)"
                  },
                  "listaAtacado": {
                    "type": "array",
                    "description": "Dados de atacado do produto variante (optional)",
                    "items": {
                      "properties": {
                        "precoPor": {
                          "type": "number",
                          "description": "(Max Length: 8, \"0000.0000,00\") - Preco Por do item por atacado",
                          "format": "double"
                        },
                        "quantidade": {
                          "type": "integer",
                          "description": "Quantidade para compra de atacado",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "estoque": {
                    "type": "array",
                    "description": "Lista de estoque/centro de distribuição do produto. Obrigatório se valido for true (optional)",
                    "items": {
                      "properties": {
                        "estoqueFisico": {
                          "type": "integer",
                          "description": "Estoque físico do produto",
                          "format": "int32"
                        },
                        "estoqueReservado": {
                          "type": "integer",
                          "description": "Estoque reservado do produto",
                          "format": "int32"
                        },
                        "centroDistribuicaoId": {
                          "type": "integer",
                          "description": "Id do centro de distribuição do estoque do produto",
                          "format": "int32"
                        },
                        "alertaEstoque": {
                          "type": "integer",
                          "description": "Quantidade para ativar o alerta de estoque",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "listaAtributos": {
                    "type": "array",
                    "description": "Lista de atributos do produto",
                    "items": {
                      "properties": {
                        "nome": {
                          "type": "string",
                          "description": "(Max Length: 100) - Define o nome do atributo"
                        },
                        "valor": {
                          "type": "string",
                          "description": "(Max Length: 8, \"0000.0000,00\") - Define o valor do atributo"
                        },
                        "exibir": {
                          "type": "boolean",
                          "description": "Define se o atributo deverá ser exibido"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "quantidadeMaximaCompraUnidade": {
                    "type": "integer",
                    "description": "Quantidade máxima de compra do produto variante (optional)",
                    "format": "int32"
                  },
                  "quantidadeMinimaCompraUnidade": {
                    "type": "integer",
                    "description": "Quantidade mínima de compra do produto variante (optional)",
                    "format": "int32"
                  },
                  "condicao": {
                    "type": "string",
                    "description": "Condição do produto variante (optional)",
                    "enum": [
                      "Novo",
                      "Usado",
                      "Renovado",
                      "Danificado"
                    ]
                  },
                  "urlVideo": {
                    "type": "string",
                    "description": "Url do vídeo do Produto (optional)"
                  },
                  "spot": {
                    "type": "boolean",
                    "description": "Se o produto aparece no Spot (optional)"
                  },
                  "paginaProduto": {
                    "type": "boolean",
                    "description": "Se o produto aparece na Url (optional)"
                  },
                  "marketplace": {
                    "type": "boolean",
                    "description": "Se o produto aparece no Marketplace (optional)"
                  },
                  "somenteParceiros": {
                    "type": "boolean",
                    "description": "Se o produto aparece somente nos Parceiros (optional)"
                  },
                  "buyBox": {
                    "type": "boolean",
                    "description": "Se o produto deve ser agrupado pelo EAN (optional)"
                  },
                  "prazoValidade": {
                    "type": "integer",
                    "description": "Prazo de validade ou consumo do produto (optional)",
                    "format": "int32"
                  },
                  "consumo": {
                    "type": "object",
                    "description": "Dados de consumo de produto e se deve enviar os dias de consumo por e-mail.",
                    "properties": {
                      "quantidadeDias": {
                        "type": "integer",
                        "description": "Quantidade de Dias (optional)",
                        "format": "int32"
                      },
                      "enviarEmail": {
                        "type": "boolean",
                        "description": "Enviar e-mail (optional)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Id do produto variante gerado": {
                    "value": "Id do produto variante gerado"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c2f227aee7e0002715f279"
}