{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/atacarejo": {
      "post": {
        "summary": "Adiciona novos Atacarejos",
        "description": "",
        "operationId": "adiciona-novos-atacarejos",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "array",
                    "description": "Lista de Atacarejos (optional)",
                    "items": {
                      "properties": {
                        "precoAtacado": {
                          "type": "number",
                          "description": "Preço atacado",
                          "format": "double"
                        },
                        "quantidade": {
                          "type": "integer",
                          "description": "Quantidade do produto",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoVarianteAtacadoId\": 0,\n    \"precoAtacado\": 0,\n    \"quantidade\": 0\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoVarianteAtacadoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "precoAtacado": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "quantidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c492bb89b317004423454c"
}