{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/estoques": {
      "put": {
        "summary": "Atualiza o estoque de vários produtos",
        "description": "Atualiza o estoque de vários produtos com base na lista enviada. Limite de 50 produtos por requisição",
        "operationId": "atualiza-o-estoque-de-varios-produtos",
        "parameters": [
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "array",
                    "description": "Lista com os dados da atualização do estoque (optional)",
                    "items": {
                      "properties": {
                        "identificador": {
                          "type": "string",
                          "description": "Valor único utilizado para identificar o produto"
                        },
                        "prazoEntrega": {
                          "type": "integer",
                          "description": "Prazo de entrega do produto",
                          "format": "int32"
                        },
                        "listaEstoque": {
                          "type": "array",
                          "description": "Lista com os dados da atualização do estoque",
                          "items": {
                            "properties": {
                              "estoqueFisico": {
                                "type": "integer",
                                "description": "Estoque físico do produto",
                                "format": "int32"
                              },
                              "estoqueReservado": {
                                "type": "integer",
                                "description": "Estoque reservado do produto",
                                "format": "int32"
                              },
                              "centroDistribuicaoId": {
                                "type": "integer",
                                "description": "Id do centro de distribuição do estoque do produto",
                                "format": "int32"
                              },
                              "produtoVarianteId": {
                                "type": "integer",
                                "description": "Id do produto variante",
                                "format": "int32"
                              },
                              "alertaEstoque": {
                                "type": "integer",
                                "description": "Quantidade para ativar o alerta de estoque",
                                "format": "int32"
                              }
                            },
                            "type": "object"
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "{\n  \"produtosNaoAtualizados\": [\n    {\n      \"produtoVarianteId\": 0,\n      \"sku\": \"string\",\n      \"centroDistribuicaoId\": 0,\n      \"resultado\": true,\n      \"detalhes\": \"string\"\n    }\n  ],\n  \"produtosAtualizados\": [\n    {\n      \"produtoVarianteId\": 0,\n      \"sku\": \"string\",\n      \"centroDistribuicaoId\": 0,\n      \"resultado\": true,\n      \"detalhes\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "produtosNaoAtualizados": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "produtoVarianteId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "sku": {
                            "type": "string",
                            "example": "string"
                          },
                          "centroDistribuicaoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "resultado": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "detalhes": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "produtosAtualizados": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "produtoVarianteId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "sku": {
                            "type": "string",
                            "example": "string"
                          },
                          "centroDistribuicaoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "resultado": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "detalhes": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c3322231eb6900649e2013"
}