{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/gestorscripts/scripts/{scriptId}": {
      "put": {
        "summary": "Atualiza um script existente",
        "description": "",
        "operationId": "atualiza-um-script-existente",
        "parameters": [
          {
            "name": "scriptId",
            "in": "path",
            "description": "Id do script",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do script"
                  },
                  "dataInicial": {
                    "type": "string",
                    "description": "Data inicial do script",
                    "format": "date"
                  },
                  "dataFinal": {
                    "type": "string",
                    "description": "Data final do script",
                    "format": "date"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Informe se o script está ativo ou não"
                  },
                  "prioridade": {
                    "type": "integer",
                    "description": "Prioridade do script",
                    "format": "int32"
                  },
                  "posicao": {
                    "type": "string",
                    "description": "Posição do script",
                    "enum": [
                      "HeaderPrimeiraLinha",
                      "HeaderUltimaLinha",
                      "BodyPrimeiraLinha",
                      "BodyUltimaLinha",
                      "FooterPrimeiraLinha",
                      "FooterUltimeLinha"
                    ]
                  },
                  "tipoPagina": {
                    "type": "string",
                    "description": "Tipo da página do script",
                    "enum": [
                      "Todas",
                      "Home",
                      "Busca",
                      "Categoria",
                      "Fabricante",
                      "Estaticas",
                      "Produto",
                      "Carrinho"
                    ]
                  },
                  "identificadorPagina": {
                    "type": "string",
                    "description": "Identificador da página"
                  },
                  "conteudo": {
                    "type": "string",
                    "description": "Conteúdo do script"
                  },
                  "publicado": {
                    "type": "boolean",
                    "description": "Status do script"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b465f3b2e610001aca35e7"
}