{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/pedidos/{pedidoId}/produtos/{produtoVarianteId}/rastreamento/{pedidoRastreamentoProdutoId}": {
      "put": {
        "summary": "Atualiza rastreamento de produto completo (com os dados da N.F.)",
        "description": "",
        "operationId": "atualiza-rastreamento-de-produto-completo-com-os-dados-da-nf",
        "parameters": [
          {
            "name": "pedidoId",
            "in": "path",
            "description": "Número do pedido",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "produtoVarianteId",
            "in": "path",
            "description": "Id do produto variante",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "pedidoRastreamentoProdutoId",
            "in": "path",
            "description": "Id do Pedido Rastreamento Produto",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notaFiscal": {
                    "type": "string",
                    "description": "Nota Fiscal"
                  },
                  "cfop": {
                    "type": "integer",
                    "description": "CFOP",
                    "format": "int32"
                  },
                  "dataEnviado": {
                    "type": "string",
                    "description": "Data Enviado",
                    "format": "date"
                  },
                  "chaveAcessoNFE": {
                    "type": "string",
                    "description": "Chave de acesso NFE"
                  },
                  "rastreamento": {
                    "type": "string",
                    "description": "Rastreamento (optional)"
                  },
                  "urlRastreamento": {
                    "type": "string",
                    "description": "URL de rastreamento (optional)"
                  },
                  "transportadora": {
                    "type": "string",
                    "description": "Transportadora (optional)"
                  },
                  "dataEntrega": {
                    "type": "string",
                    "description": "Data da entrega (optional)",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bd93a23555a702b80cc676"
}