{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/assinaturas/{assinaturaId}": {
      "put": {
        "summary": "Atualiza a situação de uma assinatura específica",
        "description": "",
        "operationId": "atualiza-a-situacao-de-uma-assinatura-especifica",
        "parameters": [
          {
            "name": "assinaturaId",
            "in": "path",
            "description": "Id da assinatura",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enderecoId": {
                    "type": "integer",
                    "description": "Id do endereço (optional)",
                    "format": "int32"
                  },
                  "usuarioCartaoCreditoId": {
                    "type": "integer",
                    "description": "Id do cartão de crédito do usuário (optional)",
                    "format": "int32"
                  },
                  "periodoRecorrencia": {
                    "type": "string",
                    "description": "Período Recorrência (optional)"
                  },
                  "situacaoAssinatura": {
                    "type": "string",
                    "description": "Situação da Assinatura (optional)",
                    "enum": [
                      "Ativa",
                      "Pausada",
                      "Cancelada"
                    ]
                  },
                  "cupom": {
                    "type": "string",
                    "description": "Cupom (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a72072e64d1e001eb41c9a"
}