{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/atacarejo/{produtoVarianteAtacadoId}": {
      "put": {
        "summary": "Atualiza um Atacarejo",
        "description": "",
        "operationId": "atualiza-um-atacarejo",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "SKU ou Id do Produto Variante",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          },
          {
            "name": "produtoVarianteAtacadoId",
            "in": "path",
            "description": "Id do Atacarejo",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "precoAtacado": {
                    "type": "number",
                    "description": "Preço atacado (optional)",
                    "format": "double"
                  },
                  "quantidade": {
                    "type": "integer",
                    "description": "Quantidade do produto (optional)",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Resultado da Atualização do Atacarejo": {
                    "value": "Resultado da Atualização do Atacarejo"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c4972ef8681e009e2f55cf"
}