{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/parceiros/{parceiroId}": {
      "put": {
        "summary": "Atualiza um parceiro",
        "description": "Parceiro atualizado com sucesso",
        "operationId": "atualiza-um-parceiro",
        "parameters": [
          {
            "name": "parceiroId",
            "in": "path",
            "description": "Id do parceiro",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do parceiro"
                  },
                  "tabelaPrecoId": {
                    "type": "integer",
                    "description": "Id da tabela de preço (optional)",
                    "format": "int32"
                  },
                  "portfolioId": {
                    "type": "integer",
                    "description": "Id do portfolio (optional)",
                    "format": "int32"
                  },
                  "tipoEscopo": {
                    "type": "string",
                    "description": "Tipo de escopo",
                    "enum": [
                      "Aberto\"",
                      "Fechado",
                      "PorCliente"
                    ]
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status do parceiro"
                  },
                  "isMarketPlace": {
                    "type": "boolean",
                    "description": "Se o parceiro é marketplace (optional)"
                  },
                  "origem": {
                    "type": "string",
                    "description": "Origem (optional)"
                  },
                  "alias": {
                    "type": "string",
                    "description": "alias (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "[\n  {\n    \"resultadoOperacao\": true,\n    \"codigo\": 0,\n    \"mensagem\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resultadoOperacao": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "codigo": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "mensagem": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bdb35b47500e0027269e3b"
}