{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/hotsites/{hotsiteId}": {
      "put": {
        "summary": "Atualiza os dados de um hotsite existente",
        "description": "",
        "operationId": "atualiza-os-dados-de-um-hotsite-existente",
        "parameters": [
          {
            "name": "hotsiteId",
            "in": "path",
            "description": "Identificador do hotsite a ser atualizado",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do hotsite"
                  },
                  "dataInicio": {
                    "type": "string",
                    "description": "Data/hora em que o hotsite começará a ser exibido (optional)",
                    "format": "date"
                  },
                  "dataFinal": {
                    "type": "string",
                    "description": "Data/Hora (último dia) em que o hotsite não será mais exibido (optional)",
                    "format": "date"
                  },
                  "url": {
                    "type": "string",
                    "description": "Informe a url do hotsite. Por exemplo, se o site for 'busca.meusite.com.br', e o hotsite desejado for 'busca.meusite.com.br/hotsite/natal' informe neste campo somente a url 'hotsite/natal', sem a barra '/' no início"
                  },
                  "tamanhoPagina": {
                    "type": "integer",
                    "description": "Informe o número de produtos que deve ser exibido por página",
                    "format": "int32"
                  },
                  "templateId": {
                    "type": "integer",
                    "description": "Informe o identificador do template que será utilizado. Caso não saiba o identificador do template desejado, o mesmo pode ser buscado no endpoint GET/Templates",
                    "format": "int32"
                  },
                  "ordenacao": {
                    "type": "string",
                    "description": "Informe qual será a ordenação dos Produtos no Hotsite (optional)",
                    "enum": [
                      "Nenhuma",
                      "NomeCrescente",
                      "NomeDecrescente",
                      "Lancamento",
                      "MenorPreco",
                      "MaiorPreco",
                      "MaisVendidos",
                      "MaioresDescontos",
                      "Aleatorio",
                      "MenorEstoque",
                      "MaiorEstoque"
                    ]
                  },
                  "listaProdutos": {
                    "type": "object",
                    "description": "Produtos que devem aparecer no hotsite",
                    "properties": {
                      "expressao": {
                        "type": "string",
                        "description": "você pode utilizar essa opção para gerar um hotsite utilizando uma expressão de busca. Ao utilizá-la, os produtos adicionados nos outros modos de criação de hotsite serão ignorados (optional)"
                      },
                      "produtos": {
                        "type": "array",
                        "description": "Id dos produtos",
                        "items": {
                          "properties": {
                            "produtoId": {
                              "type": "integer",
                              "description": "Identificador do produto a ser mostrado no hotsite",
                              "format": "int32"
                            },
                            "ordem": {
                              "type": "integer",
                              "description": "Ordem para apresentação do produto (optional)",
                              "format": "int32"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  },
                  "seo": {
                    "type": "object",
                    "description": "Dados de seo",
                    "properties": {
                      "titulo": {
                        "type": "string",
                        "description": "Informe o Título que será exibido quando o Hotsite for acessado (optional)"
                      },
                      "metas": {
                        "type": "array",
                        "description": "Não se esqueça! Além do texto livre, você pode utilizar as tags [Nome.Hotsite] e [Fbits.NomeLoja] para o cadastro das MetaTags e Title! (optional)",
                        "items": {
                          "properties": {
                            "conteudo": {
                              "type": "string",
                              "description": "Informe os dados da Metatag"
                            },
                            "nome": {
                              "type": "string",
                              "description": "Informe os dados da Metatag"
                            },
                            "httpEquiv": {
                              "type": "string",
                              "description": "Informe os dados da Metatag"
                            },
                            "scheme": {
                              "type": "string",
                              "description": "Informe os dados da Metatag"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  },
                  "banners": {
                    "type": "array",
                    "description": "Lista de identificadores de banners a serem vinculados ao hotsite",
                    "items": {
                      "properties": {
                        "bannerId": {
                          "type": "integer",
                          "description": "Identificador do banner (optional)",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "conteudos": {
                    "type": "array",
                    "description": "Lista de identificadores de conteúdos a serem vinculados ao hotsite",
                    "items": {
                      "properties": {
                        "conteudoId": {
                          "type": "integer",
                          "description": "Identificador do conteúdo",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status do hotsite (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b2051f846cfe08b0bc5625"
}