{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/webhook/inscricao/{inscricaoId}": {
      "put": {
        "summary": "Atualiza uma inscrição",
        "description": "",
        "operationId": "atualiza-uma-inscricao",
        "parameters": [
          {
            "name": "inscricaoId",
            "in": "path",
            "description": "Id da inscrição",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "topicos"
                ],
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome da inscrição"
                  },
                  "appUrl": {
                    "type": "string",
                    "description": "Url para qual deve ser enviada as notificações"
                  },
                  "topicos": {
                    "type": "array",
                    "description": "Tópicos em que deseja se inscrever",
                    "items": {
                      "type": "string"
                    }
                  },
                  "usuario": {
                    "type": "string",
                    "description": "Usuário que está realizando a inscrição"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status da inscrição, se ativada ou desativada"
                  },
                  "emailResponsavel": {
                    "type": "string",
                    "description": "E-mail do responsável para notificá-lo quando não seja possível notificá-lo pelo AppUrl informado"
                  },
                  "headers": {
                    "type": "array",
                    "description": "Headers que devam ser adicionados ao realizar a requisição para o AppUrl. Headers de Conteúdo como 'ContentType' não são necessário. As requisições realizada sempre serão no formato 'application/json' (optional)",
                    "items": {
                      "properties": {
                        "chave": {
                          "type": "string",
                          "description": "Chave do header, por exemplo: 'Authorization'"
                        },
                        "valor": {
                          "type": "string",
                          "description": "Valor / Conteúdo do header, por exemplo: 'Basic 0G3EQWD-W324F-234SD-2421OFSD'"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bc5f8f5f7d60003f1d1ca5"
}