{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/banners/{bannerId}/hotsites": {
      "put": {
        "summary": "Atualiza a exibição do banner nos hotsites, se deve ser em todos ou não",
        "description": "",
        "operationId": "atualiza-a-exibicao-do-banner-nos-hotsites-se-deve-ser-em-todos-ou-nao",
        "parameters": [
          {
            "name": "bannerId",
            "in": "path",
            "description": "Id do banner",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibirEmTodosHotsites": {
                    "type": "boolean",
                    "description": "Exibição do banner nos hotsites"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a7680c2436ab012aa5657d"
}