{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/banners/{bannerId}": {
      "put": {
        "summary": "Atualiza um banner existente",
        "description": "",
        "operationId": "atualiza-um-banner-existente",
        "parameters": [
          {
            "name": "bannerId",
            "in": "path",
            "description": "Identificador do banner que deve acontecer a atualização",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do banner"
                  },
                  "dataInicio": {
                    "type": "string",
                    "description": "Data de inicio de exibição do banner",
                    "format": "date"
                  },
                  "dataFim": {
                    "type": "string",
                    "description": "Data de termino de exibição do banner (optional)",
                    "format": "date"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Banner ativo/inativo (optional)"
                  },
                  "detalhe": {
                    "type": "object",
                    "description": "Detalhes do banner",
                    "properties": {
                      "posicionamentoId": {
                        "type": "integer",
                        "description": "Local de posicionamento do banner",
                        "format": "int32"
                      },
                      "imagemBanner": {
                        "type": "object",
                        "description": "Imagem do banner (caso o campo \"UrlBanner\" estiver preenchido esse campo será desconsiderado) (optional)",
                        "properties": {
                          "base64": {
                            "type": "string",
                            "description": "string da imagem em base 64"
                          },
                          "formato": {
                            "type": "string",
                            "description": "formato da imagem",
                            "enum": [
                              "PNG",
                              "JPG",
                              "JPEG"
                            ]
                          },
                          "nome": {
                            "type": "string",
                            "description": "nome da imagem"
                          }
                        }
                      },
                      "urlBanner": {
                        "type": "string",
                        "description": "Url de onde o banner deve ser carregado (Ex.: http://www.site.com.br/banner.swf). O Banner poderá ser do tipo flash ou imagem (optional)"
                      },
                      "ordemExibicao": {
                        "type": "integer",
                        "description": "Ordem de exibição do banner (optional)",
                        "format": "int32"
                      },
                      "abrirLinkNovaAba": {
                        "type": "boolean",
                        "description": "Se o banner deve ou não abrir em nova aba (optional)"
                      },
                      "largura": {
                        "type": "integer",
                        "description": "Largura do banner em pixels (optional)",
                        "format": "int32"
                      },
                      "altura": {
                        "type": "integer",
                        "description": "Altura do banner em pixels (optional)",
                        "format": "int32"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title da imagem do banner (optional)"
                      },
                      "urlClique": {
                        "type": "string",
                        "description": "Url de destino para quando o usuário clicar no Banner (optional)"
                      },
                      "urlBannerAlternativo": {
                        "type": "string",
                        "description": "URL para um Banner alternativo que será exibido caso ocorra algum problema para exibição do Banner (optional)"
                      },
                      "textoAlternativo": {
                        "type": "string",
                        "description": "Title alternativo que será exibido caso ocorra algum problema para a exibição do Banner"
                      }
                    }
                  },
                  "diasExibicao": {
                    "type": "object",
                    "description": "Dias da semana que o banner deverá ser exibido (optional)",
                    "properties": {
                      "todosDias": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser exibido todos os dias (caso esse campo estiver preenchido como \"true\" os demais serão desconsiderados)"
                      },
                      "domingo": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado no domingo"
                      },
                      "segunda": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado na segunda"
                      },
                      "terca": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado na terça"
                      },
                      "quarta": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado na quarta"
                      },
                      "quinta": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado na quinta"
                      },
                      "sexta": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado na sexta"
                      },
                      "sabado": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser apresentado no sábado"
                      }
                    }
                  },
                  "apresentacao": {
                    "type": "object",
                    "description": "Apresentação do banner (optional)",
                    "properties": {
                      "exibirNoSite": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser exibido em todo o site"
                      },
                      "exibirEmTodasBuscas": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser exibido em todas as buscas"
                      },
                      "naoExibirEmBuscas": {
                        "type": "boolean",
                        "description": "Se o banner não deverá ser exibido em nenhuma busca (Caso esse campo estiver como \"true\" o campo TermosBusca será desconsiderado)"
                      },
                      "termosBusca": {
                        "type": "string",
                        "description": "Termos que o banner será exibido na busca"
                      },
                      "exibirEmTodasCategorias": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser exibido em todas categorias (Caso esse campo estiver como \"true\" o campo TermosBusca será desconsiderado)"
                      },
                      "listaHotsites": {
                        "type": "object",
                        "description": "Em quais hotsites o banner deve ser exibido",
                        "properties": {
                          "exibirEmTodosHotsites": {
                            "type": "boolean",
                            "description": "Se o banner deverá ser exibido em todos as hotsite's (Caso esse campo estiver como \"true\" o campo HotSites será desconsiderado) (optional)"
                          },
                          "hotsites": {
                            "type": "array",
                            "description": "Lista de hotsite's que o banner será exibido",
                            "items": {
                              "properties": {
                                "hotSiteId": {
                                  "type": "integer",
                                  "description": "Id do hotsite (optional)",
                                  "format": "int32"
                                }
                              },
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  },
                  "listaParceiros": {
                    "type": "object",
                    "description": "Em quais parceiros o banner deve ser exibido",
                    "properties": {
                      "exibirEmTodosParceiros": {
                        "type": "boolean",
                        "description": "Se o banner deverá ser exibido em todos parceiros (Caso esse campo estiver como \"true\" o campo TermosBusca será desconsiderado) (optional)"
                      },
                      "parceiros": {
                        "type": "array",
                        "description": "Lista de parceiros que o banner será exibido",
                        "items": {
                          "properties": {
                            "parceiroId": {
                              "type": "integer",
                              "description": "Id do parceiro (optional)",
                              "format": "int32"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a3536c05e24b00790f0fb6"
}