{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/conteudos/{conteudoId}": {
      "put": {
        "summary": "Atualiza um conteúdo",
        "description": "",
        "operationId": "atualiza-um-conteudo",
        "parameters": [
          {
            "name": "conteudoId",
            "in": "path",
            "description": "Identificador do conteúdo",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "titulo": {
                    "type": "string",
                    "description": "Titulo do conteúdo"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Conteúdo ativo/inativo"
                  },
                  "dataInicio": {
                    "type": "string",
                    "description": "Data de inicio de exibição do conteúdo (optional)",
                    "format": "date"
                  },
                  "dataFim": {
                    "type": "string",
                    "description": "Data de final de exibição do conteúdo (optional)",
                    "format": "date"
                  },
                  "posicionamento": {
                    "type": "string",
                    "description": "Posicionamento do conteúdo",
                    "enum": [
                      "Topo",
                      "Centro",
                      "Rodape",
                      "LateralDireita",
                      "LateralEsquerda",
                      "MobileTopo",
                      "MobileRodape"
                    ]
                  },
                  "conteudo": {
                    "type": "string",
                    "description": "Informações do conteúdo"
                  },
                  "termoBusca": {
                    "type": "string",
                    "description": "Insira em qual Termo de Busca o Conteúdo será exibido (optional)"
                  },
                  "exibeTodasBuscas": {
                    "type": "boolean",
                    "description": "Exibição do conteúdo nas buscas"
                  },
                  "naoExibeBuscas": {
                    "type": "boolean",
                    "description": "Não exibição do conteúdo nas buscas"
                  },
                  "exibeTodosHotsites": {
                    "type": "boolean",
                    "description": "Exibição do conteúdo nos hotsites"
                  },
                  "hotsiteId": {
                    "type": "array",
                    "description": "Insira quais Hotsites que o Conteúdo será exibido (optional)",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a883279bb3eb0040242a53"
}