{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/tiposEvento/{tipoEventoId}/AlterarStatus": {
      "put": {
        "summary": "Atualiza o status do tipo de evento, ativando-o ou inativando-o",
        "description": "",
        "operationId": "atualiza-o-status-do-tipo-de-evento-ativando-o-ou-inativando-o",
        "parameters": [
          {
            "name": "tipoEventoId",
            "in": "path",
            "description": "Identificador do tipo de evento",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62cedc03ecf222001a0b82db"
}