{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/webhook/inscricao/{inscricaoId}": {
      "get": {
        "summary": "Busca a inscrição por seu identificador",
        "description": "Inscrição",
        "operationId": "busca-a-inscricao-por-seu-identificador",
        "parameters": [
          {
            "name": "inscricaoId",
            "in": "path",
            "description": "Id da inscrição",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"inscricaoId\": 0,\n  \"nome\": \"string\",\n  \"appUrl\": \"string\",\n  \"ativo\": true,\n  \"emailResponsavel\": \"string\",\n  \"topico\": [\n    \"string\"\n  ],\n  \"usuario\": \"string\",\n  \"header\": [\n    {\n      \"headerId\": 0,\n      \"chave\": \"string\",\n      \"valor\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "inscricaoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "nome": {
                      "type": "string",
                      "example": "string"
                    },
                    "appUrl": {
                      "type": "string",
                      "example": "string"
                    },
                    "ativo": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "emailResponsavel": {
                      "type": "string",
                      "example": "string"
                    },
                    "topico": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "usuario": {
                      "type": "string",
                      "example": "string"
                    },
                    "header": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "headerId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "chave": {
                            "type": "string",
                            "example": "string"
                          },
                          "valor": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bb5238fd766d00203ed45f"
}