{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/relacionados": {
      "get": {
        "summary": "Busca os produtos relacionados",
        "description": "Retorna todos os identificadores dos produtos/variantes relacionados ao produto pesquisado",
        "operationId": "busca-os-produtos-relacionados",
        "parameters": [
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um Sku, um ProdutoId (Agrupador de variantes) ou um ProdutoVarianteId",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoId",
                "ProdutoVarianteId"
              ]
            }
          },
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoId\": 0,\n    \"parentId\": 0,\n    \"produtoVarianteId\": 0,\n    \"sku\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "parentId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "sku": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Produto não encontrado": {
                    "value": "Produto não encontrado"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c32f9aaa3da40421de580b"
}