{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/hotsites/{hotsiteId}": {
      "get": {
        "summary": "Busca um hotsite específico",
        "description": "Objeto do hotsite",
        "operationId": "busca-um-hotsite-especifico",
        "parameters": [
          {
            "name": "hotsiteId",
            "in": "path",
            "description": "Identificador do hotsite a ser buscado",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"hotsiteId\": 0,\n  \"nome\": \"string\",\n  \"ativo\": true,\n  \"template\": \"string\",\n  \"dataCriacao\": \"2022-06-14T11:07:54.213Z\",\n  \"dataInicio\": \"2022-06-14T11:07:54.213Z\",\n  \"dataFinal\": \"2022-06-14T11:07:54.213Z\",\n  \"url\": \"string\",\n  \"tamanhoPagina\": 0,\n  \"templateId\": 0,\n  \"ordenacao\": \"Nenhuma\",\n  \"listaProdutos\": {\n    \"expressao\": \"string\",\n    \"produtos\": [\n      {\n        \"produtoId\": 0,\n        \"ordem\": 0\n      }\n    ]\n  },\n  \"seo\": {\n    \"seoHotsiteId\": 0,\n    \"hotsiteId\": 0,\n    \"titulo\": \"string\",\n    \"metas\": [\n      {\n        \"conteudo\": \"string\",\n        \"nome\": \"string\",\n        \"httpEquiv\": \"string\",\n        \"scheme\": \"string\"\n      }\n    ]\n  },\n  \"banners\": [\n    {\n      \"bannerId\": 0\n    }\n  ],\n  \"conteudos\": [\n    {\n      \"conteudoId\": 0\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "hotsiteId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "nome": {
                      "type": "string",
                      "example": "string"
                    },
                    "ativo": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "template": {
                      "type": "string",
                      "example": "string"
                    },
                    "dataCriacao": {
                      "type": "string",
                      "example": "2022-06-14T11:07:54.213Z"
                    },
                    "dataInicio": {
                      "type": "string",
                      "example": "2022-06-14T11:07:54.213Z"
                    },
                    "dataFinal": {
                      "type": "string",
                      "example": "2022-06-14T11:07:54.213Z"
                    },
                    "url": {
                      "type": "string",
                      "example": "string"
                    },
                    "tamanhoPagina": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "templateId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "ordenacao": {
                      "type": "string",
                      "example": "Nenhuma"
                    },
                    "listaProdutos": {
                      "type": "object",
                      "properties": {
                        "expressao": {
                          "type": "string",
                          "example": "string"
                        },
                        "produtos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "produtoId": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "ordem": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              }
                            }
                          }
                        }
                      }
                    },
                    "seo": {
                      "type": "object",
                      "properties": {
                        "seoHotsiteId": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "hotsiteId": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "titulo": {
                          "type": "string",
                          "example": "string"
                        },
                        "metas": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "conteudo": {
                                "type": "string",
                                "example": "string"
                              },
                              "nome": {
                                "type": "string",
                                "example": "string"
                              },
                              "httpEquiv": {
                                "type": "string",
                                "example": "string"
                              },
                              "scheme": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "banners": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bannerId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    },
                    "conteudos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conteudoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a899e59f542f002f2f9894"
}