{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/eventos": {
      "post": {
        "summary": "Cria um Novo Evento",
        "description": "",
        "operationId": "cria-um-novo-evento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tipoEventoId": {
                    "type": "integer",
                    "description": "Identificador do tipo de evento",
                    "format": "int32"
                  },
                  "enderecoEntregaId": {
                    "type": "integer",
                    "description": "Identificador do endereço de entrega",
                    "format": "int32"
                  },
                  "titulo": {
                    "type": "string",
                    "description": "Titulo do evento"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL do evento"
                  },
                  "data": {
                    "type": "string",
                    "description": "Data do Evento",
                    "format": "date"
                  },
                  "usuarioEmail": {
                    "type": "string",
                    "description": "Email do usuário"
                  },
                  "disponivel": {
                    "type": "boolean",
                    "description": "Disponibilidade do evento (optional)"
                  },
                  "diasAntesEvento": {
                    "type": "integer",
                    "description": "Quantos dias antes do evento ele será exibido (optional)",
                    "format": "int32"
                  },
                  "diasDepoisEvento": {
                    "type": "integer",
                    "description": "Até quantos dias depois do evento ele será exibido (optional)",
                    "format": "int32"
                  },
                  "urlLogo": {
                    "type": "string",
                    "description": "Url do Logo. (Base64)"
                  },
                  "urlCapa": {
                    "type": "string",
                    "description": "Url da Capa. (Base64)"
                  },
                  "proprietario": {
                    "type": "string",
                    "description": "Quem é o proprietário"
                  },
                  "abaInfo01Habilitado": {
                    "type": "boolean",
                    "description": "Se a aba de informação 01 será habilitada"
                  },
                  "textoInfo01": {
                    "type": "string",
                    "description": "Texto para o campo informação 01 (optional)"
                  },
                  "conteudoInfo01": {
                    "type": "string",
                    "description": "Conteúdo para o campo informação 01 (optional)"
                  },
                  "abaInfo02Habilitado": {
                    "type": "boolean",
                    "description": "Se a aba de informação 02 será habilitada"
                  },
                  "textoInfo02": {
                    "type": "string",
                    "description": "Texto para o campo informação 02 (optional)"
                  },
                  "conteudoInfo02": {
                    "type": "string",
                    "description": "Conteúdo para o campo informação 02 (optional)"
                  },
                  "abaMensagemHabilitado": {
                    "type": "boolean",
                    "description": "Se a aba de mensagem será habilitada (optional)"
                  },
                  "enumTipoListaPresenteId": {
                    "type": "string",
                    "description": "Tipo de lista de presente",
                    "enum": [
                      "ListaPronta",
                      "ListaManual"
                    ]
                  },
                  "enumTipoEntregaId": {
                    "type": "string",
                    "description": "Tipo de entrega",
                    "enum": [
                      "EntregaAgendada",
                      "EntregaConformeCompraRealizada",
                      "Todos",
                      "Nenhum"
                    ]
                  },
                  "eventoProdutoSelecionado": {
                    "type": "array",
                    "description": "Seleção de produto no evento",
                    "items": {
                      "properties": {
                        "produtoVarianteId": {
                          "type": "integer",
                          "description": "Id do produto variante",
                          "format": "int32"
                        },
                        "recebidoForaLista": {
                          "type": "boolean",
                          "description": "Se produto recebido fora da lista (optional)"
                        },
                        "removido": {
                          "type": "boolean",
                          "description": "Se produto removido (optional)"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "enderecoEvento": {
                    "type": "array",
                    "description": "Endereço do Evento",
                    "items": {
                      "properties": {
                        "nome": {
                          "type": "string",
                          "description": "Nome para identificação do endereço"
                        },
                        "endereco": {
                          "type": "string",
                          "description": "Endereço"
                        },
                        "cep": {
                          "type": "string",
                          "description": "Cep do endereço"
                        },
                        "numero": {
                          "type": "string",
                          "description": "Numero do endereço"
                        },
                        "bairro": {
                          "type": "string",
                          "description": "Bairro do endereço"
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do endereço"
                        },
                        "estado": {
                          "type": "string",
                          "description": "Estado do endereço"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62ac815a9efce0039082096a"
}