{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/assinaturas/grupoassinatura/assinatura": {
      "post": {
        "summary": "Cria assinatura com base em uma lista de pedidos",
        "description": "Pedidos que terão vínculo com o grupo de assinatura informado.",
        "operationId": "cria-assinatura-com-base-em-uma-lista-de-pedidos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pedidos": {
                    "type": "array",
                    "description": "Lista de pedidos a serem vinculados a assinatura",
                    "items": {
                      "properties": {
                        "pedidoId": {
                          "type": "integer",
                          "description": "Id do pedido",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "recorrenciaId": {
                    "type": "integer",
                    "description": "ID da recorrência vinculada ao grupo, disponível em GET /assinaturas/grupoassinatura",
                    "format": "int32"
                  },
                  "grupoAssinaturaId": {
                    "type": "integer",
                    "description": "ID do grupo de assinatura, disponível em GET /assinaturas/grupoassinatura",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "OK"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:63adc9f79b51fc00122338f6"
}