{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/autenticacao/refresh": {
      "post": {
        "summary": "Gera um novo access token baseado em um access token expirado por data",
        "description": "Access token atualizado com sucesso",
        "operationId": "gera-um-novo-access-token-baseado-em-um-access-token-expirado-por-data",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "{\n  \"lojas\": [\n    \"string\"\n  ],\n  \"accessToken\": \"string\",\n  \"dataExpiracaoAccessTokenUTC\": \"2022-06-09T11:21:37.420Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "lojas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "accessToken": {
                      "type": "string",
                      "example": "string"
                    },
                    "dataExpiracaoAccessTokenUTC": {
                      "type": "string",
                      "example": "2022-06-09T11:21:37.420Z"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a226cab72af600215e6b78"
}