{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/lojasFisicas": {
      "post": {
        "summary": "Insere uma Loja Física",
        "description": "",
        "operationId": "insere-uma-loja-fisica",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lojaId": {
                    "type": "integer",
                    "description": "Id da loja (optional)",
                    "format": "int32"
                  },
                  "nome": {
                    "type": "string",
                    "description": "Nome da loja (optional)"
                  },
                  "ddd": {
                    "type": "integer",
                    "description": "DDD da localidade de destino da loja (optional)",
                    "format": "int32"
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone da loja (optional)"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail de contato da loja (optional)"
                  },
                  "cep": {
                    "type": "string",
                    "description": "CEP do endereço da loja (optional)"
                  },
                  "logradouro": {
                    "type": "string",
                    "description": "Logradouro do endereço da loja (optional)"
                  },
                  "numero": {
                    "type": "string",
                    "description": "Número de localização do endereço da loja (optional)"
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Complemento para localização da loja (optional)"
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Bairro do endereço do loja (optional)"
                  },
                  "cidade": {
                    "type": "string",
                    "description": "Cidade em que a loja se encontra (optional)"
                  },
                  "estadoId": {
                    "type": "integer",
                    "description": "Id do estado em que a loja se encontra (optional)",
                    "format": "int32"
                  },
                  "prazoEntrega": {
                    "type": "integer",
                    "description": "Prazo de entrega (optional)",
                    "format": "int32"
                  },
                  "prazoMaximoRetirada": {
                    "type": "integer",
                    "description": "Prazo máximo para retirada (optional)",
                    "format": "int32"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status da loja (optional)"
                  },
                  "valido": {
                    "type": "boolean",
                    "description": "Valido (optional)"
                  },
                  "textoComplementar": {
                    "type": "string",
                    "description": "Informações complementares da loja (optional)"
                  },
                  "retirarNaLoja": {
                    "type": "boolean",
                    "description": "Se a retirada na loja será ativada (optional)"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude (optional)",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude (optional)",
                    "format": "double"
                  },
                  "centroDistribuicao": {
                    "type": "array",
                    "description": "Lista com os Identificadores dos centros de distribuição que serão vinculados a loja física (optional)",
                    "items": {
                      "properties": {
                        "centroDistribuicaoId": {
                          "type": "integer",
                          "description": "Id do centro de distribuição",
                          "format": "int32"
                        },
                        "prazoEntrega": {
                          "type": "integer",
                          "description": "Prazo de entrega",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b5f0cf26899305a6f7ea96"
}