{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/fretes/{freteId}/detalhes": {
      "post": {
        "summary": "Insere um novo detalhe de frete vinculado a um contrato de frete",
        "description": "",
        "operationId": "insere-um-novo-detalhe-de-frete-vinculado-a-um-contrato-de-frete",
        "parameters": [
          {
            "name": "freteId",
            "in": "path",
            "description": "Id do contrato de frete",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cepInicial": {
                    "type": "integer",
                    "description": "Informe o cep inicial (optional)",
                    "format": "int32"
                  },
                  "cepFinal": {
                    "type": "integer",
                    "description": "Informe o cep final (optional)",
                    "format": "int32"
                  },
                  "variacoesFreteDetalhe": {
                    "type": "array",
                    "description": "Variações de detalhe do frete (optional)",
                    "items": {
                      "properties": {
                        "pesoInicial": {
                          "type": "number",
                          "description": "Informe o peso inicial",
                          "format": "double"
                        },
                        "pesoFinal": {
                          "type": "number",
                          "description": "Informe o peso final",
                          "format": "double"
                        },
                        "valorFrete": {
                          "type": "number",
                          "description": "Informe o valor do frete",
                          "format": "double"
                        },
                        "prazoEntrega": {
                          "type": "number",
                          "description": "Informe o prazo de entrega",
                          "format": "double"
                        },
                        "valorPreco": {
                          "type": "number",
                          "description": "Informe o valor preço",
                          "format": "double"
                        },
                        "valorPeso": {
                          "type": "number",
                          "description": "Informe o valor peso",
                          "format": "double"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Detalhes de frete inserido com sucesso": {
                    "value": "Detalhes de frete inserido com sucesso"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b0d42276643100982d7acb"
}