{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/tabelaPrecos/{tabelaPrecoId}/produtos": {
      "post": {
        "summary": "Inseri uma lista de produto variantes em uma tabela de preços",
        "description": "",
        "operationId": "inseri-uma-lista-de-produto-variantes-em-uma-tabela-de-precos",
        "parameters": [
          {
            "name": "tabelaPrecoId",
            "in": "path",
            "description": "Id da tabela de preço",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "array",
                    "description": "Lista de produtos variantes",
                    "items": {
                      "properties": {
                        "sku": {
                          "type": "string",
                          "description": "SKU do produto"
                        },
                        "precoDe": {
                          "type": "number",
                          "description": "Preço De do produto",
                          "format": "double"
                        },
                        "precoPor": {
                          "type": "number",
                          "description": "Preço Por do produto",
                          "format": "double"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Lista com o retorno do processamento dos produtos enviados": {
                    "value": "{\n  \"sucesso\": [\n    {\n      \"sku\": \"string\",\n      \"resultado\": true,\n      \"detalhes\": \"string\"\n    }\n  ],\n  \"erro\": [\n    {\n      \"sku\": \"string\",\n      \"resultado\": true,\n      \"detalhes\": \"string\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "sucesso": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "example": "string"
                          },
                          "resultado": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "detalhes": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "erro": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "example": "string"
                          },
                          "resultado": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "detalhes": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62d6a9fe4960ff007e2e25d5"
}