{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/fretes": {
      "post": {
        "summary": "Insere um novo contrato de frete",
        "description": "",
        "operationId": "insere-um-novo-contrato-de-frete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do contrato de frete (optional)"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status do contrato de frete (optional)"
                  },
                  "volumeMaximo": {
                    "type": "integer",
                    "description": "Volume máximo permitido , em metro cúbico (m³). (optional)",
                    "format": "int32"
                  },
                  "pesoCubado": {
                    "type": "number",
                    "description": "Informe o peso cubado. Altura x largura x profundidade x fator de cubagem. (optional)",
                    "format": "double"
                  },
                  "entregaAgendadaConfiguracaoId": {
                    "type": "integer",
                    "description": "Id da configuração entrega agendada (optional)",
                    "format": "int32"
                  },
                  "linkRastreamento": {
                    "type": "string",
                    "description": "URL rastreamento (optional)"
                  },
                  "ehAssinatura": {
                    "type": "boolean",
                    "description": "Contrato é exclusivo assinatura (optional)"
                  },
                  "larguraMaxima": {
                    "type": "integer",
                    "description": "Informe a largura máxima, em centímetros (cm). (optional)",
                    "format": "int32"
                  },
                  "alturaMaxima": {
                    "type": "integer",
                    "description": "Informe a altura máxima, em centímetros (cm). (optional)",
                    "format": "int32"
                  },
                  "comprimentoMaximo": {
                    "type": "integer",
                    "description": "Informe o comprimento máximo, em centímetros (cm). (optional)",
                    "format": "int32"
                  },
                  "limiteMaximoDimensoes": {
                    "type": "integer",
                    "description": "Informe a soma das três dimensões (Largura + Altura + Comprimento), em centímetros (cm). (optional)",
                    "format": "int32"
                  },
                  "limitePesoCubado": {
                    "type": "number",
                    "description": "Informe o limite de peso cubado, em gramas (g). (optional)",
                    "format": "double"
                  },
                  "tempoMinimoDespacho": {
                    "type": "integer",
                    "description": "Informe quantos dias no mínimo esse contrato de frete leva para ser enviado ao cliente (optional)",
                    "format": "int32"
                  },
                  "centroDistribuicaoId": {
                    "type": "integer",
                    "description": "Informe o Id do centro de distribuição (optional)",
                    "format": "int32"
                  },
                  "valorMinimoProdutos": {
                    "type": "number",
                    "description": "Informe o valor mínimo em produtos necessário para disponibilidade da tabela de frete (optional)",
                    "format": "double"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Id do frete gerado": {
                    "value": "Id do frete gerado"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b0a6af7953870133270d58"
}