{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/seo": {
      "post": {
        "summary": "Insere um SEO para um produto específico",
        "description": "",
        "operationId": "insere-um-seo-para-um-produto-especifico",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoId",
                "ProdutoVarianteId"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tagCanonical": {
                    "type": "string",
                    "description": "Informe a URL a ser inserida na TAG Canonical. Caso nenhum dado seja inserido, a TAG Canonical não será inserida na Página do Produto (optional)"
                  },
                  "title": {
                    "type": "string",
                    "description": "Informe o title da página do produto (optional)"
                  },
                  "metaTags": {
                    "type": "array",
                    "description": "Informe os dados da Meta Tag (optional)",
                    "items": {
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "Dados da Meta Tag"
                        },
                        "httpEquiv": {
                          "type": "string",
                          "description": "Dados da Meta Tag"
                        },
                        "name": {
                          "type": "string",
                          "description": "Dados da Meta Tag"
                        },
                        "scheme": {
                          "type": "string",
                          "description": "Dados da Meta Tag"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c49b1d38e2fb0031bb3c8d"
}