{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/fretes/cotacoes": {
      "post": {
        "summary": "Realiza uma cotação de frete",
        "description": "Método que realiza uma cotação de frete",
        "operationId": "realiza-uma-cotacao-de-frete",
        "parameters": [
          {
            "name": "cep",
            "in": "query",
            "description": "Cep de entrega",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno da fstore",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          },
          {
            "name": "retiradaLoja",
            "in": "query",
            "description": "Define se deve retornar as opções de retirada em loja (\"False\" por padrão) (optional)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "valorTotal": {
                    "type": "number",
                    "description": "Valor total do pedido (optional)",
                    "format": "double"
                  },
                  "produtos": {
                    "type": "array",
                    "description": "Lista de produtos da cotação",
                    "items": {
                      "properties": {
                        "identificador": {
                          "type": "string",
                          "description": "Id do produto variante"
                        },
                        "quantidade": {
                          "type": "integer",
                          "description": "Quantidade do produto",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "[\n  {\n    \"id\": \"string\",\n    \"nome\": \"string\",\n    \"prazo\": 0,\n    \"tabelaFreteId\": \"string\",\n    \"tipo\": \"string\",\n    \"valor\": 0,\n    \"produtos\": [\n      {\n        \"produtoVarianteId\": 0,\n        \"valor\": 0\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "string"
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "prazo": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "tabelaFreteId": {
                        "type": "string",
                        "example": "string"
                      },
                      "tipo": {
                        "type": "string",
                        "example": "string"
                      },
                      "valor": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "produtoVarianteId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "valor": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b0d58a11a77e00940d9613"
}