{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/resellers/{resellerId}": {
      "get": {
        "summary": "Retorna um Seller específico da loja",
        "description": "Reseller específico",
        "operationId": "retorna-um-seller-especifico-da-loja-1",
        "parameters": [
          {
            "name": "resellerId",
            "in": "path",
            "description": "Valor único utilizado para identificar o seller",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"resellerId\": 0,\n  \"razaoSocial\": \"string\",\n  \"centroDistribuicaoId\": 0,\n  \"ativo\": true,\n  \"ativacaoAutomaticaProdutos\": true,\n  \"autonomia\": true,\n  \"buyBox\": true,\n  \"nomeMarketPlace\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resellerId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "razaoSocial": {
                      "type": "string",
                      "example": "string"
                    },
                    "centroDistribuicaoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "ativo": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "ativacaoAutomaticaProdutos": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "autonomia": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "buyBox": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "nomeMarketPlace": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62d1c003daaa690093b8c56a"
}