{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/dashboard/faturamento": {
      "get": {
        "summary": "Retorna indicadores de faturamento (receita, ticket médio e número de pedidos) da loja",
        "description": "Indicadores de Faturamento",
        "operationId": "retorna-indicadores-de-faturamento-receita-ticket-medio-e-numero-de-pedidos-da-loja",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial dos indicadores que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final dos indicadores que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataInicialComparativo",
            "in": "query",
            "description": "Data inicial do comparativo dos indicadores que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinalComparativo",
            "in": "query",
            "description": "Data final do comparativo dos indicadores que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"indicadorReceita\": 0,\n  \"indicadorPedido\": 0,\n  \"indicadorTicketMedio\": 0,\n  \"indicadorReceitaComparativo\": 0,\n  \"indicadorPedidoComparativo\": 0,\n  \"indicadorTicketMedioComparativo\": 0,\n  \"indicadorReceitaFormatado\": \"string\",\n  \"indicadorPedidoFormatado\": \"string\",\n  \"indicadorTicketMedioFormatado\": \"string\",\n  \"indicadorReceitaComparativoFormatado\": \"string\",\n  \"indicadorPedidoComparativoFormatado\": \"string\",\n  \"indicadorTicketMedioComparativoFormatado\": \"string\",\n  \"indicadorReceitaPorcentagem\": \"string\",\n  \"indicadorPedidoPorcentagem\": \"string\",\n  \"indicadorTicketMedioPorcentagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "indicadorReceita": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "indicadorPedido": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "indicadorTicketMedio": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "indicadorReceitaComparativo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "indicadorPedidoComparativo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "indicadorTicketMedioComparativo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "indicadorReceitaFormatado": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorPedidoFormatado": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorTicketMedioFormatado": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorReceitaComparativoFormatado": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorPedidoComparativoFormatado": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorTicketMedioComparativoFormatado": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorReceitaPorcentagem": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorPedidoPorcentagem": {
                      "type": "string",
                      "example": "string"
                    },
                    "indicadorTicketMedioPorcentagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62aa3538d6fe640062ab9c55"
}