{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/pedidos/{pedidoId}/produtos/{produtoVarianteId}/rastreamento/{pedidoRastreamentoProdutoId}": {
      "get": {
        "summary": "Retorna um rastreamento de produto",
        "description": "Rastreamento de produto encontrado",
        "operationId": "retorna-um-rastreamento-de-produto",
        "parameters": [
          {
            "name": "pedidoId",
            "in": "path",
            "description": "Número do pedido que se deseja buscar",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "produtoVarianteId",
            "in": "path",
            "description": "Id do Produto Variante",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "pedidoRastreamentoProdutoId",
            "in": "path",
            "description": "Id do Pedido Rastreamento Produto",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"pedidoRastreamentoProdutoId\": 0,\n  \"pedidoId\": 0,\n  \"produtoVarianteId\": 0,\n  \"pedidoProdutoId\": 0,\n  \"dataInclusao\": \"2022-06-28T11:18:19.225Z\",\n  \"dataAlteracao\": \"2022-06-28T11:18:19.225Z\",\n  \"notaFiscal\": \"string\",\n  \"cfop\": 0,\n  \"dataEnviado\": \"2022-06-28T11:18:19.225Z\",\n  \"chaveAcessoNFE\": \"string\",\n  \"rastreamento\": \"string\",\n  \"urlRastreamento\": \"string\",\n  \"quantidade\": 0,\n  \"urlNFE\": \"string\",\n  \"serieNFE\": \"string\",\n  \"tipoPostagem\": \"string\",\n  \"centroDistribuicao\": \"string\",\n  \"transportadora\": \"string\",\n  \"dataEntrega\": \"2022-06-28T11:18:19.225Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pedidoRastreamentoProdutoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pedidoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "produtoVarianteId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pedidoProdutoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "dataInclusao": {
                      "type": "string",
                      "example": "2022-06-28T11:18:19.225Z"
                    },
                    "dataAlteracao": {
                      "type": "string",
                      "example": "2022-06-28T11:18:19.225Z"
                    },
                    "notaFiscal": {
                      "type": "string",
                      "example": "string"
                    },
                    "cfop": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "dataEnviado": {
                      "type": "string",
                      "example": "2022-06-28T11:18:19.225Z"
                    },
                    "chaveAcessoNFE": {
                      "type": "string",
                      "example": "string"
                    },
                    "rastreamento": {
                      "type": "string",
                      "example": "string"
                    },
                    "urlRastreamento": {
                      "type": "string",
                      "example": "string"
                    },
                    "quantidade": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "urlNFE": {
                      "type": "string",
                      "example": "string"
                    },
                    "serieNFE": {
                      "type": "string",
                      "example": "string"
                    },
                    "tipoPostagem": {
                      "type": "string",
                      "example": "string"
                    },
                    "centroDistribuicao": {
                      "type": "string",
                      "example": "string"
                    },
                    "transportadora": {
                      "type": "string",
                      "example": "string"
                    },
                    "dataEntrega": {
                      "type": "string",
                      "example": "2022-06-28T11:18:19.225Z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bb2a3456172300834e2406"
}