{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/alteracoes": {
      "get": {
        "summary": "Retorna todos os produtos",
        "description": "Lista de preços e estoque de produtos que sofreram alterações",
        "operationId": "retorna-todos-os-produtos-1",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadeRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "alteradosPartirDe",
            "in": "query",
            "description": "Retorna apenas os produtos que sofreram alguma alteração a partir da data/hora informada. Formato: aaaa-mm-dd hh:mm:ss com no máximo 48 horas de antecedência",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoId\": 0,\n    \"produtoVarianteId\": 0,\n    \"sku\": \"string\",\n    \"precoDe\": 0,\n    \"precoPor\": 0,\n    \"disponivel\": true,\n    \"valido\": true,\n    \"exibirSite\": true,\n    \"estoque\": [\n      {\n        \"estoqueFisico\": 0,\n        \"estoqueReservado\": 0,\n        \"centroDistribuicaoId\": 0,\n        \"alertaEstoque\": 0\n      }\n    ],\n    \"tabelasPreco\": [\n      {\n        \"tabelaPrecoId\": 0,\n        \"nome\": \"string\",\n        \"precoDe\": 0,\n        \"precoPor\": 0\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "sku": {
                        "type": "string",
                        "example": "string"
                      },
                      "precoDe": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "precoPor": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "disponivel": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "valido": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "exibirSite": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "estoque": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "estoqueFisico": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "estoqueReservado": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "centroDistribuicaoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "alertaEstoque": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      },
                      "tabelasPreco": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tabelaPrecoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "nome": {
                              "type": "string",
                              "example": "string"
                            },
                            "precoDe": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "precoPor": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c3301d254560009866ae5f"
}