{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/pedidos/{pedidoId}/status": {
      "get": {
        "summary": "Retorna o último status de um pedido",
        "description": "Último status do pedido",
        "operationId": "retorna-o-ultimo-status-de-um-pedido",
        "parameters": [
          {
            "name": "pedidoId",
            "in": "path",
            "description": "Número do pedido que se deseja buscar",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"situacaoPedidoId\": 0,\n  \"dataAtualizacao\": \"2022-06-28T11:18:19.193Z\",\n  \"notaFiscal\": \"string\",\n  \"cfop\": 0,\n  \"dataEnviado\": \"2022-06-28T11:18:19.193Z\",\n  \"chaveAcessoNFE\": \"string\",\n  \"rastreamento\": \"string\",\n  \"urlRastreamento\": \"string\",\n  \"nomeTransportadora\": \"string\",\n  \"produtos\": [\n    {\n      \"produtoVarianteId\": 0,\n      \"situacaoProdutoId\": 0,\n      \"quantidade\": 0,\n      \"centroDistribuicaoId\": 0\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "situacaoPedidoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "dataAtualizacao": {
                      "type": "string",
                      "example": "2022-06-28T11:18:19.193Z"
                    },
                    "notaFiscal": {
                      "type": "string",
                      "example": "string"
                    },
                    "cfop": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "dataEnviado": {
                      "type": "string",
                      "example": "2022-06-28T11:18:19.193Z"
                    },
                    "chaveAcessoNFE": {
                      "type": "string",
                      "example": "string"
                    },
                    "rastreamento": {
                      "type": "string",
                      "example": "string"
                    },
                    "urlRastreamento": {
                      "type": "string",
                      "example": "string"
                    },
                    "nomeTransportadora": {
                      "type": "string",
                      "example": "string"
                    },
                    "produtos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "produtoVarianteId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "situacaoProdutoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "quantidade": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "centroDistribuicaoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bb0eb3b2d02402aeeebedf"
}