{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/lojasFisicas": {
      "get": {
        "summary": "Retorna todas as Lojas Físicas",
        "description": "Lista de Lojas Físicas",
        "operationId": "retorna-todas-as-lojas-fisicas",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadeRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"lojaId\": 0,\n    \"nome\": \"string\",\n    \"ddd\": 0,\n    \"telefone\": \"string\",\n    \"email\": \"string\",\n    \"cep\": \"string\",\n    \"logradouro\": \"string\",\n    \"numero\": \"string\",\n    \"complemento\": \"string\",\n    \"bairro\": \"string\",\n    \"cidade\": \"string\",\n    \"estadoId\": 0,\n    \"prazoEntrega\": 0,\n    \"prazoMaximoRetirada\": 0,\n    \"ativo\": true,\n    \"valido\": true,\n    \"textoComplementar\": \"string\",\n    \"retirarNaLoja\": true,\n    \"latitude\": 0,\n    \"longitude\": 0,\n    \"centroDistribuicaoId\": 0,\n    \"centroDistribuicao\": [\n      {\n        \"centroDistribuicaoId\": 0,\n        \"prazoEntrega\": 0\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lojaId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "ddd": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "telefone": {
                        "type": "string",
                        "example": "string"
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "cep": {
                        "type": "string",
                        "example": "string"
                      },
                      "logradouro": {
                        "type": "string",
                        "example": "string"
                      },
                      "numero": {
                        "type": "string",
                        "example": "string"
                      },
                      "complemento": {
                        "type": "string",
                        "example": "string"
                      },
                      "bairro": {
                        "type": "string",
                        "example": "string"
                      },
                      "cidade": {
                        "type": "string",
                        "example": "string"
                      },
                      "estadoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "prazoEntrega": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "prazoMaximoRetirada": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "valido": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "textoComplementar": {
                        "type": "string",
                        "example": "string"
                      },
                      "retirarNaLoja": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "latitude": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "longitude": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "centroDistribuicaoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "centroDistribuicao": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "centroDistribuicaoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "prazoEntrega": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b5ef5058633d00afe39f5a"
}