{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/pedidos/{pedidoId}": {
      "get": {
        "summary": "Retorna um pedido especifico",
        "description": "Pedido encontrado",
        "operationId": "retorna-um-pedido-especifico",
        "parameters": [
          {
            "name": "pedidoId",
            "in": "path",
            "description": "Número do pedido que se deseja buscar",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"pedidoId\": 0,\n  \"situacaoPedidoId\": 0,\n  \"tipoRastreamentoPedido\": \"SemRastreamento\",\n  \"transacaoId\": 0,\n  \"data\": \"2022-06-17T11:14:39.010Z\",\n  \"dataPagamento\": \"2022-06-17T11:14:39.010Z\",\n  \"dataUltimaAtualizacao\": \"2022-06-17T11:14:39.010Z\",\n  \"valorFrete\": 0,\n  \"valorTotalPedido\": 0,\n  \"valorDesconto\": 0,\n  \"valorDebitoCC\": 0,\n  \"cupomDesconto\": \"string\",\n  \"marketPlacePedidoId\": \"string\",\n  \"marketPlacePedidoSiteId\": \"string\",\n  \"canalId\": 0,\n  \"canalNome\": \"string\",\n  \"canalOrigem\": \"string\",\n  \"retiradaLojaId\": 0,\n  \"isPedidoEvento\": true,\n  \"usuario\": {\n    \"usuarioId\": 0,\n    \"grupoInformacaoCadastral\": [\n      {\n        \"chave\": \"string\",\n        \"valor\": \"string\"\n      }\n    ],\n    \"tipoPessoa\": \"Fisica\",\n    \"origemContato\": \"Google\",\n    \"tipoSexo\": \"Undefined\",\n    \"nome\": \"string\",\n    \"cpf\": \"string\",\n    \"email\": \"string\",\n    \"rg\": \"string\",\n    \"telefoneResidencial\": \"string\",\n    \"telefoneCelular\": \"string\",\n    \"telefoneComercial\": \"string\",\n    \"dataNascimento\": \"2022-06-17T11:14:39.010Z\",\n    \"razaoSocial\": \"string\",\n    \"cnpj\": \"string\",\n    \"inscricaoEstadual\": \"string\",\n    \"responsavel\": \"string\",\n    \"dataCriacao\": \"2022-06-17T11:14:39.010Z\",\n    \"dataAtualizacao\": \"2022-06-17T11:14:39.010Z\",\n    \"revendedor\": true,\n    \"listaInformacaoCadastral\": [\n      {\n        \"chave\": \"string\",\n        \"valor\": \"string\"\n      }\n    ]\n  },\n  \"pedidoEndereco\": [\n    {\n      \"tipo\": \"Entrega\",\n      \"nome\": \"string\",\n      \"endereco\": \"string\",\n      \"numero\": \"string\",\n      \"complemento\": \"string\",\n      \"referencia\": \"string\",\n      \"cep\": \"string\",\n      \"tipoLogradouro\": \"string\",\n      \"logradouro\": \"string\",\n      \"bairro\": \"string\",\n      \"cidade\": \"string\",\n      \"estado\": \"string\",\n      \"pais\": \"string\"\n    }\n  ],\n  \"frete\": {\n    \"freteContratoId\": 0,\n    \"freteContrato\": \"string\",\n    \"referenciaConector\": \"string\",\n    \"valorFreteEmpresa\": 0,\n    \"valorFreteCliente\": 0,\n    \"peso\": 0,\n    \"pesoCobrado\": 0,\n    \"volume\": 0,\n    \"volumeCobrado\": 0,\n    \"prazoEnvio\": 0,\n    \"prazoEnvioTexto\": \"string\",\n    \"retiradaLojaId\": 0,\n    \"centrosDistribuicao\": [\n      {\n        \"freteContratoId\": 0,\n        \"freteContrato\": \"string\",\n        \"valorFreteEmpresa\": 0,\n        \"valorFreteCliente\": 0,\n        \"peso\": 0,\n        \"pesoCobrado\": 0,\n        \"volume\": 0,\n        \"volumeCobrado\": 0,\n        \"prazoEnvio\": 0,\n        \"prazoEnvioTexto\": \"string\",\n        \"centroDistribuicaoId\": 0\n      }\n    ],\n    \"servico\": {\n      \"servicoId\": 0,\n      \"nome\": \"string\",\n      \"transportadora\": \"string\",\n      \"prazo\": 0,\n      \"servicoNome\": \"string\",\n      \"preco\": 0,\n      \"servicoTransporte\": 0,\n      \"codigo\": 0,\n      \"servicoMeta\": \"string\",\n      \"custo\": 0,\n      \"token\": \"string\"\n    },\n    \"retiradaAgendada\": {\n      \"lojaId\": 0,\n      \"retiradaData\": \"2022-06-17T11:14:39.011Z\",\n      \"retiradaPeriodo\": \"string\",\n      \"nome\": \"string\",\n      \"documento\": \"string\",\n      \"codigoRetirada\": \"string\"\n    },\n    \"agendamento\": {\n      \"de\": \"2022-06-17T11:14:39.011Z\",\n      \"ate\": \"2022-06-17T11:14:39.011Z\"\n    },\n    \"informacoesAdicionais\": [\n      {\n        \"chave\": \"string\",\n        \"valor\": \"string\"\n      }\n    ]\n  },\n  \"itens\": [\n    {\n      \"produtoVarianteId\": 0,\n      \"sku\": \"string\",\n      \"nome\": \"string\",\n      \"quantidade\": 0,\n      \"precoCusto\": 0,\n      \"precoVenda\": 0,\n      \"isBrinde\": true,\n      \"valorAliquota\": 0,\n      \"isMarketPlace\": true,\n      \"precoPor\": 0,\n      \"desconto\": 0,\n      \"totais\": {\n        \"precoCusto\": 0,\n        \"precoVenda\": 0,\n        \"precoPor\": 0,\n        \"desconto\": 0\n      },\n      \"ajustes\": [\n        {\n          \"tipo\": \"Frete\",\n          \"valor\": 0,\n          \"observacao\": \"string\",\n          \"nome\": \"string\"\n        }\n      ],\n      \"centroDistribuicao\": [\n        {\n          \"centroDistribuicaoId\": 0,\n          \"quantidade\": 0,\n          \"situacaoProdutoId\": 0,\n          \"valorFreteEmpresa\": 0,\n          \"valorFreteCliente\": 0\n        }\n      ],\n      \"valoresAdicionais\": [\n        {\n          \"tipo\": \"Acrescimo\",\n          \"origem\": \"string\",\n          \"texto\": \"string\",\n          \"valor\": 0\n        }\n      ],\n      \"atributos\": [\n        {\n          \"produtoVarianteAtributoValor\": \"string\",\n          \"produtoVarianteAtributoNome\": \"string\"\n        }\n      ],\n      \"embalagens\": [\n        {\n          \"tipoEmbalagemId\": 0,\n          \"nomeTipoEmbalagem\": \"string\",\n          \"mensagem\": \"string\",\n          \"valor\": 0,\n          \"descricao\": \"string\"\n        }\n      ],\n      \"personalizacoes\": [\n        {\n          \"nomePersonalizacao\": \"string\",\n          \"valorPersonalizacao\": \"string\",\n          \"valor\": 0\n        }\n      ],\n      \"frete\": [\n        {\n          \"quantidade\": 0,\n          \"freteContratoId\": 0,\n          \"freteContrato\": \"string\",\n          \"valorFreteEmpresa\": 0,\n          \"valorFreteCliente\": 0,\n          \"peso\": 0,\n          \"pesoCobrado\": 0,\n          \"volume\": 0,\n          \"volumeCobrado\": 0,\n          \"prazoEnvio\": 0,\n          \"prazoEnvioTexto\": \"string\",\n          \"centroDistribuicaoId\": 0\n        }\n      ],\n      \"dadosProdutoEvento\": {\n        \"tipoPresenteRecebimento\": \"None\"\n      },\n      \"formulas\": [\n        {\n          \"chaveAjuste\": \"string\",\n          \"valor\": 0,\n          \"nome\": \"string\",\n          \"expressao\": \"string\",\n          \"expressaoInterpretada\": \"string\",\n          \"endPoint\": \"string\"\n        }\n      ],\n      \"seller\": {\n        \"sellerId\": 0,\n        \"sellerNome\": \"string\",\n        \"sellerPedidoId\": 0\n      }\n    }\n  ],\n  \"assinatura\": [\n    {\n      \"assinaturaId\": 0,\n      \"grupoAssinaturaId\": 0,\n      \"tipoPeriodo\": \"string\",\n      \"tempoPeriodo\": 0,\n      \"percentualDesconto\": 0\n    }\n  ],\n  \"pagamento\": [\n    {\n      \"formaPagamentoId\": 0,\n      \"numeroParcelas\": 0,\n      \"valorParcela\": 0,\n      \"valorDesconto\": 0,\n      \"valorJuros\": 0,\n      \"valorTotal\": 0,\n      \"boleto\": {\n        \"urlBoleto\": \"string\",\n        \"codigoDeBarras\": \"string\"\n      },\n      \"cartaoCredito\": [\n        {\n          \"numeroCartao\": \"string\",\n          \"nomeTitular\": \"string\",\n          \"dataValidade\": \"string\",\n          \"codigoSeguranca\": \"string\",\n          \"documentoCartaoCredito\": \"string\",\n          \"token\": \"string\",\n          \"info\": \"string\",\n          \"bandeira\": \"string\"\n        }\n      ],\n      \"pagamentoStatus\": [\n        {\n          \"numeroAutorizacao\": \"string\",\n          \"numeroComprovanteVenda\": \"string\",\n          \"dataAtualizacao\": \"2022-06-17T11:14:39.011Z\",\n          \"dataUltimoStatus\": \"2022-06-17T11:14:39.011Z\",\n          \"adquirente\": \"string\",\n          \"tid\": \"string\"\n        }\n      ],\n      \"informacoesAdicionais\": [\n        {\n          \"chave\": \"string\",\n          \"valor\": \"string\"\n        }\n      ]\n    }\n  ],\n  \"observacao\": [\n    {\n      \"observacao\": \"string\",\n      \"usuario\": \"string\",\n      \"data\": \"2022-06-17T11:14:39.011Z\",\n      \"publica\": true\n    }\n  ],\n  \"valorCreditoFidelidade\": 0,\n  \"valido\": true,\n  \"valorSubTotalSemDescontos\": 0,\n  \"pedidoSplit\": [\n    0\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pedidoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "situacaoPedidoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "tipoRastreamentoPedido": {
                      "type": "string",
                      "example": "SemRastreamento"
                    },
                    "transacaoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "data": {
                      "type": "string",
                      "example": "2022-06-17T11:14:39.010Z"
                    },
                    "dataPagamento": {
                      "type": "string",
                      "example": "2022-06-17T11:14:39.010Z"
                    },
                    "dataUltimaAtualizacao": {
                      "type": "string",
                      "example": "2022-06-17T11:14:39.010Z"
                    },
                    "valorFrete": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "valorTotalPedido": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "valorDesconto": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "valorDebitoCC": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "cupomDesconto": {
                      "type": "string",
                      "example": "string"
                    },
                    "marketPlacePedidoId": {
                      "type": "string",
                      "example": "string"
                    },
                    "marketPlacePedidoSiteId": {
                      "type": "string",
                      "example": "string"
                    },
                    "canalId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "canalNome": {
                      "type": "string",
                      "example": "string"
                    },
                    "canalOrigem": {
                      "type": "string",
                      "example": "string"
                    },
                    "retiradaLojaId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "isPedidoEvento": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "usuario": {
                      "type": "object",
                      "properties": {
                        "usuarioId": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "grupoInformacaoCadastral": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "chave": {
                                "type": "string",
                                "example": "string"
                              },
                              "valor": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        },
                        "tipoPessoa": {
                          "type": "string",
                          "example": "Fisica"
                        },
                        "origemContato": {
                          "type": "string",
                          "example": "Google"
                        },
                        "tipoSexo": {
                          "type": "string",
                          "example": "Undefined"
                        },
                        "nome": {
                          "type": "string",
                          "example": "string"
                        },
                        "cpf": {
                          "type": "string",
                          "example": "string"
                        },
                        "email": {
                          "type": "string",
                          "example": "string"
                        },
                        "rg": {
                          "type": "string",
                          "example": "string"
                        },
                        "telefoneResidencial": {
                          "type": "string",
                          "example": "string"
                        },
                        "telefoneCelular": {
                          "type": "string",
                          "example": "string"
                        },
                        "telefoneComercial": {
                          "type": "string",
                          "example": "string"
                        },
                        "dataNascimento": {
                          "type": "string",
                          "example": "2022-06-17T11:14:39.010Z"
                        },
                        "razaoSocial": {
                          "type": "string",
                          "example": "string"
                        },
                        "cnpj": {
                          "type": "string",
                          "example": "string"
                        },
                        "inscricaoEstadual": {
                          "type": "string",
                          "example": "string"
                        },
                        "responsavel": {
                          "type": "string",
                          "example": "string"
                        },
                        "dataCriacao": {
                          "type": "string",
                          "example": "2022-06-17T11:14:39.010Z"
                        },
                        "dataAtualizacao": {
                          "type": "string",
                          "example": "2022-06-17T11:14:39.010Z"
                        },
                        "revendedor": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "listaInformacaoCadastral": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "chave": {
                                "type": "string",
                                "example": "string"
                              },
                              "valor": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "pedidoEndereco": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tipo": {
                            "type": "string",
                            "example": "Entrega"
                          },
                          "nome": {
                            "type": "string",
                            "example": "string"
                          },
                          "endereco": {
                            "type": "string",
                            "example": "string"
                          },
                          "numero": {
                            "type": "string",
                            "example": "string"
                          },
                          "complemento": {
                            "type": "string",
                            "example": "string"
                          },
                          "referencia": {
                            "type": "string",
                            "example": "string"
                          },
                          "cep": {
                            "type": "string",
                            "example": "string"
                          },
                          "tipoLogradouro": {
                            "type": "string",
                            "example": "string"
                          },
                          "logradouro": {
                            "type": "string",
                            "example": "string"
                          },
                          "bairro": {
                            "type": "string",
                            "example": "string"
                          },
                          "cidade": {
                            "type": "string",
                            "example": "string"
                          },
                          "estado": {
                            "type": "string",
                            "example": "string"
                          },
                          "pais": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "frete": {
                      "type": "object",
                      "properties": {
                        "freteContratoId": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "freteContrato": {
                          "type": "string",
                          "example": "string"
                        },
                        "referenciaConector": {
                          "type": "string",
                          "example": "string"
                        },
                        "valorFreteEmpresa": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "valorFreteCliente": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "peso": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "pesoCobrado": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "volume": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "volumeCobrado": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "prazoEnvio": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "prazoEnvioTexto": {
                          "type": "string",
                          "example": "string"
                        },
                        "retiradaLojaId": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "centrosDistribuicao": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "freteContratoId": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "freteContrato": {
                                "type": "string",
                                "example": "string"
                              },
                              "valorFreteEmpresa": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "valorFreteCliente": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "peso": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "pesoCobrado": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "volume": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "volumeCobrado": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "prazoEnvio": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "prazoEnvioTexto": {
                                "type": "string",
                                "example": "string"
                              },
                              "centroDistribuicaoId": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              }
                            }
                          }
                        },
                        "servico": {
                          "type": "object",
                          "properties": {
                            "servicoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "nome": {
                              "type": "string",
                              "example": "string"
                            },
                            "transportadora": {
                              "type": "string",
                              "example": "string"
                            },
                            "prazo": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "servicoNome": {
                              "type": "string",
                              "example": "string"
                            },
                            "preco": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "servicoTransporte": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "codigo": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "servicoMeta": {
                              "type": "string",
                              "example": "string"
                            },
                            "custo": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "token": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        },
                        "retiradaAgendada": {
                          "type": "object",
                          "properties": {
                            "lojaId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "retiradaData": {
                              "type": "string",
                              "example": "2022-06-17T11:14:39.011Z"
                            },
                            "retiradaPeriodo": {
                              "type": "string",
                              "example": "string"
                            },
                            "nome": {
                              "type": "string",
                              "example": "string"
                            },
                            "documento": {
                              "type": "string",
                              "example": "string"
                            },
                            "codigoRetirada": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        },
                        "agendamento": {
                          "type": "object",
                          "properties": {
                            "de": {
                              "type": "string",
                              "example": "2022-06-17T11:14:39.011Z"
                            },
                            "ate": {
                              "type": "string",
                              "example": "2022-06-17T11:14:39.011Z"
                            }
                          }
                        },
                        "informacoesAdicionais": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "chave": {
                                "type": "string",
                                "example": "string"
                              },
                              "valor": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "itens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "produtoVarianteId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "sku": {
                            "type": "string",
                            "example": "string"
                          },
                          "nome": {
                            "type": "string",
                            "example": "string"
                          },
                          "quantidade": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "precoCusto": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "precoVenda": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "isBrinde": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "valorAliquota": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "isMarketPlace": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "precoPor": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "desconto": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "totais": {
                            "type": "object",
                            "properties": {
                              "precoCusto": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "precoVenda": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "precoPor": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "desconto": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              }
                            }
                          },
                          "ajustes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "tipo": {
                                  "type": "string",
                                  "example": "Frete"
                                },
                                "valor": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "observacao": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "nome": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          },
                          "centroDistribuicao": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "centroDistribuicaoId": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "quantidade": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "situacaoProdutoId": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "valorFreteEmpresa": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "valorFreteCliente": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "valoresAdicionais": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "tipo": {
                                  "type": "string",
                                  "example": "Acrescimo"
                                },
                                "origem": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "texto": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valor": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "atributos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "produtoVarianteAtributoValor": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "produtoVarianteAtributoNome": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          },
                          "embalagens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "tipoEmbalagemId": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "nomeTipoEmbalagem": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "mensagem": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valor": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "descricao": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          },
                          "personalizacoes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "nomePersonalizacao": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valorPersonalizacao": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valor": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "frete": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quantidade": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "freteContratoId": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "freteContrato": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valorFreteEmpresa": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "valorFreteCliente": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "peso": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "pesoCobrado": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "volume": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "volumeCobrado": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "prazoEnvio": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "prazoEnvioTexto": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "centroDistribuicaoId": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "dadosProdutoEvento": {
                            "type": "object",
                            "properties": {
                              "tipoPresenteRecebimento": {
                                "type": "string",
                                "example": "None"
                              }
                            }
                          },
                          "formulas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "chaveAjuste": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valor": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "nome": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "expressao": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "expressaoInterpretada": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "endPoint": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          },
                          "seller": {
                            "type": "object",
                            "properties": {
                              "sellerId": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "sellerNome": {
                                "type": "string",
                                "example": "string"
                              },
                              "sellerPedidoId": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              }
                            }
                          }
                        }
                      }
                    },
                    "assinatura": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assinaturaId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "grupoAssinaturaId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "tipoPeriodo": {
                            "type": "string",
                            "example": "string"
                          },
                          "tempoPeriodo": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "percentualDesconto": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    },
                    "pagamento": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "formaPagamentoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "numeroParcelas": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "valorParcela": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "valorDesconto": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "valorJuros": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "valorTotal": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "boleto": {
                            "type": "object",
                            "properties": {
                              "urlBoleto": {
                                "type": "string",
                                "example": "string"
                              },
                              "codigoDeBarras": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "cartaoCredito": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "numeroCartao": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "nomeTitular": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "dataValidade": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "codigoSeguranca": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "documentoCartaoCredito": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "token": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "info": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "bandeira": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          },
                          "pagamentoStatus": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "numeroAutorizacao": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "numeroComprovanteVenda": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "dataAtualizacao": {
                                  "type": "string",
                                  "example": "2022-06-17T11:14:39.011Z"
                                },
                                "dataUltimoStatus": {
                                  "type": "string",
                                  "example": "2022-06-17T11:14:39.011Z"
                                },
                                "adquirente": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "tid": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          },
                          "informacoesAdicionais": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "chave": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "valor": {
                                  "type": "string",
                                  "example": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "observacao": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "observacao": {
                            "type": "string",
                            "example": "string"
                          },
                          "usuario": {
                            "type": "string",
                            "example": "string"
                          },
                          "data": {
                            "type": "string",
                            "example": "2022-06-17T11:14:39.011Z"
                          },
                          "publica": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    },
                    "valorCreditoFidelidade": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "valido": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "valorSubTotalSemDescontos": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pedidoSplit": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62ac84cdc617f9008362d02b"
}