{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/categorias": {
      "get": {
        "summary": "Retorna todas as categorias",
        "description": "Lista de categorias",
        "operationId": "retorna-todas-as-categorias",
        "parameters": [
          {
            "name": "hierarquia",
            "in": "query",
            "description": "Hierarquia da categoria",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "apenasReseller",
            "in": "query",
            "description": "Se será apresentado apenas Reseller",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "apenasUltimoNivel",
            "in": "query",
            "description": "Se será apresentado apenas o último nível das categorias",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "somenteFilhos",
            "in": "query",
            "description": "Se será apresentado somente categorias filhas",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"id\": 0,\n    \"nome\": \"string\",\n    \"categoriaPaiId\": 0,\n    \"categoriaERPId\": \"string\",\n    \"ativo\": true,\n    \"isReseller\": true,\n    \"exibirMatrizAtributos\": \"Sim\",\n    \"quantidadeMaximaCompraUnidade\": 0,\n    \"valorMinimoCompra\": 0,\n    \"exibeMenu\": true,\n    \"urlHotSite\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "categoriaPaiId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "categoriaERPId": {
                        "type": "string",
                        "example": "string"
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "isReseller": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "exibirMatrizAtributos": {
                        "type": "string",
                        "example": "Sim"
                      },
                      "quantidadeMaximaCompraUnidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "valorMinimoCompra": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "exibeMenu": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "urlHotSite": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a9e825da84df002ec5bc83"
}