{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/usuarios/newsletter": {
      "get": {
        "summary": "Retorna lista de usuários cadastrados/descadastrados na newsletter",
        "description": "Retorna lista de usuários cadastrados/descadastrados na newsletter (50 por página)",
        "operationId": "retorna-lista-de-usuarios-cadastradosdescadastrados-na-newsletter",
        "parameters": [
          {
            "name": "ordenarPor",
            "in": "query",
            "description": "Tipo de ordenação",
            "schema": {
              "type": "string",
              "enum": [
                "DataCadastro",
                "DataAtualizacao"
              ]
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial dos cadastros que deverão retornar (aaaa-mm-dd hh:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final dos cadastros que deverão retornar (aaaa-mm-dd hh:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status do usuário",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "doubleOptIn",
            "in": "query",
            "description": "DoubleOptIn aceito (verificar estado da configuração)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"nome\": \"string\",\n    \"email\": \"string\",\n    \"sexo\": \"string\",\n    \"status\": true,\n    \"grupoInformacao\": [\n      {\n        \"nome\": \"string\",\n        \"valor\": \"string\"\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "sexo": {
                        "type": "string",
                        "example": "string"
                      },
                      "status": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "grupoInformacao": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "nome": {
                              "type": "string",
                              "example": "string"
                            },
                            "valor": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62de9b925c29e9001aac9006"
}