{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/categorias": {
      "get": {
        "summary": "Retorna todas as categorias de um produto",
        "description": "Lista de categorias de um produto",
        "operationId": "retorna-todas-as-categorias-de-um-produto",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId",
                "ProdutoId"
              ]
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"id\": 0,\n    \"nome\": \"string\",\n    \"categoriaPaiId\": 0,\n    \"categoriaERPId\": \"string\",\n    \"ativo\": true,\n    \"isReseller\": true,\n    \"exibirMatrizAtributos\": \"Sim\",\n    \"quantidadeMaximaCompraUnidade\": 0,\n    \"valorMinimoCompra\": 0,\n    \"exibeMenu\": true,\n    \"urlHotSite\": \"string\",\n    \"caminhoHierarquia\": \"string\",\n    \"categoriaPrincipal\": true\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "categoriaPaiId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "categoriaERPId": {
                        "type": "string",
                        "example": "string"
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "isReseller": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "exibirMatrizAtributos": {
                        "type": "string",
                        "example": "Sim"
                      },
                      "quantidadeMaximaCompraUnidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "valorMinimoCompra": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "exibeMenu": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "urlHotSite": {
                        "type": "string",
                        "example": "string"
                      },
                      "caminhoHierarquia": {
                        "type": "string",
                        "example": "string"
                      },
                      "categoriaPrincipal": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Produto não encontrado": {
                    "value": "Produto não encontrado"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c44b6585171d0013b584f1"
}