{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/usuarios": {
      "get": {
        "summary": "Retorna todos os usuários",
        "description": "Lista de usuários",
        "operationId": "retorna-todos-os-usuarios",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadeRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial da data de criação do usuário que deverão retornar (aaaa-mm-dd hh:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final da data de criação do usuário que deverão retornar (aaaa-mm-dd hh:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "enumTipoFiltroData",
            "in": "query",
            "description": "Tipo de filtro de data",
            "schema": {
              "type": "string",
              "enum": [
                "DataAlteracao",
                "DataCriacao"
              ]
            }
          },
          {
            "name": "aprovado",
            "in": "query",
            "description": "Status de aprovação",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"usuarioId\": 0,\n    \"bloqueado\": true,\n    \"grupoInformacaoCadastral\": [\n      {\n        \"chave\": \"string\",\n        \"valor\": \"string\"\n      }\n    ],\n    \"tipoPessoa\": \"Fisica\",\n    \"origemContato\": \"Google\",\n    \"tipoSexo\": \"Undefined\",\n    \"nome\": \"string\",\n    \"cpf\": \"string\",\n    \"email\": \"string\",\n    \"rg\": \"string\",\n    \"telefoneResidencial\": \"string\",\n    \"telefoneCelular\": \"string\",\n    \"telefoneComercial\": \"string\",\n    \"dataNascimento\": \"2022-07-20T17:16:24.396Z\",\n    \"razaoSocial\": \"string\",\n    \"cnpj\": \"string\",\n    \"inscricaoEstadual\": \"string\",\n    \"responsavel\": \"string\",\n    \"dataCriacao\": \"2022-07-20T17:16:24.396Z\",\n    \"dataAtualizacao\": \"2022-07-20T17:16:24.396Z\",\n    \"revendedor\": true,\n    \"listaInformacaoCadastral\": [\n      {\n        \"chave\": \"string\",\n        \"valor\": \"string\"\n      }\n    ],\n    \"avatar\": \"string\",\n    \"ip\": \"string\",\n    \"aprovado\": true\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "usuarioId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "bloqueado": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "grupoInformacaoCadastral": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chave": {
                              "type": "string",
                              "example": "string"
                            },
                            "valor": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        }
                      },
                      "tipoPessoa": {
                        "type": "string",
                        "example": "Fisica"
                      },
                      "origemContato": {
                        "type": "string",
                        "example": "Google"
                      },
                      "tipoSexo": {
                        "type": "string",
                        "example": "Undefined"
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "cpf": {
                        "type": "string",
                        "example": "string"
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "rg": {
                        "type": "string",
                        "example": "string"
                      },
                      "telefoneResidencial": {
                        "type": "string",
                        "example": "string"
                      },
                      "telefoneCelular": {
                        "type": "string",
                        "example": "string"
                      },
                      "telefoneComercial": {
                        "type": "string",
                        "example": "string"
                      },
                      "dataNascimento": {
                        "type": "string",
                        "example": "2022-07-20T17:16:24.396Z"
                      },
                      "razaoSocial": {
                        "type": "string",
                        "example": "string"
                      },
                      "cnpj": {
                        "type": "string",
                        "example": "string"
                      },
                      "inscricaoEstadual": {
                        "type": "string",
                        "example": "string"
                      },
                      "responsavel": {
                        "type": "string",
                        "example": "string"
                      },
                      "dataCriacao": {
                        "type": "string",
                        "example": "2022-07-20T17:16:24.396Z"
                      },
                      "dataAtualizacao": {
                        "type": "string",
                        "example": "2022-07-20T17:16:24.396Z"
                      },
                      "revendedor": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "listaInformacaoCadastral": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chave": {
                              "type": "string",
                              "example": "string"
                            },
                            "valor": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        }
                      },
                      "avatar": {
                        "type": "string",
                        "example": "string"
                      },
                      "ip": {
                        "type": "string",
                        "example": "string"
                      },
                      "aprovado": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62d8388ed91557004d74d91f"
}