{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/resellers/produtos/{identificador}": {
      "get": {
        "summary": "Retorna produtos por Seller",
        "description": "Lista de produtos",
        "operationId": "retorna-produtos-por-seller",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o reseller",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um id interno da fstore ou a Razão social do Reseller",
            "schema": {
              "type": "string",
              "enum": [
                "ResellerId",
                "RazaoSocial"
              ]
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadeRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "somenteValidos",
            "in": "query",
            "description": "Se deve retornar apenas produtos válidos (padrão: false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "camposAdicionais",
            "in": "query",
            "description": "Campos adicionais que se selecionados retornaram junto com o produto: Atacado, Estoque, Atributo, Informacao, TabelaPreo",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoVarianteId\": 0,\n    \"produtoId\": 0,\n    \"idPaiExterno\": \"string\",\n    \"idVinculoExterno\": \"string\",\n    \"sku\": \"string\",\n    \"nome\": \"string\",\n    \"nomeProdutoPai\": \"string\",\n    \"urlProduto\": \"string\",\n    \"exibirMatrizAtributos\": \"Sim\",\n    \"contraProposta\": true,\n    \"fabricante\": \"string\",\n    \"autor\": \"string\",\n    \"editora\": \"string\",\n    \"colecao\": \"string\",\n    \"genero\": \"string\",\n    \"precoCusto\": 0,\n    \"precoDe\": 0,\n    \"precoPor\": 0,\n    \"fatorMultiplicadorPreco\": 0,\n    \"prazoEntrega\": 0,\n    \"valido\": true,\n    \"exibirSite\": true,\n    \"freteGratis\": \"Sempre\",\n    \"trocaGratis\": true,\n    \"peso\": 0,\n    \"altura\": 0,\n    \"comprimento\": 0,\n    \"largura\": 0,\n    \"garantia\": 0,\n    \"isTelevendas\": true,\n    \"ean\": \"string\",\n    \"localizacaoEstoque\": \"string\",\n    \"listaAtacado\": [\n      {\n        \"precoPor\": 0,\n        \"quantidade\": 0\n      }\n    ],\n    \"estoque\": [\n      {\n        \"estoqueFisico\": 0,\n        \"estoqueReservado\": 0,\n        \"centroDistribuicaoId\": 0,\n        \"alertaEstoque\": 0\n      }\n    ],\n    \"atributos\": [\n      {\n        \"tipoAtributo\": \"Selecao\",\n        \"isFiltro\": true,\n        \"nome\": \"string\",\n        \"valor\": \"string\",\n        \"exibir\": true\n      }\n    ],\n    \"quantidadeMaximaCompraUnidade\": 0,\n    \"quantidadeMinimaCompraUnidade\": 0,\n    \"condicao\": \"Novo\",\n    \"informacoes\": [\n      {\n        \"informacaoId\": 0,\n        \"titulo\": \"string\",\n        \"texto\": \"string\",\n        \"tipoInformacao\": \"Informacoes\"\n      }\n    ],\n    \"tabelasPreco\": [\n      {\n        \"tabelaPrecoId\": 0,\n        \"nome\": \"string\",\n        \"precoDe\": 0,\n        \"precoPor\": 0\n      }\n    ],\n    \"dataCriacao\": \"2022-07-18T11:04:10.596Z\",\n    \"dataAtualizacao\": \"2022-07-18T11:04:10.596Z\",\n    \"urlVideo\": \"string\",\n    \"spot\": true,\n    \"paginaProduto\": true,\n    \"marketplace\": true,\n    \"somenteParceiros\": true,\n    \"reseller\": {\n      \"resellerId\": 0,\n      \"razaoSocial\": \"string\",\n      \"centroDistribuicaoId\": 0,\n      \"ativo\": true,\n      \"ativacaoAutomaticaProdutos\": true,\n      \"autonomia\": true,\n      \"buyBox\": true,\n      \"nomeMarketPlace\": \"string\"\n    },\n    \"buyBox\": true\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "idPaiExterno": {
                        "type": "string",
                        "example": "string"
                      },
                      "idVinculoExterno": {
                        "type": "string",
                        "example": "string"
                      },
                      "sku": {
                        "type": "string",
                        "example": "string"
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "nomeProdutoPai": {
                        "type": "string",
                        "example": "string"
                      },
                      "urlProduto": {
                        "type": "string",
                        "example": "string"
                      },
                      "exibirMatrizAtributos": {
                        "type": "string",
                        "example": "Sim"
                      },
                      "contraProposta": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "fabricante": {
                        "type": "string",
                        "example": "string"
                      },
                      "autor": {
                        "type": "string",
                        "example": "string"
                      },
                      "editora": {
                        "type": "string",
                        "example": "string"
                      },
                      "colecao": {
                        "type": "string",
                        "example": "string"
                      },
                      "genero": {
                        "type": "string",
                        "example": "string"
                      },
                      "precoCusto": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "precoDe": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "precoPor": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "fatorMultiplicadorPreco": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "prazoEntrega": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "valido": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "exibirSite": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "freteGratis": {
                        "type": "string",
                        "example": "Sempre"
                      },
                      "trocaGratis": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "peso": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "altura": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "comprimento": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "largura": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "garantia": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "isTelevendas": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "ean": {
                        "type": "string",
                        "example": "string"
                      },
                      "localizacaoEstoque": {
                        "type": "string",
                        "example": "string"
                      },
                      "listaAtacado": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "precoPor": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "quantidade": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      },
                      "estoque": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "estoqueFisico": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "estoqueReservado": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "centroDistribuicaoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "alertaEstoque": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      },
                      "atributos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tipoAtributo": {
                              "type": "string",
                              "example": "Selecao"
                            },
                            "isFiltro": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "nome": {
                              "type": "string",
                              "example": "string"
                            },
                            "valor": {
                              "type": "string",
                              "example": "string"
                            },
                            "exibir": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        }
                      },
                      "quantidadeMaximaCompraUnidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "quantidadeMinimaCompraUnidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "condicao": {
                        "type": "string",
                        "example": "Novo"
                      },
                      "informacoes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "informacaoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "titulo": {
                              "type": "string",
                              "example": "string"
                            },
                            "texto": {
                              "type": "string",
                              "example": "string"
                            },
                            "tipoInformacao": {
                              "type": "string",
                              "example": "Informacoes"
                            }
                          }
                        }
                      },
                      "tabelasPreco": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tabelaPrecoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "nome": {
                              "type": "string",
                              "example": "string"
                            },
                            "precoDe": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "precoPor": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      },
                      "dataCriacao": {
                        "type": "string",
                        "example": "2022-07-18T11:04:10.596Z"
                      },
                      "dataAtualizacao": {
                        "type": "string",
                        "example": "2022-07-18T11:04:10.596Z"
                      },
                      "urlVideo": {
                        "type": "string",
                        "example": "string"
                      },
                      "spot": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "paginaProduto": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "marketplace": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "somenteParceiros": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "reseller": {
                        "type": "object",
                        "properties": {
                          "resellerId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "razaoSocial": {
                            "type": "string",
                            "example": "string"
                          },
                          "centroDistribuicaoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "ativo": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "ativacaoAutomaticaProdutos": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "autonomia": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "buyBox": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "nomeMarketPlace": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      },
                      "buyBox": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62d5445d1946d7007b5759a1"
}