{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/fretes/pedidos/{pedidoId}/cotacoes": {
      "get": {
        "summary": "Retorna uma cotação de frete para o carrinho do pedido",
        "description": "Objeto com as cotações de frete",
        "operationId": "retorna-uma-cotacao-de-frete-para-o-carrinho-do-pedido",
        "parameters": [
          {
            "name": "pedidoId",
            "in": "path",
            "description": "Id do pedido",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "forcarCotacaoTodosCDs",
            "in": "query",
            "description": "Força cotação de todos os CD's.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"id\": \"string\",\n    \"nome\": \"string\",\n    \"prazo\": 0,\n    \"tabelaFreteId\": \"string\",\n    \"tipo\": \"string\",\n    \"valor\": 0,\n    \"centroDistribuicao\": 0,\n    \"produtos\": [\n      {\n        \"produtoVarianteId\": 0,\n        \"valor\": 0,\n        \"centroDistribuicaoId\": 0\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "string"
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "prazo": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "tabelaFreteId": {
                        "type": "string",
                        "example": "string"
                      },
                      "tipo": {
                        "type": "string",
                        "example": "string"
                      },
                      "valor": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "centroDistribuicao": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "produtoVarianteId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "valor": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "centroDistribuicaoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:63d40199f6dd870085f457fe"
}