{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/precos": {
      "get": {
        "summary": "Retorna todos os preços referente ao produto variante, incluindo os preços de tabela de preço",
        "description": "Preços do produto variante informado",
        "operationId": "retorna-todos-os-precos-referente-ao-produto-variante-incluindo-os-precos-de-tabela-de-preco",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"produtoVarianteId\": 0,\n  \"sku\": \"string\",\n  \"precoDe\": 0,\n  \"precoPor\": 0,\n  \"fatorMultiplicadorPreco\": 0,\n  \"precosTabelaPreco\": [\n    {\n      \"produtoVarianteId\": 0,\n      \"tabelaPrecoId\": 0,\n      \"nome\": \"string\",\n      \"precoDe\": 0,\n      \"precoPor\": 0\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "produtoVarianteId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "sku": {
                      "type": "string",
                      "example": "string"
                    },
                    "precoDe": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "precoPor": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "fatorMultiplicadorPreco": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "precosTabelaPreco": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "produtoVarianteId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "tabelaPrecoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "nome": {
                            "type": "string",
                            "example": "string"
                          },
                          "precoDe": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "precoPor": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Produto não encontrado": {
                    "value": "Produto não encontrado"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c49a3c454fa5009df9d5c0"
}