{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/assinaturas/erros/{assinaturaId}": {
      "get": {
        "summary": "Retorna os erros de uma assinatura especifica",
        "description": "Assinatura com erro na loja",
        "operationId": "retorna-os-erros-de-uma-assinatura-especifica",
        "parameters": [
          {
            "name": "assinaturaId",
            "in": "path",
            "description": "id da Assinatura",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"assinaturaErroId\": 0,\n    \"assinaturaId\": 0,\n    \"usuarioId\": \"string\",\n    \"visualizado\": true,\n    \"dataErro\": \"2022-06-08T11:32:39.566Z\",\n    \"resolvido\": true,\n    \"codigoAssinaturaErro\": 0,\n    \"assinaturaErroNome\": \"string\",\n    \"assinaturaErroDescricao\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assinaturaErroId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "assinaturaId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "usuarioId": {
                        "type": "string",
                        "example": "string"
                      },
                      "visualizado": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "dataErro": {
                        "type": "string",
                        "example": "2022-06-08T11:32:39.566Z"
                      },
                      "resolvido": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "codigoAssinaturaErro": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "assinaturaErroNome": {
                        "type": "string",
                        "example": "string"
                      },
                      "assinaturaErroDescricao": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a0b66b878668005c2953e9"
}