{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/usuarios/{usuarioId}/enderecos": {
      "get": {
        "summary": "Retorna uma lista de endereços de um usuário pelo id do usuário",
        "description": "Retorna usuário encontrado",
        "operationId": "retorna-uma-lista-de-enderecos-de-um-usuario-pelo-id-do-usuario",
        "parameters": [
          {
            "name": "usuarioId",
            "in": "path",
            "description": "Id do usuário",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"enderecoId\": 0,\n    \"nomeEndereco\": \"string\",\n    \"rua\": \"string\",\n    \"numero\": \"string\",\n    \"complemento\": \"string\",\n    \"referencia\": \"string\",\n    \"bairro\": \"string\",\n    \"cidade\": \"string\",\n    \"estado\": \"string\",\n    \"cep\": \"string\",\n    \"utilizadoUltimoPedido\": true,\n    \"pais\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "enderecoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nomeEndereco": {
                        "type": "string",
                        "example": "string"
                      },
                      "rua": {
                        "type": "string",
                        "example": "string"
                      },
                      "numero": {
                        "type": "string",
                        "example": "string"
                      },
                      "complemento": {
                        "type": "string",
                        "example": "string"
                      },
                      "referencia": {
                        "type": "string",
                        "example": "string"
                      },
                      "bairro": {
                        "type": "string",
                        "example": "string"
                      },
                      "cidade": {
                        "type": "string",
                        "example": "string"
                      },
                      "estado": {
                        "type": "string",
                        "example": "string"
                      },
                      "cep": {
                        "type": "string",
                        "example": "string"
                      },
                      "utilizadoUltimoPedido": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "pais": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62dad4e0c63a6b0060b401bc"
}