{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/fretes": {
      "get": {
        "summary": "Retorna uma lista de fretes",
        "description": "Lista de fretes",
        "operationId": "retorna-uma-lista-de-fretes",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"freteId\": 0,\n    \"nome\": \"string\",\n    \"ativo\": true,\n    \"volumeMaximo\": 0,\n    \"pesoCubado\": 0,\n    \"entregaAgendadaConfiguracaoId\": 0,\n    \"linkRastreamento\": \"string\",\n    \"ehAssinatura\": true,\n    \"larguraMaxima\": 0,\n    \"alturaMaxima\": 0,\n    \"comprimentoMaximo\": 0,\n    \"limiteMaximoDimensoes\": 0,\n    \"limitePesoCubado\": 0,\n    \"tempoMinimoDespacho\": 0,\n    \"centroDistribuicaoId\": 0,\n    \"valorMinimoProdutos\": 0\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "freteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "volumeMaximo": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "pesoCubado": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "entregaAgendadaConfiguracaoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "linkRastreamento": {
                        "type": "string",
                        "example": "string"
                      },
                      "ehAssinatura": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "larguraMaxima": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "alturaMaxima": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "comprimentoMaximo": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "limiteMaximoDimensoes": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "limitePesoCubado": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "tempoMinimoDespacho": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "centroDistribuicaoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "valorMinimoProdutos": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62b0a6283b94840120ec907e"
}