{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/dashboard/pedidos": {
      "get": {
        "summary": "Retorna uma listagem com os últimos dez pedidos da loja",
        "description": "Últimos Pedidos",
        "operationId": "retorna-uma-listagem-com-os-ultimos-dez-pedidos-da-loja",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"pedidoId\": 0,\n    \"situacaoPedidoId\": 0,\n    \"situacaoNome\": \"string\",\n    \"data\": \"2022-06-15T13:26:37.804Z\",\n    \"dataFormatado\": \"string\",\n    \"hora\": \"string\",\n    \"valorTotal\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "situacaoPedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "situacaoNome": {
                        "type": "string",
                        "example": "string"
                      },
                      "data": {
                        "type": "string",
                        "example": "2022-06-15T13:26:37.804Z"
                      },
                      "dataFormatado": {
                        "type": "string",
                        "example": "string"
                      },
                      "hora": {
                        "type": "string",
                        "example": "string"
                      },
                      "valorTotal": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62aa381d3b0ee700a1f930f6"
}