{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/imagens": {
      "get": {
        "summary": "Retorna uma lista de imagens de um produto",
        "description": "Lista de imagens vinculadas a um produtos",
        "operationId": "retorna-uma-lista-de-imagens-de-um-produto",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          },
          {
            "name": "produtosIrmaos",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"idImagem\": 0,\n    \"nomeArquivo\": \"string\",\n    \"url\": \"string\",\n    \"ordem\": 0,\n    \"estampa\": true,\n    \"exibirMiniatura\": true\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idImagem": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nomeArquivo": {
                        "type": "string",
                        "example": "string"
                      },
                      "url": {
                        "type": "string",
                        "example": "string"
                      },
                      "ordem": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "estampa": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "exibirMiniatura": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Produto não encontrado": {
                    "value": "Produto não encontrado"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c468bf652a13003566a311"
}