{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/assinaturas": {
      "get": {
        "summary": "Retorna uma lista com os dados das assinaturas",
        "description": "Lista com assinaturas",
        "operationId": "retorna-uma-lista-com-os-dados-das-assinaturas",
        "parameters": [
          {
            "name": "situacaoAssinatura",
            "in": "query",
            "description": "Situação da assinatura",
            "schema": {
              "type": "string",
              "enum": [
                "Ativa",
                "Pausada",
                "Cancelada"
              ]
            }
          },
          {
            "name": "periodoRecorrencia",
            "in": "query",
            "description": "Período de recorrência",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadeRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataInicialProximaRecorrencia",
            "in": "query",
            "description": "Data inicial da próxima recorrência",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinalProximaRecorrencia",
            "in": "query",
            "description": "Data final da próxima recorrencia",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataInicialCancelamento",
            "in": "query",
            "description": "Data inicial de cancelamento",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinalCancelamento",
            "in": "query",
            "description": "Data final de cancelamento",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"assinaturaId\": 0,\n    \"usuarioId\": 0,\n    \"dataProximoPedido\": \"2022-06-13T11:13:55.131Z\",\n    \"periodoRecorrencia\": \"string\",\n    \"situacaoAssinatura\": \"Ativa\",\n    \"dataAssinatura\": \"2022-06-13T11:13:55.131Z\",\n    \"grupoAssinatura\": \"string\",\n    \"enderecoId\": 0,\n    \"usuarioCartaoCreditoId\": 0,\n    \"cupom\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assinaturaId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "usuarioId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "dataProximoPedido": {
                        "type": "string",
                        "example": "2022-06-13T11:13:55.131Z"
                      },
                      "periodoRecorrencia": {
                        "type": "string",
                        "example": "string"
                      },
                      "situacaoAssinatura": {
                        "type": "string",
                        "example": "Ativa"
                      },
                      "dataAssinatura": {
                        "type": "string",
                        "example": "2022-06-13T11:13:55.131Z"
                      },
                      "grupoAssinatura": {
                        "type": "string",
                        "example": "string"
                      },
                      "enderecoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "usuarioCartaoCreditoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "cupom": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "\t{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a71e408531cf0116289180"
}