{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/dashboard/graficofaturamento": {
      "get": {
        "summary": "Retorna dados para carregar o gráfico do faturamento",
        "description": "Gráfico do Faturamento",
        "operationId": "retorna-dados-para-carregar-o-grafico-do-faturamento",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial do faturamento que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final do faturamento que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "isLoja",
            "in": "query",
            "description": "Se o faturamento é somente da loja",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parceiroId",
            "in": "query",
            "description": "Id do parceiro",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"parceiroId\": 0,\n    \"parceiro\": \"string\",\n    \"receitaPagos\": 0,\n    \"transacoesPagos\": 0,\n    \"valorMedioPagos\": 0,\n    \"usuarioEnderecoEstado\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "parceiroId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "parceiro": {
                        "type": "string",
                        "example": "string"
                      },
                      "receitaPagos": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "transacoesPagos": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "valorMedioPagos": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "usuarioEnderecoEstado": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62aa369bf08a61002e60f7c3"
}