{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/tiposEvento": {
      "get": {
        "summary": "Retorna todos os tipos de eventos",
        "description": "Lista de tipos de evento",
        "operationId": "retorna-todos-os-tipos-de-eventos",
        "parameters": [
          {
            "name": "ativo",
            "in": "query",
            "description": "Status do tipo de evento",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "disponivel",
            "in": "query",
            "description": "Se o tipo de evento está disponível",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "nome",
            "in": "query",
            "description": "Nome do tipo de evento",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"tipoEventoId\": 0,\n    \"nome\": \"string\",\n    \"tipoEntrega\": \"EntregaAgendada\",\n    \"tipoDisponibilizacao\": \"DisponibilizacaoDeCreditos\",\n    \"permitirRemocaoAutomaticaProdutos\": true,\n    \"corHexTituloInformacoes\": \"string\",\n    \"corHexCorpoInformacoes\": \"string\",\n    \"numeroAbasInformacoes\": 0,\n    \"quantidadeDiasParaEventoExpirar\": 0,\n    \"numeroLocaisEvento\": 0,\n    \"ativo\": true,\n    \"disponivel\": true,\n    \"tipoBeneficiarioFrete\": \"DonodaLista\",\n    \"caminhoLogoEvento\": \"string\",\n    \"caminhoSubTemplate\": \"string\",\n    \"sugestaoProdutos\": [\n      {\n        \"tipoEventoId\": 0,\n        \"produtoVarianteId\": 0\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tipoEventoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "tipoEntrega": {
                        "type": "string",
                        "example": "EntregaAgendada"
                      },
                      "tipoDisponibilizacao": {
                        "type": "string",
                        "example": "DisponibilizacaoDeCreditos"
                      },
                      "permitirRemocaoAutomaticaProdutos": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "corHexTituloInformacoes": {
                        "type": "string",
                        "example": "string"
                      },
                      "corHexCorpoInformacoes": {
                        "type": "string",
                        "example": "string"
                      },
                      "numeroAbasInformacoes": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "quantidadeDiasParaEventoExpirar": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "numeroLocaisEvento": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "disponivel": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "tipoBeneficiarioFrete": {
                        "type": "string",
                        "example": "DonodaLista"
                      },
                      "caminhoLogoEvento": {
                        "type": "string",
                        "example": "string"
                      },
                      "caminhoSubTemplate": {
                        "type": "string",
                        "example": "string"
                      },
                      "sugestaoProdutos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tipoEventoId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "produtoVarianteId": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62ced411426e4d0434332791"
}