{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/parceiros/comPedidos": {
      "get": {
        "summary": "Retorna todos os parceiros com pedidos",
        "description": "Lista de parceiros com pedidos",
        "operationId": "retorna-todos-os-parceiros-com-pedidos",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial dos pedidos (aaaa-mm-dd hh:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final dos pedidos (aaaa-mm-dd hh:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"parceiroId\": 0,\n    \"marketPlaceId\": 0,\n    \"nome\": \"string\",\n    \"tabelaPrecoId\": 0,\n    \"portfolioId\": 0,\n    \"tipoEscopo\": \"Aberto\",\n    \"ativo\": true,\n    \"isMarketPlace\": true,\n    \"origem\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "parceiroId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "marketPlaceId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "tabelaPrecoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "portfolioId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "tipoEscopo": {
                        "type": "string",
                        "example": "Aberto"
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "isMarketPlace": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "origem": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bdb286323e93009dc43328"
}