{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/produtos/{identificador}/avaliacoes": {
      "get": {
        "summary": "Retorna uma lista de avaliações referente ao identificador informado",
        "description": "Lista de avaliações de produtos",
        "operationId": "retorna-uma-lista-de-avaliacoes-referente-ao-identificador-informado",
        "parameters": [
          {
            "name": "identificador",
            "in": "path",
            "description": "Valor único utilizado para identificar o produto",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "tipoIdentificador",
            "in": "query",
            "description": "Define se o identificador informado é um sku ou um id interno.",
            "schema": {
              "type": "string",
              "enum": [
                "Sku",
                "ProdutoVarianteId"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Referente ao status que libera a visualização da avaliação no site = ['Pendente', 'NaoAprovado', 'Aprovado']",
            "schema": {
              "type": "string",
              "enum": [
                "Pendente",
                "NaoAprovado",
                "Aprovado"
              ]
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Página da lista (padrão: 1)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantidadeRegistros",
            "in": "query",
            "description": "Quantidade de registros que deverão retornar (max: 50)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoVarianteId\": 0,\n    \"sku\": \"string\",\n    \"produtoAvaliacaoId\": 0,\n    \"comentario\": \"string\",\n    \"avaliacao\": 0,\n    \"usuarioId\": 0,\n    \"dataAvaliacao\": \"2022-07-05T11:54:29.823Z\",\n    \"nome\": \"string\",\n    \"email\": \"string\",\n    \"status\": \"Pendente\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "sku": {
                        "type": "string",
                        "example": "string"
                      },
                      "produtoAvaliacaoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "comentario": {
                        "type": "string",
                        "example": "string"
                      },
                      "avaliacao": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "usuarioId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "dataAvaliacao": {
                        "type": "string",
                        "example": "2022-07-05T11:54:29.823Z"
                      },
                      "nome": {
                        "type": "string",
                        "example": "string"
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "status": {
                        "type": "string",
                        "example": "Pendente"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62c491a0321dcc00476abb30"
}