{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/parceiros/{nome}/usuarios": {
      "get": {
        "summary": "Retorna os usuários pelo nome do parceiro",
        "description": "Usuários encontrados",
        "operationId": "retorna-os-usuarios-pelo-nome-do-parceiro",
        "parameters": [
          {
            "name": "nome",
            "in": "path",
            "description": "Nome do parceiro",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"usuarioId\": 0,\n    \"email\": \"string\",\n    \"ativo\": true,\n    \"dataInicial\": \"2022-06-30T11:24:34.778Z\",\n    \"dataFinal\": \"2022-06-30T11:24:34.778Z\",\n    \"vinculoVitalicio\": true\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "usuarioId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "email": {
                        "type": "string",
                        "example": "string"
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "dataInicial": {
                        "type": "string",
                        "example": "2022-06-30T11:24:34.778Z"
                      },
                      "dataFinal": {
                        "type": "string",
                        "example": "2022-06-30T11:24:34.778Z"
                      },
                      "vinculoVitalicio": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62bdb47d68e01c003df97796"
}