{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/usuarios/limiteCreditoPorEmail/{email}": {
      "get": {
        "summary": "Retorna o limite de crédito de um usuário específico",
        "description": "Limite de crédito de um usuário específico",
        "operationId": "retorna-o-limite-de-credito-de-um-usuario-especifico-1",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "E-mail do usuário",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"usuarioId\": 0,\n  \"valor\": 0,\n  \"saldo\": 0\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "usuarioId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "valor": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "saldo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62de93b9ce20a30356051482"
}