{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/usuarios/{usuarioId}/listaDesejos": {
      "get": {
        "summary": "Retorna os dados da lista de desejos de um usuário",
        "description": "Dados da lista de desejos de um usuário",
        "operationId": "retorna-os-dados-da-lista-de-desejos-de-um-usuario",
        "parameters": [
          {
            "name": "usuarioId",
            "in": "path",
            "description": "Id do usuário",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoId\": 0,\n    \"produtoVarianteId\": 0,\n    \"quantidade\": 0,\n    \"dataAdicao\": \"2022-07-25T11:26:13.971Z\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "quantidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "dataAdicao": {
                        "type": "string",
                        "example": "2022-07-25T11:26:13.971Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62dea5b1d78713001491e863"
}