{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/dashboard/produtos": {
      "get": {
        "summary": "Retorna uma listagem com dados dos produtos mais vendidos pela loja ou parceiro",
        "description": "Produtos Mais Vendidos",
        "operationId": "retorna-uma-listagem-com-dados-dos-produtos-mais-vendidos-pela-loja-ou-parceiro",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial dos produtos mais vendidos que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final dos produtos mais vendidos que deverão retonar (aaaa-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "parceiroId",
            "in": "query",
            "description": "Id do parceiro",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"produtoVarianteId\": 0,\n    \"nomeProduto\": \"string\",\n    \"sku\": \"string\",\n    \"quantidade\": 0,\n    \"receita\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "nomeProduto": {
                        "type": "string",
                        "example": "string"
                      },
                      "sku": {
                        "type": "string",
                        "example": "string"
                      },
                      "quantidade": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "receita": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62aa3c01412c6f0066379e7d"
}