{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/assinaturas/pedido/{pedidoId}": {
      "get": {
        "summary": "Retorna os dados de uma assinatura a partir do id do Pedido",
        "description": "Assinatura de um determinado pedido",
        "operationId": "retorna-os-dados-de-uma-assinatura-a-partir-do-id-do-pedido",
        "parameters": [
          {
            "name": "pedidoId",
            "in": "path",
            "description": "id do pedido",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"assinaturaPedidoId\": 0,\n    \"assinaturaId\": 0,\n    \"grupoAssinaturaId\": 0,\n    \"tipoPeriodo\": \"string\",\n    \"tempoPeriodo\": 0,\n    \"pedidoId\": 0,\n    \"valor\": 0,\n    \"data\": \"2022-06-08T11:32:39.571Z\",\n    \"origemPedidoEnumId\": 0,\n    \"produtoVarianteId\": 0\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assinaturaPedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "assinaturaId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "grupoAssinaturaId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "tipoPeriodo": {
                        "type": "string",
                        "example": "string"
                      },
                      "tempoPeriodo": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "pedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "valor": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "data": {
                        "type": "string",
                        "example": "2022-06-08T11:32:39.571Z"
                      },
                      "origemPedidoEnumId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "produtoVarianteId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  },
  "x-readme-fauxas": true,
  "_id": "629f940ff6822d00a2406e17:62a0b81da846fe01699b429d"
}