{
  "openapi": "3.1.0",
  "info": {
    "title": "API Pública",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.fbits.net/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "",
        "name": "Authorization",
        "x-bearer-format": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/dashboard/pedidos": {
      "get": {
        "summary": "Retorna uma listagem com os últimos dez pedidos da loja",
        "description": "Últimos Pedidos",
        "operationId": "retorna-uma-listagem-com-os-ultimos-dez-pedidos-da-loja",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"pedidoId\": 0,\n    \"situacaoPedidoId\": 0,\n    \"situacaoNome\": \"string\",\n    \"data\": \"2022-06-15T13:26:37.804Z\",\n    \"dataFormatado\": \"string\",\n    \"hora\": \"string\",\n    \"valorTotal\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "situacaoPedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "situacaoNome": {
                        "type": "string",
                        "example": "string"
                      },
                      "data": {
                        "type": "string",
                        "example": "2022-06-15T13:26:37.804Z"
                      },
                      "dataFormatado": {
                        "type": "string",
                        "example": "string"
                      },
                      "hora": {
                        "type": "string",
                        "example": "string"
                      },
                      "valorTotal": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/banners/{bannerId}/hotsites": {
      "put": {
        "summary": "Atualiza a exibição do banner nos hotsites, se deve ser em todos ou não",
        "description": "",
        "operationId": "atualiza-a-exibicao-do-banner-nos-hotsites-se-deve-ser-em-todos-ou-nao",
        "parameters": [
          {
            "name": "bannerId",
            "in": "path",
            "description": "Id do banner",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exibirEmTodosHotsites": {
                    "type": "boolean",
                    "description": "Exibição do banner nos hotsites"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Busca os hotsites vinculados de um banner específico",
        "description": "Lista de hotsites vinculados ao banner",
        "operationId": "busca-os-hotsites-vinculados-de-um-banner-especifico",
        "parameters": [
          {
            "name": "bannerId",
            "in": "path",
            "description": "Identificador do banner que deve buscar os hotsites vinculados.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"exibirEmTodosHotSites\": true,\n  \"hotSites\": [\n    {\n      \"hotSiteId\": 0\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "exibirEmTodosHotSites": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "hotSites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hotSiteId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Vincula hotsites com um banner específico",
        "description": "",
        "operationId": "vincula-hotsites-com-um-banner-especifico",
        "parameters": [
          {
            "name": "bannerId",
            "in": "path",
            "description": "Identificador do banner que deve vincular os hotsites",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "array",
                    "description": "lista de identificadores de hotsites a serem vinculados ao banner",
                    "items": {
                      "properties": {
                        "hotSiteId": {
                          "type": "integer",
                          "description": "Id do hotsite (optional)",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Deleta o vinculo de um ou mais hotsites com um banner específico",
        "description": "",
        "operationId": "deleta-o-vinculo-de-um-ou-mais-hotsites-com-um-banner-especifico",
        "parameters": [
          {
            "name": "bannerId",
            "in": "path",
            "description": "Identificador do banner que deve desvincular os hotsites desejados",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listaHotsites": {
                    "type": "object",
                    "description": "Lista de identificadores de hotsites para desvincular do banner (optional)",
                    "properties": {
                      "hotSiteId": {
                        "type": "array",
                        "description": "Id do hotsite para vinculo com banner",
                        "items": {
                          "properties": {
                            "hotSiteId": {
                              "type": "array",
                              "description": "Id do hotsite para vinculo com banner",
                              "default": []
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/usuarios/{email}/comunicacao": {
      "get": {
        "summary": "Retorna se o usuário ativou o recebimento de newsletter",
        "description": "Retorna se o usuário ativou o recebimento de newsletter",
        "operationId": "retorna-se-o-ususrio-ativou-o-recebimento-de-newsletter",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "E-mail do usuário cujos pedidos devem ser selecionados",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"recebimentoNewsletter\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "recebimentoNewsletter": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Atualiza a comunicação de um usuário via newsletter",
        "description": "",
        "operationId": "atualiza-a-comunicacao-de-um-usuario-via-newsletter",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "E-mail do usuário cujos pedidos devem ser selecionados",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recebimentoNewsletter": {
                    "type": "boolean",
                    "description": "Novo status da comunicação via new ajuste realisletter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/autores/{autorId}": {
      "put": {
        "summary": "Atualizar autor",
        "description": "",
        "operationId": "atualizar-autor",
        "parameters": [
          {
            "name": "autorId",
            "in": "path",
            "description": "Identificador do autor",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do Autor"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status do autor"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Buscar autor por id",
        "description": "",
        "operationId": "buscar-autor-por-id",
        "parameters": [
          {
            "name": "autorId",
            "in": "path",
            "description": "Identificador do autor",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "OK"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Deletar autor",
        "description": "",
        "operationId": "deletar-autor",
        "parameters": [
          {
            "name": "autorId",
            "in": "path",
            "description": "Identificador do autor",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "OK"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/usuarios/{email}/pedidos": {
      "get": {
        "summary": "Retorna uma lista contendo o id dos pedidos de um usuário",
        "description": "Retorna lista contendo os Id's dos pedidos do usuário",
        "operationId": "retorna-uma-lista-contendo-o-id-dos-pedidos-de-um-usuario",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "E-mail do usuário cujos pedidos devem ser selecionados",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"pedidoId\": 0,\n    \"links\": [\n      {\n        \"href\": \"string\",\n        \"rel\": \"string\",\n        \"method\": \"string\"\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pedidoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "string"
                            },
                            "rel": {
                              "type": "string",
                              "example": "string"
                            },
                            "method": {
                              "type": "string",
                              "example": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/usuarios/cpf/{cpf}": {
      "get": {
        "summary": "Retorna um usuário específico pelo cpf",
        "description": "Usuário encontrado",
        "operationId": "retorna-um-usuario-especifico-pelo-cpf",
        "parameters": [
          {
            "name": "cpf",
            "in": "path",
            "description": "CPF do usuário",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"usuarioId\": 0,\n  \"bloqueado\": true,\n  \"grupoInformacaoCadastral\": [\n    {\n      \"chave\": \"string\",\n      \"valor\": \"string\"\n    }\n  ],\n  \"tipoPessoa\": \"Fisica\",\n  \"origemContato\": \"Google\",\n  \"tipoSexo\": \"Undefined\",\n  \"nome\": \"string\",\n  \"cpf\": \"string\",\n  \"email\": \"string\",\n  \"rg\": \"string\",\n  \"telefoneResidencial\": \"string\",\n  \"telefoneCelular\": \"string\",\n  \"telefoneComercial\": \"string\",\n  \"dataNascimento\": \"2022-07-20T17:54:12.473Z\",\n  \"razaoSocial\": \"string\",\n  \"cnpj\": \"string\",\n  \"inscricaoEstadual\": \"string\",\n  \"responsavel\": \"string\",\n  \"dataCriacao\": \"2022-07-20T17:54:12.473Z\",\n  \"dataAtualizacao\": \"2022-07-20T17:54:12.473Z\",\n  \"revendedor\": true,\n  \"listaInformacaoCadastral\": [\n    {\n      \"chave\": \"string\",\n      \"valor\": \"string\"\n    }\n  ],\n  \"avatar\": \"string\",\n  \"ip\": \"string\",\n  \"aprovado\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "usuarioId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "bloqueado": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "grupoInformacaoCadastral": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chave": {
                            "type": "string",
                            "example": "string"
                          },
                          "valor": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "tipoPessoa": {
                      "type": "string",
                      "example": "Fisica"
                    },
                    "origemContato": {
                      "type": "string",
                      "example": "Google"
                    },
                    "tipoSexo": {
                      "type": "string",
                      "example": "Undefined"
                    },
                    "nome": {
                      "type": "string",
                      "example": "string"
                    },
                    "cpf": {
                      "type": "string",
                      "example": "string"
                    },
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "rg": {
                      "type": "string",
                      "example": "string"
                    },
                    "telefoneResidencial": {
                      "type": "string",
                      "example": "string"
                    },
                    "telefoneCelular": {
                      "type": "string",
                      "example": "string"
                    },
                    "telefoneComercial": {
                      "type": "string",
                      "example": "string"
                    },
                    "dataNascimento": {
                      "type": "string",
                      "example": "2022-07-20T17:54:12.473Z"
                    },
                    "razaoSocial": {
                      "type": "string",
                      "example": "string"
                    },
                    "cnpj": {
                      "type": "string",
                      "example": "string"
                    },
                    "inscricaoEstadual": {
                      "type": "string",
                      "example": "string"
                    },
                    "responsavel": {
                      "type": "string",
                      "example": "string"
                    },
                    "dataCriacao": {
                      "type": "string",
                      "example": "2022-07-20T17:54:12.473Z"
                    },
                    "dataAtualizacao": {
                      "type": "string",
                      "example": "2022-07-20T17:54:12.473Z"
                    },
                    "revendedor": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "listaInformacaoCadastral": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chave": {
                            "type": "string",
                            "example": "string"
                          },
                          "valor": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    },
                    "avatar": {
                      "type": "string",
                      "example": "string"
                    },
                    "ip": {
                      "type": "string",
                      "example": "string"
                    },
                    "aprovado": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/lojasFisicas/{lojaFisicaId}": {
      "get": {
        "summary": "Retorna Loja Física pelo Id",
        "description": "Loja Física",
        "operationId": "retorna-loja-fisica-pelo-id",
        "parameters": [
          {
            "name": "lojaFisicaId",
            "in": "path",
            "description": "Id da loja física",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"lojaId\": 0,\n  \"nome\": \"string\",\n  \"ddd\": 0,\n  \"telefone\": \"string\",\n  \"email\": \"string\",\n  \"cep\": \"string\",\n  \"logradouro\": \"string\",\n  \"numero\": \"string\",\n  \"complemento\": \"string\",\n  \"bairro\": \"string\",\n  \"cidade\": \"string\",\n  \"estadoId\": 0,\n  \"prazoEntrega\": 0,\n  \"prazoMaximoRetirada\": 0,\n  \"ativo\": true,\n  \"valido\": true,\n  \"textoComplementar\": \"string\",\n  \"retirarNaLoja\": true,\n  \"latitude\": 0,\n  \"longitude\": 0,\n  \"centroDistribuicaoId\": 0,\n  \"centroDistribuicao\": [\n    {\n      \"centroDistribuicaoId\": 0,\n      \"prazoEntrega\": 0\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "lojaId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "nome": {
                      "type": "string",
                      "example": "string"
                    },
                    "ddd": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "telefone": {
                      "type": "string",
                      "example": "string"
                    },
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "cep": {
                      "type": "string",
                      "example": "string"
                    },
                    "logradouro": {
                      "type": "string",
                      "example": "string"
                    },
                    "numero": {
                      "type": "string",
                      "example": "string"
                    },
                    "complemento": {
                      "type": "string",
                      "example": "string"
                    },
                    "bairro": {
                      "type": "string",
                      "example": "string"
                    },
                    "cidade": {
                      "type": "string",
                      "example": "string"
                    },
                    "estadoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "prazoEntrega": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "prazoMaximoRetirada": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "ativo": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "valido": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "textoComplementar": {
                      "type": "string",
                      "example": "string"
                    },
                    "retirarNaLoja": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "latitude": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "longitude": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "centroDistribuicaoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "centroDistribuicao": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "centroDistribuicaoId": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "prazoEntrega": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Atualiza uma Loja Física",
        "description": "",
        "operationId": "atualiza-uma-loja-fisica",
        "parameters": [
          {
            "name": "lojaFisicaId",
            "in": "path",
            "description": "Id da loja física",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lojaId": {
                    "type": "integer",
                    "description": "Id da loja (optional)",
                    "format": "int32"
                  },
                  "nome": {
                    "type": "string",
                    "description": "Nome da loja (optional)"
                  },
                  "ddd": {
                    "type": "integer",
                    "description": "DDD da localidade de destino da loja (optional)",
                    "format": "int32"
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone da loja (optional)"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail de contato da loja (optional)"
                  },
                  "cep": {
                    "type": "string",
                    "description": "CEP do endereço da loja (optional)"
                  },
                  "logradouro": {
                    "type": "string",
                    "description": "Logradouro do endereço da loja (optional)"
                  },
                  "numero": {
                    "type": "string",
                    "description": "Número de localização do endereço da loja (optional)"
                  },
                  "complemento": {
                    "type": "string",
                    "description": "Complemento para localização da loja (optional)"
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Bairro do endereço do loja (optional)"
                  },
                  "cidade": {
                    "type": "string",
                    "description": "Cidade em que a loja se encontra (optional)"
                  },
                  "estadoId": {
                    "type": "integer",
                    "description": "Id do estado em que a loja se encontra (optional)",
                    "format": "int32"
                  },
                  "prazoEntrega": {
                    "type": "integer",
                    "description": "Prazo de entrega (optional)",
                    "format": "int32"
                  },
                  "prazoMaximoRetirada": {
                    "type": "integer",
                    "description": "Prazo máximo para retirada (optional)",
                    "format": "int32"
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Status da loja (optional)"
                  },
                  "valido": {
                    "type": "boolean",
                    "description": "Valido (optional)"
                  },
                  "textoComplementar": {
                    "type": "string",
                    "description": "Informações complementares da loja (optional)"
                  },
                  "retirarNaLoja": {
                    "type": "boolean",
                    "description": "Se a retirada na loja será ativada (optional)"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude (optional)",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude (optional)",
                    "format": "double"
                  },
                  "centroDistribuicao": {
                    "type": "array",
                    "description": "Lista com os Identificadores dos centros de distribuição que serão vinculados a loja física (optional)",
                    "items": {
                      "properties": {
                        "centroDistribuicaoId": {
                          "type": "integer",
                          "description": "Id do centro de distribuição",
                          "format": "int32"
                        },
                        "prazoEntrega": {
                          "type": "integer",
                          "description": "Prazo de entrega",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Remove uma Loja Física",
        "description": "",
        "operationId": "remove-uma-loja-fisica",
        "parameters": [
          {
            "name": "lojaFisicaId",
            "in": "path",
            "description": "Id da loja física",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/atributos/{nome}": {
      "get": {
        "summary": "Retorna um atributo específico",
        "description": "Atributo encontrado",
        "operationId": "retorna-um-atributo-especifico",
        "parameters": [
          {
            "name": "nome",
            "in": "path",
            "description": "Nome do atributo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"nome\": \"string\",\n  \"tipo\": \"Selecao\",\n  \"tipoExibicao\": \"Combo\",\n  \"prioridade\": 0\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "nome": {
                      "type": "string",
                      "example": "string"
                    },
                    "tipo": {
                      "type": "string",
                      "example": "Selecao"
                    },
                    "tipoExibicao": {
                      "type": "string",
                      "example": "Combo"
                    },
                    "prioridade": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Atualiza um atributo",
        "description": "",
        "operationId": "atualiza-um-atributo",
        "parameters": [
          {
            "name": "nome",
            "in": "path",
            "description": "Nome do atributo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do atributo (optional)"
                  },
                  "tipo": {
                    "type": "string",
                    "description": "Tipo do atributo (optional)",
                    "enum": [
                      "Selecao",
                      "Filtro",
                      "Comparacao",
                      "Configuracao",
                      "ExclusivoGoogle"
                    ]
                  },
                  "tipoExibicao": {
                    "type": "string",
                    "description": "Tipo de exibição (optional)",
                    "enum": [
                      "Combo",
                      "Div",
                      "DivComCor",
                      "DivComFotoDoProdutoVariante",
                      "Javascript"
                    ]
                  },
                  "prioridade": {
                    "type": "integer",
                    "description": "Prioridade do atributo (optional)",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Deleta um atributo",
        "description": "",
        "operationId": "deleta-um-atributo",
        "parameters": [
          {
            "name": "nome",
            "in": "path",
            "description": "Nome do atributo",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "OK"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/resellers": {
      "get": {
        "summary": "Retorna todos os Sellers da loja",
        "description": "Lista de resellers",
        "operationId": "retorna-todos-os-sellers-da-loja",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "[\n  {\n    \"resellerId\": 0,\n    \"razaoSocial\": \"string\",\n    \"centroDistribuicaoId\": 0,\n    \"ativo\": true,\n    \"ativacaoAutomaticaProdutos\": true,\n    \"autonomia\": true,\n    \"buyBox\": true,\n    \"nomeMarketPlace\": \"string\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resellerId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "razaoSocial": {
                        "type": "string",
                        "example": "string"
                      },
                      "centroDistribuicaoId": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "ativo": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "ativacaoAutomaticaProdutos": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "autonomia": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "buyBox": {
                        "type": "boolean",
                        "example": true,
                        "default": true
                      },
                      "nomeMarketPlace": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Insere um novo Seller no marketplace",
        "description": "",
        "operationId": "insere-um-novo-seller-no-marketplace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "razaoSocial": {
                    "type": "string",
                    "description": "Razão Social/Nome do Reseller"
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ do Seller"
                  },
                  "inscricaoEstadual": {
                    "type": "string",
                    "description": "Inscrição Estadual do Seller"
                  },
                  "isento": {
                    "type": "boolean",
                    "description": "Seller isento de inscrição estadual"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email de contato do Seller"
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone de contato do seller com ddd (xx) xxxx-xxxx"
                  },
                  "tipoAutonomia": {
                    "type": "string",
                    "description": "Tipo de autonomia do vendedor",
                    "enum": [
                      "ComAutonomia",
                      "SemAutonomia"
                    ]
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Seller Ativo"
                  },
                  "split": {
                    "type": "boolean",
                    "description": "Se irá ter Split de frete boolean. Default:false"
                  },
                  "buyBox": {
                    "type": "boolean",
                    "description": "Se o produto deverá ser apresentado em BuyBox (apenas para Seller's e Marketplace's TrayCorp) boolean. Default:false,"
                  },
                  "ativacaoAutomaticaProdutos": {
                    "type": "boolean",
                    "description": "Se os produtos deverão sem ativados automaticamente no marketplace boolean. Default:false,"
                  },
                  "cep": {
                    "type": "string",
                    "description": "Cep do Seller (utilizado para o calculo de frete)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Atualiza um novo Seller no marketplace",
        "description": "",
        "operationId": "atualiza-um-novo-seller-no-marketplace",
        "parameters": [
          {
            "name": "resellerId",
            "in": "query",
            "description": "Valor único utilizado para identificar o seller",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "razaoSocial": {
                    "type": "string",
                    "description": "Razão Social/Nome do Reseller"
                  },
                  "cnpj": {
                    "type": "string",
                    "description": "CNPJ do Seller"
                  },
                  "inscricaoEstadual": {
                    "type": "string",
                    "description": "Inscrição Estadual do Seller"
                  },
                  "isento": {
                    "type": "boolean",
                    "description": "Seller isento de inscrição estadual"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email de contato do Seller"
                  },
                  "telefone": {
                    "type": "string",
                    "description": "Telefone de contato do seller com ddd (xx) xxxx-xxxx"
                  },
                  "tipoAutonomia": {
                    "type": "string",
                    "description": "Tipo de autonomia do vendedor",
                    "enum": [
                      "ComAutonomia",
                      "SemAutonomia"
                    ]
                  },
                  "ativo": {
                    "type": "boolean",
                    "description": "Seller Ativo"
                  },
                  "split": {
                    "type": "boolean",
                    "description": "Se irá ter Split de frete boolean. Default:false"
                  },
                  "buyBox": {
                    "type": "boolean",
                    "description": "Se o produto deverá ser apresentado em BuyBox (apenas para Seller's e Marketplace's TrayCorp) boolean. Default:false,"
                  },
                  "ativacaoAutomaticaProdutos": {
                    "type": "boolean",
                    "description": "Se os produtos deverão sem ativados automaticamente no marketplace boolean. Default:false,"
                  },
                  "cep": {
                    "type": "string",
                    "description": "Cep do Seller (utilizado para o calculo de frete)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "True": {
                    "value": "True"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/resellers/{resellerId}": {
      "get": {
        "summary": "Retorna um Seller específico da loja",
        "description": "Reseller específico",
        "operationId": "retorna-um-seller-especifico-da-loja-1",
        "parameters": [
          {
            "name": "resellerId",
            "in": "path",
            "description": "Valor único utilizado para identificar o seller",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"resellerId\": 0,\n  \"razaoSocial\": \"string\",\n  \"centroDistribuicaoId\": 0,\n  \"ativo\": true,\n  \"ativacaoAutomaticaProdutos\": true,\n  \"autonomia\": true,\n  \"buyBox\": true,\n  \"nomeMarketPlace\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resellerId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "razaoSocial": {
                      "type": "string",
                      "example": "string"
                    },
                    "centroDistribuicaoId": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "ativo": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "ativacaoAutomaticaProdutos": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "autonomia": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "buyBox": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "nomeMarketPlace": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Erro no processamento da operação": {
                    "value": "{\n  \"resultadoOperacao\": true,\n  \"codigo\": 0,\n  \"mensagem\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultadoOperacao": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "codigo": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "mensagem": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/produtos": {
      "post": {
        "summary": "Adiciona novo produto",
        "description": "Método que insere um produto na base",
        "operationId": "adiciona-novo-produto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idPaiExterno": {
                    "type": "string",
                    "description": "Representa o ProdutoId agrupador por variante (optional)"
                  },
                  "idVinculoExterno": {
                    "type": "string",
                    "description": "Representa o ParentId agrupador por parent (optional)"
                  },
                  "sku": {
                    "type": "string",
                    "description": "(Max Length: 50) Sku do produto"
                  },
                  "nome": {
                    "type": "string",
                    "description": "(Max Length: 300) Nome do produto variante"
                  },
                  "nomeProdutoPai": {
                    "type": "string",
                    "description": "Nome do produto (pai do variante) (optional)"
                  },
                  "exibirMatrizAtributos": {
                    "type": "string",
                    "description": "Tipo de exibição da matriz de atributos (optional)",
                    "enum": [
                      "Sim",
                      "Nao",
                      "Neutro"
                    ]
                  },
                  "contraProposta": {
                    "type": "boolean",
                    "description": "Se o produto aceita contra proposta (optional)"
                  },
                  "fabricante": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome do fabricante"
                  },
                  "autor": {
                    "type": "string",
                    "description": "(Max Length: 500) Nome do autor (optional)"
                  },
                  "editora": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome da editora (optional)"
                  },
                  "colecao": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome da coleção (optional)"
                  },
                  "genero": {
                    "type": "string",
                    "description": "(Max Length: 100) Nome do gênero (optional)"
                  },
                  "precoCusto": {
                    "type": "number",
                    "description": "Max Length: 8, \"0000.0000,00\") Preço de custo do produto variante (optional)",
                    "format": "double"
                  },
                  "precoDe": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") \"Preço De\" do produto variante (optional)",
                    "format": "double"
                  },
                  "precoPor": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") \"Preço Por\" de venda do produto variante",
                    "format": "double"
                  },
                  "fatorMultiplicadorPreco": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Fator multiplicador que gera o preço de exibição do produto.Ex.: produtos que exibem o preço em m² e cadastram o preço da caixa no \"PrecoPor\". (1 por padrão) (optional)",
                    "format": "double"
                  },
                  "prazoEntrega": {
                    "type": "integer",
                    "description": "Prazo de entrega do produto variante (optional)",
                    "format": "int32"
                  },
                  "valido": {
                    "type": "boolean",
                    "description": "Define se um produto variante é valido ou não"
                  },
                  "exibirSite": {
                    "type": "boolean",
                    "description": "Define se um produto deve ser exibido no site"
                  },
                  "freteGratis": {
                    "type": "string",
                    "description": "Define a qual regra de calculo de frete o produto vai pertencer",
                    "enum": [
                      "Sempre",
                      "Nunca",
                      "Neutro",
                      "Desconsiderar_Regras"
                    ]
                  },
                  "trocaGratis": {
                    "type": "boolean",
                    "description": "Define se o produto variante tem troca grátis (optional)"
                  },
                  "peso": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Peso do produto variante, em gramas (g).",
                    "format": "double"
                  },
                  "altura": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Altura do produto variante, em centímetros (cm).",
                    "format": "double"
                  },
                  "comprimento": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Comprimento do produto variante, em centímetros (cm).",
                    "format": "double"
                  },
                  "largura": {
                    "type": "number",
                    "description": "(Max Length: 8, \"0000.0000,00\") Largura do produto variante,  em centímetros (cm).",
                    "format": "double"
                  },
                  "garantia": {
                    "type": "integer",
                    "description": "Define se o produto variante tem garantia (optional)",
                    "format": "int32"
                  },
                  "isTelevendas": {
                    "type": "boolean",
                    "description": "Define se o produto contém televendas (optional)"
                  },
                  "ean": {
                    "type": "string",
                    "description": "(Max Length: 25) EAN do produto variante (optional)"
                  },
                  "localizacaoEstoque": {
                    "type": "string",
                    "description": "(Max Length: 255) Localização no estoque do produto variante (optional)"
                  },
                  "listaAtacado": {
                    "type": "array",
                    "description": "Dados de atacado do produto variante (optional)",
                    "items": {
                      "properties": {
                        "precoPor": {
                          "type": "number",
                          "description": "(Max Length: 8, \"0000.0000,00\") - Preco Por do item por atacado",
                          "format": "double"
                        },
                        "quantidade": {
                          "type": "integer",
                          "description": "Quantidade para compra de atacado",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "estoque": {
                    "type": "array",
                    "description": "Lista de estoque/centro de distribuição do produto. Obrigatório se valido for true (optional)",
                    "items": {
                      "properties": {
                        "estoqueFisico": {
                          "type": "integer",
                          "description": "Estoque físico do produto",
                          "format": "int32"
                        },
                        "estoqueReservado": {
                          "type": "integer",
                          "description": "Estoque reservado do produto",
                          "format": "int32"
                        },
                        "centroDistribuicaoId": {
                          "type": "integer",
                          "description": "Id do centro de distribuição do estoque do produto",
                          "format": "int32"
                        },
                        "alertaEstoque": {
                          "type": "integer",
                          "description": "Quantidade para ativar o alerta de estoque",
                          "format": "int32"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "listaAtributos": {
                    "type": "array",
                    "description": "Lista de atributos do produto",
                    "items": {
                      "properties": {
                        "nome": {
                          "type": "string",
                          "description": "(Max Length: 100) - Define o nome do atributo"
                        },
                        "valor": {
                          "type": "string",
                          "description": "(Max Length: 8, \"0000.0000,00\") - Define o valor do atributo"
                        },
                        "exibir": {
                          "type": "boolean",
                          "description": "Define se o atributo deverá ser exibido"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "quantidadeMaximaCompraUnidade": {
                    "type": "integer",
                    "description": "Quantidade máxima de compra do produto variante (optional)",
                    "format": "int32"
                  },
                  "quantidadeMinimaCompraUnidade": {
                    "type": "integer",
                    "description": "Quantidade mínima de compra do produto variante (optional)",
                    "format": "int32"
                  },
                  "condicao": {
                    "type": "string",
                    "description": "Condição do produto variante (optional)",
                    "enum": [
                      "Novo",
                      "Usado",
                      "Renovado",
                      "Danificado"
                    ]
                  },
                  "urlVideo": {
                    "type": "string",
                    "description": "Url do vídeo do Produto (optional)"
                  },
                  "spot": {
                    "type": "boolean",
                    "description": "Se o produto aparece no Spot (optional)"
                  },
                  "paginaProduto": {
                    "type": "boolean",
                    "description": "Se o produto aparece na Url (optional)"
                  },
                  "marketplace": {
                    "type": "boolean",
                    "description": "Se o produto aparece no Marketplace (optional)"
                  },
                  "somenteParceiros": {
                    "type": "boolean",
                    "description": "Se o produto aparece somente nos Parceiros (optional)"
                  },
                  "buyBox": {
[...]
