{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "version": "v2",
    "contact": {
      "name": "Dúvidas e suporte para API, envie um e-mail para",
      "email": "produto@vnda.com.br"
    },
    "description": "API versão 2 da Vnda E-commerce.\nSaiba mais no nosso [Guia de API](https://developers.vnda.com.br/docs/chave-de-acesso-e-requisicoes)",
    "license": {
      "name": "API Vnda",
      "url": "https://www.vnda.com.br/"
    }
  },
  "servers": [
    {
      "url": "https://api.vnda.com.br",
      "description": "Servidor do ambiente de produção"
    },
    {
      "url": "https://api.sandbox.vnda.com.br",
      "description": "Servidor do ambiente de testes"
    }
  ],
  "paths": {
    "/api/v2/products/{product_id}/videos": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "product_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Retorna os videos do produto",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "url": {
                        "type": "string"
                      },
                      "embed_url": {
                        "type": "string"
                      },
                      "thumbnail_url": {
                        "type": "string"
                      },
                      "updated_at": {
                        "type": "integer"
                      },
                      "variant_ids": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/seo_data": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "resource_type": {
                        "type": "string"
                      },
                      "resource_id": {
                        "type": "integer"
                      },
                      "parent_id": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "id",
                      "resource_type",
                      "resource_id",
                      "parent_id"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "resource_type",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "resource_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "code",
            "in": "query"
          }
        ]
      }
    },
    "/api/v2/users/authorize": {
      "post": {
        "summary": "User authorize",
        "responses": {
          "200": {
            "description": "Retornado quando o access token do usuário ainda é válido e a senha está correta"
          },
          "401": {
            "description": "Retornado quando o access_token não é mais válido e/ou a senha está incorreta"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "type": "object",
                "required": [
                  "access_token",
                  "password"
                ]
              }
            }
          },
          "description": ""
        },
        "description": "Permite autorizar operações usando o access_token e a senha do usuário",
        "parameters": [],
        "operationId": "post-api-v2-users-authorize",
        "tags": [
          "Usuários"
        ]
      }
    },
    "/api/v2/users/login": {
      "post": {
        "summary": "Faz o login do usuário",
        "responses": {
          "200": {
            "description": "Quando o usuário e a senha são válidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User.v1"
                }
              }
            }
          },
          "401": {
            "description": "Quando o usuário e/ou a senha não são válidos ou não foram passados"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "type": "object",
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          },
          "description": ""
        },
        "description": "Realiza o login do usuário a partir do email e da senha",
        "parameters": [],
        "operationId": "post-api-v2-users-login",
        "tags": [
          "Usuários"
        ]
      }
    },
    "/api/v2/users/logout": {
      "post": {
        "summary": "Faz o logout do usuário",
        "responses": {
          "200": {
            "description": "Quando o usuário atual existe"
          },
          "404": {
            "description": "Quando o usuário atual não existe"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "Token de validação de usuário logado\n\nO `access_token` é gerado quando o usuário loga no Admin              "
                  }
                },
                "type": "object"
              }
            }
          },
          "description": ""
        },
        "description": "Realiza o logout do usuário a partir do access_token do mesmo",
        "parameters": [],
        "operationId": "post-api-v2-users-logout",
        "tags": [
          "Usuários"
        ]
      }
    },
    "/api/v2/users/{id}": {
      "get": {
        "summary": "User",
        "responses": {
          "200": {
            "description": "Retorna os dados do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User.v1"
                },
                "examples": {
                  "Usuário": {
                    "value": {
                      "id": 1,
                      "email": "foo@vnda.com.br",
                      "name": null,
                      "admin": false,
                      "renew_password": false,
                      "role": 1,
                      "access_token": "706a99d0706a99d070006a99d0706a99d0706a99d0706a99d0706a99d0706a99d0",
                      "tags": [],
                      "external_code": null,
                      "created_at": "2019-11-06T08:50:37.130-03:00",
                      "updated_at": "2020-03-26T10:40:33.730-03:00"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "tags": [
          "Usuários"
        ],
        "operationId": "get-api-v2-users-id",
        "description": "Retorna os dados de um usuário pelo seu ID"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Atualiza um usuário",
        "operationId": "put-api-v2-users-id",
        "responses": {
          "204": {
            "description": "Quando o usuário é atualizado"
          },
          "404": {
            "description": "Quando o usuário não existe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                }
              }
            }
          }
        },
        "tags": [
          "Usuários"
        ],
        "description": "Atualiza um usuário",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "role_name": {
                    "type": "string",
                    "enum": [
                      "Agente",
                      "Gestor",
                      "Local"
                    ]
                  },
                  "password": {
                    "type": "string"
                  },
                  "password_confirmation": {
                    "type": "string"
                  },
                  "external_code": {
                    "type": "string"
                  },
                  "phone_area": {
                    "type": "string",
                    "maxLength": 2
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 9
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/credits/rules/versions": {
      "get": {
        "summary": "Lista as versões da regra de bônus",
        "tags": [
          "Créditos"
        ],
        "responses": {
          "200": {
            "description": "Quando as versões da regra são retornadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "ip": {
                      "type": "string"
                    },
                    "user_agent": {
                      "type": "string"
                    },
                    "cart_id": {
                      "type": "string"
                    },
                    "object_changes": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-credits-rules-versions",
        "parameters": [],
        "description": "Retorna as versões da regra de bônus cadastrada"
      }
    },
    "/api/v2/credits/rules": {
      "get": {
        "summary": "Regras de bônus",
        "tags": [
          "Créditos"
        ],
        "responses": {
          "200": {
            "description": "Quando as regras são retornadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "minimum_subtotal": {
                      "type": "number",
                      "minimum": 0
                    },
                    "bonus": {
                      "type": "number",
                      "minimum": 1
                    },
                    "delayed_for": {
                      "type": "number",
                      "minimum": 0
                    },
                    "valid_for": {
                      "type": "number",
                      "minimum": 1,
                      "exclusiveMinimum": false
                    },
                    "maximum_usage_factor": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1,
                      "exclusiveMaximum": false,
                      "exclusiveMinimum": true
                    }
                  },
                  "required": [
                    "active",
                    "minimum_subtotal",
                    "bonus",
                    "delayed_for",
                    "valid_for",
                    "maximum_usage_factor"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "active": true,
                      "minimum_subtotal": 100,
                      "bonus": 10,
                      "delayed_for": 5,
                      "valid_for": 30,
                      "maximum_usage_factor": 0.3
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-credits-rules",
        "parameters": [],
        "description": "Retorna as regras de bônus cadastradas"
      },
      "put": {
        "summary": "Atualiza a regras de bônus",
        "operationId": "put-api-v2-credits-rules",
        "responses": {
          "204": {
            "description": "Quando a regra é atualizada"
          }
        },
        "description": "Permite atualizar as regras de bônus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bonus": {
                    "type": "number",
                    "format": "float",
                    "minimum": 1,
                    "exclusiveMinimum": false,
                    "description": "Percentual em cima do total do pedido que vai ser dado de bônus para o cliente"
                  },
                  "valid_in": {
                    "type": "integer",
                    "description": "Número de dias em que o crédito começa a valer",
                    "minimum": 0
                  },
                  "valid_for": {
                    "type": "integer",
                    "description": "Número de dias para a expiração do crédito",
                    "minimum": 1
                  },
                  "minimum_subtotal": {
                    "type": "number",
                    "description": "Valor mínimo do pedido para que o bônus possa ser transferido para o cliente",
                    "format": "float",
                    "minimum": 1,
                    "exclusiveMinimum": false
                  },
                  "maximum_usage_factor": {
                    "type": "number",
                    "default": 1,
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "maximum": 1,
                    "description": "Percentual do subtotal do pedido que pode ser pago com o bônus"
                  }
                },
                "required": [
                  "bonus",
                  "valid_in",
                  "valid_for"
                ]
              }
            }
          },
          "description": "Parâmetros"
        },
        "parameters": [],
        "tags": [
          "Créditos"
        ]
      },
      "delete": {
        "summary": "Remove as regras de bônus",
        "operationId": "delete-api-v2-credits-rules",
        "responses": {
          "204": {
            "description": "Quando o bônus é removido"
          }
        },
        "tags": [
          "Créditos"
        ],
        "description": "Permite remover as regras de bônus, desativando o recurso"
      }
    },
    "/api/v2/orders/{code}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "minLength": 10,
            "maxLength": 64
          },
          "name": "code",
          "in": "path",
          "required": true,
          "description": "O \"code\" do pedido ou o \"token\""
        },
        {
          "schema": {
            "type": "boolean",
            "default": false
          },
          "in": "query",
          "name": "include_customizations_in_total",
          "description": "Inclui o preço dos produtos customizados no total do pedido"
        }
      ],
      "get": {
        "summary": "Retorna um pedido",
        "tags": [
          "Pedidos"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order.v1"
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-orders-code",
        "description": "Retorna os dados de um pedido usando o `code` ou `token`",
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "include_shipping_address",
            "description": "Retorna as formas de entrega do pedido"
          }
        ]
      }
    },
    "/api/v2/orders": {
      "get": {
        "summary": "Lista os pedidos",
        "tags": [
          "Pedidos"
        ],
        "responses": {
          "200": {
            "description": "Quando os pedidos são retornados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order.v1"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Domínio de loja não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-orders",
        "description": "Retorna uma lista de pedidos",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/finish"
          },
          {
            "$ref": "#/components/parameters/invoiced"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/coupon_codes"
          },
          {
            "$ref": "#/components/parameters/include_customizations_in_total"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/start"
        },
        {
          "$ref": "#/components/parameters/finish"
        },
        {
          "$ref": "#/components/parameters/invoiced"
        },
        {
          "$ref": "#/components/parameters/page"
        },
        {
          "$ref": "#/components/parameters/per_page"
        },
        {
          "$ref": "#/components/parameters/coupon_codes"
        },
        {
          "$ref": "#/components/parameters/include_customizations_in_total"
        }
      ]
    },
    "/api/v2/orders/{code}/capture": {
      "post": {
        "summary": "Captura",
        "operationId": "post-api-v2-orders-capture",
        "responses": {
          "200": {
            "description": "Quando a captura foi realizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Pagar.me": {
                    "value": {
                      "object": "transaction",
                      "status": "paid",
                      "refuse_reason": null,
                      "status_reason": "acquirer",
                      "acquirer_response_code": "0000",
                      "acquirer_name": "pagarme",
                      "acquirer_id": "5eab10915eab10915eab1091",
                      "authorization_code": "123456",
                      "soft_descriptor": "",
                      "tid": 1234567,
                      "nsu": 1234567,
                      "date_created": "2020-05-14T19:14:50.322Z",
                      "date_updated": "2020-05-15T14:19:34.699Z",
                      "amount": 1400,
                      "authorized_amount": 1400,
                      "paid_amount": 1400,
                      "refunded_amount": 0,
                      "installments": 1,
                      "id": 1234567,
                      "cost": 120,
                      "card_holder_name": "John Doe",
                      "card_last_digits": "6565",
                      "card_first_digits": "470373",
                      "card_brand": "visa",
                      "card_pin_mode": null,
                      "card_magstripe_fallback": false,
                      "cvm_pin": false,
                      "postback_url": "https://demo.vnda.com.br/v2/payments/pagarme/notifications",
                      "payment_method": "credit_card",
                      "capture_method": "ecommerce",
                      "antifraud_score": null,
                      "boleto_url": null,
                      "boleto_barcode": null,
                      "boleto_expiration_date": null,
                      "referer": "api_key",
                      "ip": "127.0.0.1",
                      "subscription_id": null,
                      "phone": null,
                      "address": null,
                      "customer": {
                        "object": "customer",
                        "id": 2954669,
                        "external_id": "example@vnda.com.br",
                        "type": "individual",
                        "country": "br",
                        "document_number": null,
                        "document_type": "cpf",
                        "name": "John Doe",
                        "email": "example@vnda.com.br",
                        "phone_numbers": [
                          "+5511111111111"
                        ],
                        "born_at": null,
                        "birthday": null,
                        "gender": null,
                        "date_created": "2020-05-14T19:14:50.248Z",
                        "documents": [
                          {
                            "object": "document",
                            "id": "doc_cka75cka75cka75cka75cka75",
                            "type": "cpf",
                            "number": 191
                          }
                        ]
                      },
                      "billing": {
                        "object": "billing",
                        "id": 1255695,
                        "name": "John Doe",
                        "address": {
                          "object": "address",
                          "street": "Rua João Neves da Fontoura",
                          "complementary": null,
                          "street_number": "1",
                          "neighborhood": "Azenha",
                          "city": "Porto Alegre",
                          "state": "RS",
                          "zipcode": "90050030",
                          "country": "br",
                          "id": 2808888
                        }
                      },
                      "shipping": null,
                      "items": [
                        {
                          "object": "item",
                          "id": "05.01.4.1.006",
                          "title": "Aceto Balsâmico Di Modena IGP 500ml Aceto Balsamico Di Modena IGP 500ml",
                          "unit_price": 1400,
                          "quantity": 1,
                          "category": null,
                          "tangible": true,
                          "venue": null,
                          "date": null
                        }
                      ],
                      "card": {
                        "object": "card",
                        "id": "card_cka75cka75cka75cka75cka75",
                        "date_created": "2020-05-14T19:14:50.307Z",
                        "date_updated": "2020-05-14T19:14:50.717Z",
                        "brand": "visa",
                        "holder_name": "f dc",
                        "first_digits": "470373",
                        "last_digits": "6565",
                        "country": "RUSSIA",
                        "fingerprint": "cka75cka75cka75cka75cka75",
                        "valid": true,
                        "expiration_date": "0423"
                      },
                      "split_rules": null,
                      "metadata": {
                        "order": "7A4F490570",
                        "seller-1": {
                          "name": "default",
                          "package": "7A4F490570-01"
                        }
                      },
                      "antifraud_metadata": {},
                      "reference_key": null,
                      "device": null,
                      "local_transaction_id": null,
                      "local_time": null,
                      "fraud_covered": false,
                      "fraud_reimbursed": null,
                      "order_id": null,
                      "risk_level": "very_low",
                      "receipt_url": null,
                      "payment": null,
                      "addition": null,
                      "discount": null,
                      "private_label": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Quando não foi possível realizar a captura junto ao adquirente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "failure": {
                    "value": {
                      "error": "Capture was unsuccessful"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Faz a captura do pagamento no adquirente\nApenas para pedidos pagos com cartão de crédito",
        "tags": [
          "Pedidos"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "code",
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/v2/orders/{code}/confirm": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "code",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Confirma",
        "operationId": "post-api-v2-orders-code-confirm",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Altera o status do pedido para \"confirmado\"",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmation_data": {
                    "type": "string",
                    "description": "Para cartão de crédito deve ser enviado OBRIGATORIAMENTE o retorno da requisição para \"/api/v2/orders/{code}/capture\""
                  }
                }
              },
              "examples": {
                "Depósito": {
                  "value": {
                    "banco": "Banco do Brasil",
                    "data_credito": "2020-03-26",
                    "conferido_por": "Nome do usuário do financeiro"
                  }
                },
                "Cartão de crédito via Pagar.me": {
                  "value": {
                    "object": "transaction",
                    "status": "paid",
                    "refuse_reason": null,
                    "status_reason": "acquirer",
                    "acquirer_response_code": "0000",
                    "acquirer_name": "pagarme",
                    "acquirer_id": "5eab10915eab10915eab1091",
                    "authorization_code": "123456",
                    "soft_descriptor": "",
                    "tid": 1234567,
                    "nsu": 1234567,
                    "date_created": "2020-05-14T19:14:50.322Z",
                    "date_updated": "2020-05-15T14:19:34.699Z",
                    "amount": 1400,
                    "authorized_amount": 1400,
                    "paid_amount": 1400,
                    "refunded_amount": 0,
                    "installments": 1,
                    "id": 1234567,
                    "cost": 120,
                    "card_holder_name": "John Doe",
                    "card_last_digits": "6565",
                    "card_first_digits": "470373",
                    "card_brand": "visa",
                    "card_pin_mode": null,
                    "card_magstripe_fallback": false,
                    "cvm_pin": false,
                    "postback_url": "https://demo.vnda.com.br/v2/payments/pagarme/notifications",
                    "payment_method": "credit_card",
                    "capture_method": "ecommerce",
                    "antifraud_score": null,
                    "boleto_url": null,
                    "boleto_barcode": null,
                    "boleto_expiration_date": null,
                    "referer": "api_key",
                    "ip": "127.0.0.1",
                    "subscription_id": null,
                    "phone": null,
                    "address": null,
                    "customer": {
                      "object": "customer",
                      "id": 2954669,
                      "external_id": "example@vnda.com.br",
                      "type": "individual",
                      "country": "br",
                      "document_number": null,
                      "document_type": "cpf",
                      "name": "John Doe",
                      "email": "example@vnda.com.br",
                      "phone_numbers": [
                        "+5511111111111"
                      ],
                      "born_at": null,
                      "birthday": null,
                      "gender": null,
                      "date_created": "2020-05-14T19:14:50.248Z",
                      "documents": [
                        {
                          "object": "document",
                          "id": "doc_cka75cka75cka75cka75cka75",
                          "type": "cpf",
                          "number": 191
                        }
                      ]
                    },
                    "billing": {
                      "object": "billing",
                      "id": 1255695,
                      "name": "John Doe",
                      "address": {
                        "object": "address",
                        "street": "Rua João Neves da Fontoura",
                        "complementary": null,
                        "street_number": "1",
                        "neighborhood": "Azenha",
                        "city": "Porto Alegre",
                        "state": "RS",
                        "zipcode": "90050030",
                        "country": "br",
                        "id": 2808888
                      }
                    },
                    "shipping": null,
                    "items": [
                      {
                        "object": "item",
                        "id": "05.01.4.1.006",
                        "title": "Aceto Balsâmico Di Modena IGP 500ml Aceto Balsamico Di Modena IGP 500ml",
                        "unit_price": 1400,
                        "quantity": 1,
                        "category": null,
                        "tangible": true,
                        "venue": null,
                        "date": null
                      }
                    ],
                    "card": {
                      "object": "card",
                      "id": "card_cka75cka75cka75cka75cka75",
                      "date_created": "2020-05-14T19:14:50.307Z",
                      "date_updated": "2020-05-14T19:14:50.717Z",
                      "brand": "visa",
                      "holder_name": "f dc",
                      "first_digits": "470373",
                      "last_digits": "6565",
                      "country": "RUSSIA",
                      "fingerprint": "cka75cka75cka75cka75cka75",
                      "valid": true,
                      "expiration_date": "0423"
                    },
                    "split_rules": null,
                    "metadata": {
                      "order": "7A4F490570",
                      "seller-1": {
                        "name": "default",
                        "package": "7A4F490570-01"
                      }
                    },
                    "antifraud_metadata": {},
                    "reference_key": null,
                    "device": null,
                    "local_transaction_id": null,
                    "local_time": null,
                    "fraud_covered": false,
                    "fraud_reimbursed": null,
                    "order_id": null,
                    "risk_level": "very_low",
                    "receipt_url": null,
                    "payment": null,
                    "addition": null,
                    "discount": null,
                    "private_label": null
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Pedidos"
        ]
      }
    },
    "/api/v2/orders/{code}/chargeback": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "code",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Estorna",
        "operationId": "post-api-v2-orders-code-chargeback",
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "description": "Faz o estorno do pagamento no adquirente\nApenas para pedidos pagos com cartão de crédito",
        "tags": [
          "Pedidos"
        ]
      }
    },
    "/api/v2/orders/{code}/cancel": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "code",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Cancela",
        "operationId": "post-api-v2-orders-code-cancel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Altera o status do pedido para \"cancelado\"",
        "tags": [
          "Pedidos"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancelation_data": {
                    "type": "string",
                    "description": "Deve ser enviado algo que comprove que o pagamento foi devolvido.\nPara cartão de crédito deve ser enviado OBRIGATORIAMENTE o retorno da requisição para \"/api/v2/orders/{code}/chargeback\""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/orders/{order_code}/packages/{package_code}/ship": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "order_code",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "package_code",
          "in": "path",
          "required": true
        }
      ],
      "patch": {
        "summary": "Altera para enviado",
        "operationId": "patch-api-v2-orders-code-packages-code-ship",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Pedido ou rastreio não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "description": "Altera o status do pacote para \"enviado\"",
        "tags": [
          "Pacotes"
        ],
        "parameters": []
      }
    },
    "/api/v2/orders/{order_code}/packages/{package_code}/deliver": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "order_code",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "package_code",
          "in": "path",
          "required": true
        }
      ],
      "patch": {
        "summary": "Altera para entregue",
        "operationId": "patch-api-v2-orders-code-packages-code-deliver",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Pedido ou rastreio não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "description": "Altera o pacote para \"entregue\"",
        "tags": [
          "Pacotes"
        ]
      }
    },
    "/api/v2/variants/quantity": {
      "post": {
        "summary": "Atualiza em lote",
        "operationId": "post-api-v2-variants-quantity",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Estoque"
        ],
        "description": "Recebe uma lista JSON com os SKUs que devem ser atualizados. A atualização será executada em segundo plano em aproximadamente 1 minuto ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sku": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "place_id": {
                      "type": "integer",
                      "description": "Informe somente para atualizar o estoque de um local específico"
                    }
                  },
                  "required": [
                    "sku",
                    "quantity"
                  ]
                }
              },
              "examples": {
                "Exemplo": {
                  "value": [
                    {
                      "sku": "21390",
                      "quantity": 12,
                      "place_id": 1
                    },
                    {
                      "sku": "21827",
                      "quantity": 12
                    }
                  ]
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/api/v2/variants/{sku}/quantity": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sku",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Atualiza",
        "operationId": "post-api-v2-variants-sku-quantity",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Exemplo": {
                    "value": {
                      "status": "ok"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Exemplo": {
                    "value": {
                      "status": "error",
                      "message": "A quantity must be provided to update stock"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Estoque"
        ],
        "description": "Atualiza o estoque de uma variante de um produto",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity",
            "required": true
          }
        ]
      }
    },
    "/api/v2/variants/{sku}/inventories/{place_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sku",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "place_id",
          "in": "path",
          "required": true
        }
      ],
      "patch": {
        "summary": "Atualiza um local",
        "operationId": "patch-api-v2-variants-sku-inventories-place_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Exemplo": {
                    "value": {
                      "status": "ok"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Exemplo": {
                    "value": {
                      "status": "error",
                      "message": "Quantity or price must be provided to update stock"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Estoque"
        ],
        "description": "Atualiza o estoque específico de um local",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "quantity"
          }
        ]
      }
    },
    "/api/v2/products/{product_id}/variants": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "product_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Lista as variantes",
        "tags": [
          "Variantes"
        ],
        "responses": {
          "200": {
            "description": "Quando as variantes são listadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variant"
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 95,
                        "main": true,
                        "available": true,
                        "sku": "123",
                        "name": "Variation",
                        "slug": "variation",
                        "min_quantity": 1,
                        "quantity": 1,
                        "quantity_sold": 0,
                        "stock": 1,
                        "custom_attributes": {},
                        "properties": {},
                        "updated_at": "2020-10-27T11:54:32.018-03:00",
                        "price": 10,
                        "installments": [
                          10
                        ],
                        "available_quantity": 1,
                        "weight": 0.001,
                        "width": 1,
                        "height": 1,
                        "length": 1,
                        "handling_days": 0,
                        "inventories": [],
                        "sale_price": 10,
                        "image_url": "//b0.vnda.com.br/x120/shop/2014/07/08/variation.jpg",
                        "product_id": 6,
                        "barcode": null,
                        "norder": 1
                      },
                      {
                        "id": 27,
                        "main": false,
                        "available": true,
                        "sku": "13001",
                        "name": "Tamanho: PP | Cor: Branca",
                        "slug": "camiseta",
                        "min_quantity": 1,
                        "quantity": 85,
                        "stock": 83,
                        "custom_attributes": {
                          "size": "PP",
                          "color": "#FFFFFF"
                        },
                        "properties": {},
                        "updated_at": "2019-08-01T18:36:52.718-03:00",
                        "price": 169.9,
                        "installments": [
                          169.9
                        ],
                        "available_quantity": 83,
                        "weight": 0.1,
                        "width": 11,
                        "height": 2,
                        "length": 16,
                        "handling_days": 0,
                        "inventories": [],
                        "sale_price": 169.9,
                        "image_url": "//b0.vnda.com.br/x120/shop/2014/07/08/camiseta.jpg",
                        "product_id": 6,
                        "barcode": null,
                        "norder": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros enviados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": "invalid rate value"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-products-product_id-variants",
        "description": "Permite listar as variantes de um produto"
      },
      "post": {
        "summary": "Cria uma variante",
        "operationId": "post-api-v2-products-product_id-variants",
        "responses": {
          "201": {
            "description": "Quando a variante é criada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "main": {
                      "type": "boolean"
                    },
                    "available": {
                      "type": "boolean"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "min_quantity": {
                      "type": "integer"
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "stock": {
                      "type": "integer",
                      "description": "Quantidade de itens disponíveis"
                    },
                    "custom_attributes": {
                      "type": "object",
                      "description": "Customização da variante"
                    },
                    "properties": {
                      "type": "object"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e horário da última atualização"
                    },
                    "price": {
                      "type": "integer"
                    },
                    "installments": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "available_quantity": {
                      "type": "integer"
                    },
                    "weight": {
                      "type": "number",
                      "description": "Massa do produto, em gramas"
                    },
                    "width": {
                      "type": "number",
                      "description": "Largura do produto, em centímetros"
                    },
                    "height": {
                      "type": "number",
                      "description": "Altura do produto, em centímetros"
                    },
                    "length": {
                      "type": "number",
                      "description": "Comprimento do produito, em centímetros"
                    },
                    "handling_days": {
                      "type": "number",
                      "description": "Dias de manuseio da variante"
                    },
                    "inventories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Variant_inventory.v1"
                      }
                    },
                    "sale_price": {
                      "type": "number"
                    },
                    "image_url": {
                      "type": "string"
                    },
                    "product_id": {
                      "type": "integer"
                    },
                    "norder": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 95,
                      "main": false,
                      "available": true,
                      "sku": "SHOP0001",
                      "name": "Variation",
                      "slug": "variation",
                      "min_quantity": 1,
                      "quantity": 1,
                      "stock": 1,
                      "custom_attributes": {},
                      "properties": {},
                      "updated_at": "2020-10-27T11:54:32.018-03:00",
                      "price": 10,
                      "installments": [
                        10
                      ],
                      "available_quantity": 1,
                      "weight": 0.001,
                      "width": 1,
                      "height": 1,
                      "length": 1,
                      "handling_days": 0,
                      "inventories": [],
                      "sale_price": 10,
                      "image_url": "//b0.vnda.com.br/x120/shop/2014/07/08/variation.jpg",
                      "product_id": 6,
                      "norder": 1
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                }
              }
            }
          }
        },
        "tags": [
          "Variantes"
        ],
        "description": "Permite criar uma variante",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "main": {
                    "type": "boolean"
                  },
                  "width": {
                    "type": "number",
                    "description": "Largura do produto, em centímetros"
                  },
                  "height": {
                    "type": "number",
                    "description": "Altura do produto, em centímetros"
                  },
                  "length": {
                    "type": "number",
                    "description": "Comprimento do produito, em centímetros"
                  },
                  "weight": {
                    "type": "number",
                    "description": "Massa do produto, em gramas"
                  },
                  "handling_days": {
                    "type": "integer",
                    "description": "Dias de manuseio da variante"
                  },
                  "price": {
                    "type": "number"
                  },
                  "custom_attributes": {
                    "type": "object",
                    "description": "Customização da variante"
                  },
                  "min_quantity": {
                    "type": "integer"
                  },
                  "norder": {
                    "type": "integer"
                  },
                  "property1": {
                    "type": "string",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "defining": {
                        "type": "boolean"
                      }
                    }
                  },
                  "property2": {
                    "type": "string",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "defining": {
                        "type": "boolean"
                      }
                    }
                  },
                  "property3": {
                    "type": "string",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "defining": {
                        "type": "boolean"
                      }
                    }
                  },
                  "barcode": {
                    "type": "string"
                  }
                },
                "required": [
                  "sku",
                  "quantity",
                  "price"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v2/products/{product_id}/variants/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "product_id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "patch": {
        "summary": "Atualiza uma variante",
        "operationId": "patch-api-v2-products-product_id-variants-id",
        "responses": {
          "204": {
            "description": "Quando a variante é atualizada"
          },
          "404": {
            "description": "Quando a variante não existe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                }
              }
            }
          }
        },
        "tags": [
          "Variantes"
        ],
        "description": "Permite atualizar uma variante",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "main": {
                    "type": "boolean"
                  },
                  "width": {
                    "type": "number"
                  },
                  "height": {
                    "type": "number"
                  },
                  "length": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "handling_days": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  },
                  "custom_attributes": {
                    "type": "object"
                  },
                  "min_quantity": {
                    "type": "integer"
                  },
                  "norder": {
                    "type": "integer"
                  },
                  "property1": {
                    "type": "string"
                  },
                  "property2": {
                    "type": "string"
                  },
                  "property3": {
                    "type": "string"
                  },
                  "barcode": {
                    "type": "string"
                  },
                  "quantity_sold": {
                    "type": "integer"
                  }
                },
                "required": [
                  "sku",
                  "quantity",
                  "price"
                ]
              }
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "summary": "Remove uma variante",
        "operationId": "delete-api-v2-products-product_id-variants-id",
        "responses": {
          "204": {
            "description": "Quando a variante é removida"
          },
          "404": {
            "description": "Quando a variante não existe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          }
        },
        "tags": [
          "Variantes"
        ],
        "description": "Permite remover uma variante"
      }
    },
    "/api/v2/variants/reorder": {
      "post": {
        "summary": "Reordena as variantes",
        "operationId": "post-api-v2-variants-reorder",
        "responses": {
          "200": {
            "description": "Quando as variantes são reordenadas"
          }
        },
        "tags": [
          "Variantes"
        ],
        "description": "Permite determinar a ordem das variantes dentro de cada produto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "A ordem dos elementos será replicada para as variantes",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "ids"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "ids": [
                      32,
                      29,
                      28,
                      31,
                      30,
                      27
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/templates/{path}": {
      "get": {
        "summary": "Retorna um template",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Quando um template é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template.v1"
                },
                "examples": {
                  "Template": {
                    "value": {
                      "path": "home.liquid",
                      "body": "<h1>shop site!</h1>",
                      "updated_at": "2020-05-17T21:37:38.000-03:00"
                    }
                  },
                  "Partial": {
                    "value": {
                      "path": "partials/components/product_block/_images_by_gender.liquid",
                      "body": "<p>partial template</p>",
                      "updated_at": "2020-05-17T21:37:38.000-03:00"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Quando um template não é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                },
                "examples": {
                  "404": {
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-templates-path",
        "description": "Retorna um template usando o path dele",
        "parameters": []
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "pattern": "[0-9A-Za-z_\\.\\/]+"
          },
          "name": "path",
          "in": "path",
          "required": true,
          "description": "Caminho relativo do template"
        }
      ],
      "patch": {
        "summary": "Atualiza um template",
        "operationId": "patch-api-v2-templates-path",
        "responses": {
          "204": {
            "description": "Quando um template é atualizado com sucesso"
          },
          "404": {
            "description": "Quando um template não é contrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                },
                "examples": {
                  "404": {
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "parameters": [],
        "description": "Atualiza o conteúdo de um template usando o path dele",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Template": {
                  "value": {
                    "body": "<h1>shop site!</h1>"
                  }
                },
                "Partial": {
                  "value": {
                    "body": "<p>partial template</p>"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove um template",
        "operationId": "delete-api-v2-templates-path",
        "responses": {
          "204": {
            "description": "Quando um template é excluído com sucesso"
          },
          "404": {
            "description": "Quando um template não é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                },
                "examples": {
                  "404": {
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Remove um template usando o path dele",
        "tags": [
          "Templates"
        ],
        "parameters": []
      }
    },
    "/api/v2/templates": {
      "post": {
        "summary": "Cria um template",
        "operationId": "post-api-v2-templates",
        "responses": {
          "201": {
            "description": "Quando um template é criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template.v1"
                },
                "examples": {
                  "Template": {
                    "value": {
                      "path": "home.liquid",
                      "body": "<h1>shop site!</h1>",
                      "updated_at": "2020-05-17T21:37:38.000-03:00"
                    }
                  },
                  "Partial": {
                    "value": {
                      "path": "partials/components/product_block/_images_by_gender.liquid",
                      "body": "<p>partial template</p>",
                      "updated_at": "2020-05-17T21:37:38.000-03:00"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                },
                "examples": {
                  "Parâmetro `path` em branco": {
                    "value": {
                      "errors": {
                        "path": [
                          "não pode ficar em branco"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "path"
                ]
              },
              "examples": {
                "Template": {
                  "value": {
                    "path": "home.liquid",
                    "body": "<h1>shop site!</h1>"
                  }
                },
                "Partial": {
                  "value": {
                    "path": "partials/components/product_block/_images_by_gender.liquid",
                    "body": "<p>partial template</p>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "description": "Cria um novo template"
      },
      "get": {
        "summary": "Lista os templates",
        "operationId": "get-api-v2-templates",
        "responses": {
          "200": {
            "description": "Quando os templates são listados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template.v1"
                  }
                },
                "examples": {
                  "Template": {
                    "value": [
                      {
                        "path": "home.liquid",
                        "body": "<h1>shop site!</h1>",
                        "updated_at": "2020-05-17T21:37:38.000-03:00"
                      }
                    ]
                  },
                  "Partial": {
                    "value": [
                      {
                        "path": "partials/components/product_block/_images_by_gender.liquid",
                        "body": "<p>partial template</p>",
                        "updated_at": "2020-05-17T21:37:38.000-03:00"
                      }
                    ]
                  },
                  "Sem templates": {
                    "value": []
                  }
                }
              }
            }
          }
        },
        "description": "Retorna uma lista de templates",
        "parameters": [],
        "tags": [
          "Templates"
        ]
      }
    },
    "/api/v2/users/{id}/activate": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Ativar",
        "operationId": "post-api-v2-users-id-activate",
        "responses": {
          "200": {
            "description": "Quando a ativação foi realizada com sucesso"
          },
          "404": {
            "description": "Quando o usuário não é encontrado"
          }
        },
        "description": "Reativa um usuário que estiver desativado",
        "tags": [
          "Usuários"
        ]
      }
    },
    "/api/v2/users/{id}/deactivate": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Desativar",
        "operationId": "post-api-v2-users-id-deactivate",
        "responses": {
          "200": {
            "description": "Quando a desativação foi realizada com sucesso"
          },
          "404": {
            "description": "Quando o usuário não é encontrado"
          }
        },
        "tags": [
          "Usuários"
        ],
        "description": "Desativa um usuário"
      }
    },
    "/api/v2/users": {
      "get": {
        "summary": "Lista os usuários",
        "operationId": "get-api-v2-users",
        "responses": {
          "200": {
            "description": "Quando os usuários são listados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User.v1",
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Código identificador do usuário"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email do usuário"
                      },
                      "access_token": {
                        "type": "string",
                        "description": "Token de validação de usuário logado (`access_token`)\n      \nO `access_token` é gerado quando o usuário loga no Admin"
                      },
                      "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Nome do usuário"
                      },
                      "admin": {
                        "type": "boolean",
                        "description": "Identificador de usuários administradores\n\nEsse atributo retorna `true` para um usuário administrador do ambiente de loja"
                      },
                      "renew_password": {
                        "type": "boolean",
                        "description": "Identificador de usuários que atualizaram a senha inicial\n\nEsse atributo retorna `true` para um usuário que já redefiniu sua senha pelo menos uma vez"
                      },
                      "role": {
                        "type": "integer",
                        "description": "Código da função do usuário na loja:\n\n  - Agente: `0`;\n  - Gestor: `1`;\n  - Local: `2`;\n  - Agente Social Selling: `3`."
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Tags para agrupamento de usuários\nAs tags podem ser são utilizadas para direcionar promoções para determinados usuários, organizar os recebedores em uma divisão de pagamentos, definir regras de comissão"
                      },
                      "external_code": {
                        "type": "string",
                        "nullable": true,
                        "description": "Código externo do Vendedor. Esse campo é destinado para cadastrar um código de vendedor já existente em outro sistema."
                      },
                      "phone_area": {
                        "type": "string",
                        "maxLength": 2,
                        "minLength": 2,
                        "description": "Código de  Discagem Direta a Distância (DDD) do telefone do usuário"
                      },
                      "phone": {
                        "type": "string",
                        "maxLength": 9,
                        "minLength": 8,
                        "description": "Número de telefone do usuário"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data de inclusão do usuário no Admin"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data de atualização das informações do usuário"
                      }
                    }
                  }
                },
                "examples": {
                  "Usuários": {
                    "value": [
                      {
                        "id": 1,
                        "email": "foo@vnda.com.br",
                        "name": null,
                        "admin": false,
                        "renew_password": false,
                        "role": 1,
                        "access_token": "706a99d0706a99d0706a99d0706a99d0706a99d0706a99d0706a99d0706a99d0",
                        "tags": [],
                        "external_code": null,
                        "created_at": "2019-11-06T08:50:37.130-03:00",
                        "updated_at": "2020-03-26T10:40:33.730-03:00"
                      }
                    ]
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "email": "foo@vnda.com.br",
                    "name": "User 1",
                    "admin": true,
                    "renew_password": true,
                    "role": 1,
                    "access_token": "706a99d0706a99d070006a99d0706a99d0706a99d0706a99d0706a99d0706a99d0",
                    "tags": [],
                    "external_code": null,
                    "created_at": "2019-11-06T08:50:37.130-03:00",
                    "updated_at": "2020-03-26T10:40:33.730-03:00"
                  },
                  {
                    "id": 1,
                    "email": "test@vnda.com.br",
                    "name": "User 2",
                    "admin": false,
                    "renew_password": false,
                    "role": 2,
                    "access_token": "706a99d0706a99dhgs070006a99d0706a99d0706a99d0706a99d0706a99d0706a99d0",
                    "tags": [],
                    "external_code": null,
                    "created_at": "2019-12-06T08:50:37.130-03:00",
                    "updated_at": "2020-04-26T10:40:33.730-03:00"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Token de acesso inválido"
          },
          "404": {
            "description": "Domínio da loja inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          }
        },
        "tags": [
          "Usuários"
        ],
        "description": "Lista os usuários",
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "include_inactive",
            "description": "Incluir usuários desativados?"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "include_images",
            "description": "Incluir todas as imagens dos produtos?"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "external_code",
            "description": "Exibe somente os usuários com o código externo indicado"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "Agente",
                "Gestor",
                "Local"
              ]
            },
            "in": "query",
            "name": "role_name",
            "description": "Exibe somente os usuários com a função indicada"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "term",
            "description": "Filtra usuários que contenham o valor indicado no nome, telefone, email ou código externo"
          }
        ]
      },
      "post": {
        "summary": "Cria um usuário",
        "operationId": "post-api-v2-users",
        "responses": {
          "200": {
            "description": "Quando o usuário é criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User.v1"
                }
              }
            }
          },
          "201": {
            "description": "Usuário criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User.v1"
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                }
              }
            }
          }
        },
        "tags": [
          "Usuários"
        ],
        "description": "Cria um usuário",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "role_name": {
                    "type": "string",
                    "enum": [
                      "Agente",
                      "Gestor",
                      "Local"
                    ]
                  },
                  "password": {
                    "type": "string"
                  },
                  "password_confirmation": {
                    "type": "string"
                  },
                  "external_code": {
                    "type": "string"
                  },
                  "phone_area": {
                    "type": "string",
                    "maxLength": 2
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 9
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/users/tags": {
      "get": {
        "summary": "Lista as tags dos usuários a partir das funções",
        "operationId": "get-api-v2-users-tags",
        "responses": {
          "200": {
            "description": "Quando as tags são retornadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Usuários"
        ],
        "description": "Lista os usuários",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "Agente",
                "Gestor",
                "Local",
                "Agente Social Selling"
              ]
            },
            "in": "query",
            "name": "role_names",
            "description": "Exibe somente os usuários com a função indicada"
          }
        ]
      }
    },
    "/api/v2/carts": {
      "get": {
        "summary": "Lista os carrinhos",
        "operationId": "get-api-v2-carts",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Carts"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "tags": [
          "Carrinhos"
        ],
        "description": "Retorna a lista de carrinhos ativos nos últimos 60 dias",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "Número da página"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "per_page",
            "description": "Quantidade de produtos por página"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "without_phones",
            "description": "Inclui os carrinhos sem telefone (não enviar o campo para não incluir)"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "with_payments",
            "description": "Filtra os carrinhos que possuem tentativa de pagamento"
          }
        ]
      },
      "post": {
        "summary": "Cria um carrinho",
        "operationId": "post-api-v2-carts",
        "description": "Permite criar um carrinho",
        "tags": [
          "Carrinhos da loja"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "ipv4"
            },
            "in": "header",
            "name": "X-Browser-Ip",
            "description": "Internet Protocol (IP) da máquina de onde é criado o carrinho",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-User-Agent",
            "description": "Identificador da origem do carrinho na loja (como navegador ou dispositivo)",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cart.simple"
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": "Carrinho criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart.v1"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/api/v2/carts/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Pode ser o id ou o token do carrinho"
        }
      ],
      "patch": {
        "summary": "Atualiza um carrinho",
        "operationId": "patch-api-v2-carts-id",
        "responses": {
          "204": {
            "description": "Quando o carrinho é atualizado com sucesso"
          },
          "404": {
            "description": "Quando o carrinho não é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                },
                "examples": {
                  "Com um email inválido": {
                    "value": {
                      "errors": {
                        "client": [
                          "não é válido"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "email": {
                    "type": "string",
                    "description": "DEPRECATED: enviar o `client_id`",
                    "format": "email"
                  },
                  "rebate_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Carrinhos"
        ],
        "description": "Permite atualizar os atributos de um carrinho",
        "parameters": []
      },
      "delete": {
        "summary": "Exclui um carrinho",
        "operationId": "delete-api-v2-carts-id",
        "responses": {
          "204": {
            "description": "Quando um carrinho é excluído com sucesso"
          },
          "404": {
            "description": "Quando um carrinho não é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                },
                "examples": {
                  "404": {
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Carrinhos"
        ],
        "description": "Permite excluir um carrinho",
        "parameters": []
      },
      "get": {
        "summary": "Retorna um carrinho",
        "operationId": "get-api-v2-carts-id",
        "responses": {
          "200": {
            "description": "Quando o carrinho é encontrado",
            "headers": {
              "X-Attempt-Count": {
                "schema": {
                  "type": "integer"
                },
                "description": "O número de tentativas de pagamento"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart.v1"
                }
              }
            }
          },
          "404": {
            "description": "Quando um carrinho não é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                },
                "examples": {
                  "404": {
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Carrinhos"
        ],
        "description": "Permite retornar um carrinho",
        "parameters": []
      },
      "post": {
        "summary": "Cria um carrinho",
        "operationId": "post-api-v2-carts-id",
        "responses": {
          "201": {
            "description": "Quando um carrinho é criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart.v1"
                }
              }
            }
          },
          "422": {
            "description": "Quando os parâmetros enviados são inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422.v1"
                },
                "examples": {
                  "Sem os parâmetros obrigatórios": {
                    "value": {
                      "errors": {
                        "browser_ip": [
                          "não pode ficar em branco"
                        ],
                        "user_agent": [
                          "não pode ficar em branco"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Permite criar um carrinho",
        "tags": [
          "Carrinhos"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "ipv4"
            },
            "in": "header",
            "name": "X-Browser-Ip",
            "description": "IP do usuário que está criando o carrinho na loja",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-User-Agent",
            "description": "User-Agent do navegador do usuário criando o carrinho na loja",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "coupon_code": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "description": "DEPRECATED: enviar o `client_id`",
                    "format": "email"
                  },
                  "rebate_token": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/api/v2/carts/{id}/installments": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Retorna as parcelas do total de um carrinho",
        "tags": [
          "Carrinhos"
        ],
        "responses": {
          "200": {
            "description": "Quando o carrinho é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cart_installment.v1"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Quando um carrinho não é encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404.v1"
                },
                "examples": {
                  "Não encontrado": {
                    "value": {
                      "error": "not found"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-carts-id-installments",
        "description": "Permite calcular as parcelas referentes ao total do carrinho",
        "parameters": []
      }
    },
    "/api/v2/places": {
      "get": {
        "summary": "Lista os locais",
        "tags": [
          "Locais"
        ],
        "responses": {
          "200": {
            "description": "Quando os locais são listadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place.v1"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-api-v2-places",
        "description": "Lista os locais",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "names",
            "description": "Filtra os locais for nome"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "name": "warehouse",
[...]
