{
  "openapi": "3.0.0",
  "info": {
    "title": "Tiny API v3",
    "description": "<h2>\n Autenticação e autorização \n </h2>\n\n\n\n<h3> Solicitação de autorização </h3>\n\n\n<p> Seu aplicativo solicita autorização ao usuário para acessar seus dados. Isso é feito redirecionando o usuário para uma página de login do Tiny </p>\n\n\n<p>Exemplo de URL de solicitação de autorização: <code>https://accounts.tiny.com.br/realms/tiny/protocol/openid-connect/auth?client_id=CLIENT_ID&redirect_uri=REDIRECT_URI&scope=openid&response_type=code</code> </p>\n\n\n\n<h3> Obtenção do código de autorização </h3>\n\n\n<p> Após o usuário conceder a autorização, o Tiny o redireciona de volta para seu aplicativo com um código de autorização </p>\n\n\n\n<h3> Solicitação de token de acesso </h3>\n\n\n<p> Seu aplicativo envia o código de autorização, juntamente com as credenciais do aplicativo, para o Tiny para solicitar um token de acesso </p>\n\n\n<p> <code> curl --location 'https://accounts.tiny.com.br/realms/tiny/protocol/openid-connect/token' \\ <br/>\n--header 'Content-Type: application/x-www-form-urlencoded' \\ <br/>\n--data-urlencode 'grant_type=authorization_code' \\ <br/>\n--data-urlencode 'client_id=CLIENT_ID' \\ <br/>\n--data-urlencode 'client_secret=CLIENT_SECRET' \\ <br/>\n--data-urlencode 'redirect_uri=REDIRECT_URI' \\ <br/>\n--data-urlencode 'code=AUTHORIZATION_CODE' </code> </p>\n\n\n\n<h3> Utilização do token de acesso </h3>\n\n\n<p> Finalmente, seu aplicativo pode usar o token de acesso para fazer solicitações à API em nome do usuário </p>\n\n\n<p> <code> Authorization: Bearer {access_token} </code>\n\n\n\n<h3> Solicitação do refresh token </h3>\n\n\n<p> Considere que o token de acesso gerado expirará após 4 horas. Depois disso será necessária a renovação do token, utilizando o refresh token adquirido no passo anterior. O refresh token tem duração de 1 dia.</p>\n\n\n<p> <code> curl --location 'https://accounts.tiny.com.br/realms/tiny/protocol/openid-connect/token' \\ <br/>\n--header 'Content-Type: application/x-www-form-urlencoded' \\ <br/>\n--data-urlencode 'grant_type=refresh_token' \\ <br/>\n--data-urlencode 'client_id=CLIENT_ID' \\ <br/>\n--data-urlencode 'client_secret=CLIENT_SECRET' \\ <br/>\n--data-urlencode 'refresh_token=REFRESH_TOKEN' </code> </p>\n\n\n\n",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.tiny.com.br/public-api/v3"
    }
  ],
  "paths": {
    "/categorias/todas": {
      "get": {
        "tags": [
          "Categorias"
        ],
        "operationId": "ListarArvoreCategoriasAction",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarArvoreCategoriasModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/categorias-receita-despesa": {
      "get": {
        "tags": [
          "Categorias de receita e despesa"
        ],
        "operationId": "ListarCategoriasReceitaDespesaAction",
        "parameters": [
          {
            "parameter": "descricaoCategoriasReceitaDespesa",
            "name": "descricao",
            "in": "query",
            "description": "Pesquisa por descrição completa da categorias de receita e despesa",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "grupoCategoriasReceitaDespesa",
            "name": "grupo",
            "in": "query",
            "description": "Pesquisa por grupo de categorias de receita e despesa",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "orderBy",
            "name": "orderBy",
            "in": "query",
            "description": "Define a ordenação da listagem por ordem crescente ou decrescente",
            "required": false,
            "schema": {
              "enum": [
                "asc - Crescente",
                "desc - Descrescente"
              ]
            },
            "example": "asc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemCategoriasReceitaDespesaResponseModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-pagar": {
      "get": {
        "tags": [
          "Contas a pagar"
        ],
        "operationId": "ListarContasPagarAction",
        "parameters": [
          {
            "parameter": "nomeClienteContasPagar",
            "name": "nomeCliente",
            "in": "query",
            "description": "Pesquisa por nome do cliente de contas a pagar",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "situacaoContasPagar",
            "name": "situacao",
            "in": "query",
            "description": "Pesquisa por situação de contas a pagar",
            "required": false,
            "schema": {
              "enum": [
                "aberto - Aberto",
                "cancelada - Cancelada",
                "pago - Pago",
                "parcial - Parcial",
                "prevista - Prevista"
              ]
            },
            "example": "aberto"
          },
          {
            "parameter": "dataInicialEmissaoContasPagar",
            "name": "dataInicialEmissao",
            "in": "query",
            "description": "Pesquisa por data inicial da emissão de contas a pagar",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataFinalEmissaoContasPagar",
            "name": "dataFinalEmissao",
            "in": "query",
            "description": "Pesquisa por data final da emissão de contas a pagar",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataInicialVencimentoContasPagar",
            "name": "dataInicialVencimento",
            "in": "query",
            "description": "Pesquisa por data inicial do vencimento de contas a pagar",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataFinalVencimentoContasPagar",
            "name": "dataFinalVencimento",
            "in": "query",
            "description": "Pesquisa por data final do vencimento de contas a pagar",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "numeroDocumentoContasPagar",
            "name": "numeroDocumento",
            "in": "query",
            "description": "Pesquisa por número do documento de contas a pagar",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "numeroBancoContasPagar",
            "name": "numeroBanco",
            "in": "query",
            "description": "Pesquisa por número do banco de contas a pagar",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "marcadoresContaPagar",
            "name": "marcadores",
            "in": "query",
            "description": "Pesquisa por marcadores",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "parameter": "idContatoContaPagar",
            "name": "idContato",
            "in": "query",
            "description": "Pesquisa por ID do contato de contas a pagar",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "parameter": "orderBy",
            "name": "orderBy",
            "in": "query",
            "description": "Define a ordenação da listagem por ordem crescente ou decrescente",
            "required": false,
            "schema": {
              "enum": [
                "asc - Crescente",
                "desc - Descrescente"
              ]
            },
            "example": "asc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListagemContasPagarResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contas a pagar"
        ],
        "operationId": "CriarContaPagarAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarContaPagarRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarContaPagarResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-pagar/{idContaPagar}": {
      "get": {
        "tags": [
          "Contas a pagar"
        ],
        "operationId": "ObterContaPagarAction",
        "parameters": [
          {
            "name": "idContaPagar",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterContaPagarModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-pagar/{idContaPagar}/marcadores": {
      "get": {
        "tags": [
          "Contas a pagar"
        ],
        "operationId": "ObterMarcadoresContaPagarAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador da Conta a Pagar",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ObterMarcadorResponseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-receber/{idContaReceber}": {
      "get": {
        "tags": [
          "Contas a receber"
        ],
        "operationId": "ObterContaReceberAction",
        "parameters": [
          {
            "name": "idContaReceber",
            "in": "path",
            "description": "Identificador da conta receber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterContaReceberResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contas a receber"
        ],
        "operationId": "AtualizarContaReceberAction",
        "parameters": [
          {
            "name": "idContaReceber",
            "in": "path",
            "description": "Identificador da conta receber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarContaReceberRequestModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-receber/{idContaReceber}/baixar": {
      "post": {
        "tags": [
          "Contas a receber"
        ],
        "operationId": "BaixarContaReceberAction",
        "parameters": [
          {
            "name": "idContaReceber",
            "in": "path",
            "description": "Identificador da conta a receber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaixarContaReceberModelRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-receber": {
      "get": {
        "tags": [
          "Contas a receber"
        ],
        "operationId": "ListarContasReceberAction",
        "parameters": [
          {
            "parameter": "nomeClienteContasReceber",
            "name": "nomeCliente",
            "in": "query",
            "description": "Pesquisa por nome do cliente de contas a receber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "situacaoContasReceber",
            "name": "situacao",
            "in": "query",
            "description": "Pesquisa por situação de contas a receber",
            "required": false,
            "schema": {
              "enum": [
                "aberto - Aberto",
                "cancelada - Cancelada",
                "pago - Pago",
                "parcial - Parcial",
                "prevista - Prevista"
              ]
            },
            "example": "aberto"
          },
          {
            "parameter": "dataInicialEmissaoContasReceber",
            "name": "dataInicialEmissao",
            "in": "query",
            "description": "Pesquisa por data inicial da emissão de contas a receber",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataFinalEmissaoContasReceber",
            "name": "dataFinalEmissao",
            "in": "query",
            "description": "Pesquisa por data final da emissão de contas a receber",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataInicialVencimentoContasReceber",
            "name": "dataInicialVencimento",
            "in": "query",
            "description": "Pesquisa por data inicial do vencimento de contas a receber",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataFinalVencimentoContasReceber",
            "name": "dataFinalVencimento",
            "in": "query",
            "description": "Pesquisa por data final do vencimento de contas a receber",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "numeroDocumentoContasReceber",
            "name": "numeroDocumento",
            "in": "query",
            "description": "Pesquisa por número do documento de contas a receber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "numeroBancoContasReceber",
            "name": "numeroBanco",
            "in": "query",
            "description": "Pesquisa por número do banco de contas a receber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "idNotaContasReceber",
            "name": "idNota",
            "in": "query",
            "description": "Pesquisa por identificador da nota de contas a receber",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "parameter": "idVendaContasReceber",
            "name": "idVenda",
            "in": "query",
            "description": "Pesquisa por identificador da venda de contas a receber",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "parameter": "marcadoresContaReceber",
            "name": "marcadores",
            "in": "query",
            "description": "Pesquisa por marcadores",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "parameter": "orderBy",
            "name": "orderBy",
            "in": "query",
            "description": "Define a ordenação da listagem por ordem crescente ou decrescente",
            "required": false,
            "schema": {
              "enum": [
                "asc - Crescente",
                "desc - Descrescente"
              ]
            },
            "example": "asc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemContasReceberResponseModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contas a receber"
        ],
        "operationId": "CriarContaReceberAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarContaReceberRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarContaReceberResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contas-receber/{idContaReceber}/marcadores": {
      "get": {
        "tags": [
          "Contas a receber"
        ],
        "operationId": "ObterMarcadoresContaReceberAction",
        "parameters": [
          {
            "name": "idContaReceber",
            "in": "path",
            "description": "Identificador da conta receber",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ObterMarcadorResponseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contatos/{idContato}": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "operationId": "ObterContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterContatoModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contatos"
        ],
        "operationId": "AtualizarContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarContatoModelRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contatos/{idContato}/pessoas/{idPessoa}": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "operationId": "ObterContatoContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idPessoa",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterContatoContatoModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contatos"
        ],
        "operationId": "AtualizarContatoContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idPessoa",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarContatoContatoModelRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Contatos"
        ],
        "operationId": "ExcluirContatoContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idPessoa",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contatos": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "operationId": "ListarContatosAction",
        "parameters": [
          {
            "parameter": "nomeContato",
            "name": "nome",
            "in": "query",
            "description": "Pesquisa por nome parcial ou completo",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "codigoContato",
            "name": "codigo",
            "in": "query",
            "description": "Pesquisa por codigo completo",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "situacaoContato",
            "name": "situacao",
            "in": "query",
            "description": "Pesquisa por situacao",
            "required": false,
            "schema": {
              "enum": [
                "B - Ativo",
                "A - Ativo Com Acesso Sistema",
                "I - Inativo",
                "E - Excluido"
              ]
            },
            "example": "B"
          },
          {
            "parameter": "idVendedorContato",
            "name": "idVendedor",
            "in": "query",
            "description": "Pesquisa por vendedor padrão",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "parameter": "cpfCnpjContato",
            "name": "cpfCnpj",
            "in": "query",
            "description": "Pesquisa por CPF ou CNPJ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "celularContato",
            "name": "celular",
            "in": "query",
            "description": "Pesquisa pelo celular",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "dataCriacaoContato",
            "name": "dataCriacao",
            "in": "query",
            "description": "Pesquisa por data de criação",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-01-01 10:00:00"
            }
          },
          {
            "parameter": "dataAtualizacaoContato",
            "name": "dataAtualizacao",
            "in": "query",
            "description": "Pesquisa por data de atualização",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2023-01-01 10:00:00"
            }
          },
          {
            "parameter": "orderBy",
            "name": "orderBy",
            "in": "query",
            "description": "Define a ordenação da listagem por ordem crescente ou decrescente",
            "required": false,
            "schema": {
              "enum": [
                "asc - Crescente",
                "desc - Descrescente"
              ]
            },
            "example": "asc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemContatoModelResponse"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contatos"
        ],
        "operationId": "CriarContatoAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarContatoModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarContatoModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contatos/{idContato}/pessoas": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "operationId": "ListarContatosContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemContatosContatoModelResponse"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contatos"
        ],
        "operationId": "CriarContatoContatoAction",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarContatoContatoModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarContatoContatoModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contatos/tipos": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "operationId": "ListarTiposDeContatosAction",
        "parameters": [
          {
            "parameter": "nomeTipoContato",
            "name": "nome",
            "in": "query",
            "description": "Pesquisa por nome parcial ou completo do tipo de contato",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListarTiposDeContatosModelResponse"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/info": {
      "get": {
        "tags": [
          "Dados da empresa"
        ],
        "operationId": "ObterInfoContaAction",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterInfoContaModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/estoque/{idProduto}": {
      "get": {
        "tags": [
          "Estoque"
        ],
        "operationId": "ObterProdutoEstoqueAction",
        "parameters": [
          {
            "name": "idProduto",
            "in": "path",
            "description": "Identificador do produto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterEstoqueProdutoModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Estoque"
        ],
        "operationId": "AtualizarProdutoEstoqueAction",
        "parameters": [
          {
            "name": "idProduto",
            "in": "path",
            "description": "Identificador do produto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarProdutoEstoqueModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtualizarProdutoEstoqueModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao/{idAgrupamento}/origens": {
      "post": {
        "tags": [
          "Expedição"
        ],
        "operationId": "AdicionarOrigensAgrupamentoAction",
        "parameters": [
          {
            "name": "idAgrupamento",
            "in": "path",
            "description": "Identificador do agrupamento",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarAgrupamentoRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao/{idAgrupamento}/expedicao/{idExpedicao}": {
      "put": {
        "tags": [
          "Expedição"
        ],
        "operationId": "AlterarExpedicaoAgrupamentoAction",
        "parameters": [
          {
            "name": "idAgrupamento",
            "in": "path",
            "description": "Identificador do agrupamento",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idExpedicao",
            "in": "path",
            "description": "Identificador da expedição",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpedicaoRequestModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao/{idAgrupamento}/concluir": {
      "post": {
        "tags": [
          "Expedição"
        ],
        "operationId": "ConcluirAgrupamentoAction",
        "parameters": [
          {
            "name": "idAgrupamento",
            "in": "path",
            "description": "Identificador do agrupamento",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao": {
      "get": {
        "tags": [
          "Expedição"
        ],
        "operationId": "ListarAgrupamentosAction",
        "parameters": [
          {
            "parameter": "idFormaEnvioAgrupamento",
            "name": "idFormaEnvio",
            "in": "query",
            "description": "Pesquisa através do identificador da forma de envio",
            "required": false,
            "schema": {
              "type": "int"
            }
          },
          {
            "parameter": "dataInicialAgrupamento",
            "name": "dataInicial",
            "in": "query",
            "description": "Pesquisa através da data inicial dos agrupamentos",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "dataFinaAgrupamento",
            "name": "dataFinal",
            "in": "query",
            "description": "Pesquisa através da data final dos agrupamentos",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2024-01-01"
            }
          },
          {
            "parameter": "orderBy",
            "name": "orderBy",
            "in": "query",
            "description": "Define a ordenação da listagem por ordem crescente ou decrescente",
            "required": false,
            "schema": {
              "enum": [
                "asc - Crescente",
                "desc - Descrescente"
              ]
            },
            "example": "asc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemAgrupamentosModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Expedição"
        ],
        "operationId": "CriarAgrupamentoAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarAgrupamentoRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarAgrupamentoResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao/{idAgrupamento}": {
      "get": {
        "tags": [
          "Expedição"
        ],
        "operationId": "ObterAgrupamentoAction",
        "parameters": [
          {
            "name": "idAgrupamento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterAgrupamentoResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao/{idAgrupamento}/etiquetas": {
      "get": {
        "tags": [
          "Expedição"
        ],
        "operationId": "ObterEtiquetasAgrupamentoAction",
        "parameters": [
          {
            "name": "idAgrupamento",
            "in": "path",
            "description": "Identificador do agrupamento",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterEtiquetasResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/expedicao/{idAgrupamento}/expedicao/{idExpedicao}/etiquetas": {
      "get": {
        "tags": [
          "Expedição"
        ],
        "operationId": "ObterEtiquetasExpedicaoAgrupamentoAction",
        "parameters": [
          {
            "name": "idAgrupamento",
            "in": "path",
            "description": "Identificador do agrupamento",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "idExpedicao",
            "in": "path",
            "description": "Identificador da expedição",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterEtiquetasResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/formas-envio": {
      "get": {
        "tags": [
          "Logistica"
        ],
        "operationId": "ListarFormasEnvioAction",
        "parameters": [
          {
            "parameter": "nomeFormaEnvio",
            "name": "nome",
            "in": "query",
            "description": "Pesquisa por nome parcial ou completo da forma de envio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "tipoFormaEnvio",
            "name": "tipo",
            "in": "query",
            "description": "Pesquisa por tipo de forma de envio",
            "required": false,
            "schema": {
              "enum": [
                "0 - Sem Frete",
                "1 - Correios",
                "2 - Transportadora",
                "3 - Mercado Envios",
                "4 - B2w Entrega",
                "5 - Correios Ff",
                "6 - Customizado",
                "7 - Jadlog",
                "8 - Totalexpress",
                "9 - Olist",
                "10 - Gateway",
                "11 - Magalu Entregas",
                "12 - Shopee Envios",
                "13 - Ns Entregas",
                "14 - Viavarejo Envvias",
                "15 - Madeira Envios",
                "16 - Ali Envios",
                "17 - Loggi",
                "18 - Conecta La Etiquetas",
                "19 - Amazon Dba",
                "20 - Magalu Fulfillment",
                "21 - Ns Magalu Entregas",
                "22 - Shein Envios",
                "23 - Mandae",
                "24 - Olist Envios",
                "25 - Kwai Envios",
                "26 - Beleza Envios"
              ]
            },
            "example": "0"
          },
          {
            "parameter": "situacaoFormaEnvio",
            "name": "situacao",
            "in": "query",
            "description": "Pesquisa por situação da forma de envio",
            "required": false,
            "schema": {
              "enum": [
                "0 - Sem Frete",
                "1 - Correios",
                "2 - Transportadora",
                "3 - Mercado Envios",
                "4 - B2w Entrega",
                "5 - Correios Ff",
                "6 - Customizado",
                "7 - Jadlog",
                "8 - Totalexpress",
                "9 - Olist",
                "10 - Gateway",
                "11 - Magalu Entregas",
                "12 - Shopee Envios",
                "13 - Ns Entregas",
                "14 - Viavarejo Envvias",
                "15 - Madeira Envios",
                "16 - Ali Envios",
                "17 - Loggi",
                "18 - Conecta La Etiquetas",
                "19 - Amazon Dba",
                "20 - Magalu Fulfillment",
                "21 - Ns Magalu Entregas",
                "22 - Shein Envios",
                "23 - Mandae",
                "24 - Olist Envios",
                "25 - Kwai Envios",
                "26 - Beleza Envios"
              ]
            },
            "example": "0"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemFormasEnvioResponseModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/formas-envio/{idFormaEnvio}": {
      "get": {
        "tags": [
          "Logistica"
        ],
        "operationId": "ObterFormaEnvioAction",
        "parameters": [
          {
            "name": "idFormaEnvio",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterFormaEnvioResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/formas-pagamento": {
      "get": {
        "tags": [
          "Formas de pagamento"
        ],
        "operationId": "ListarFormasPagamentoAction",
        "parameters": [
          {
            "parameter": "nomeFormaPagamento",
            "name": "nome",
            "in": "query",
            "description": "Pesquisa por nome parcial ou completo da forma de pagamento",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "situacaoFormaPagamento",
            "name": "situacao",
            "in": "query",
            "description": "Pesquisa por situação da forma de pagamento",
            "required": false,
            "schema": {
              "enum": [
                "1 - Habilitada",
                "2 - Desabilitada"
              ]
            },
            "example": "1"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemFormasPagamentoResponseModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/formas-pagamento/{idFormaPagamento}": {
      "get": {
        "tags": [
          "Formas de pagamento"
        ],
        "operationId": "ObterFormaPagamentoAction",
        "parameters": [
          {
            "name": "idFormaPagamento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterFormaPagamentoResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/intermediadores": {
      "get": {
        "tags": [
          "Intermediadores"
        ],
        "operationId": "ListarIntermediadoresAction",
        "parameters": [
          {
            "parameter": "nomeIntermediador",
            "name": "nome",
            "in": "query",
            "description": "Pesquisa por nome parcial ou completo do intermediador",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "parameter": "cnpjIntermediador",
            "name": "cnpj",
            "in": "query",
            "description": "Pesquisa por cnpj do intermediador",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemIntermediadoresResponseModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/intermediadores/{idIntermediador}": {
      "get": {
        "tags": [
          "Intermediadores"
        ],
        "operationId": "ObterIntermediadorAction",
        "parameters": [
          {
            "name": "idIntermediador",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterIntermediadorResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/listas-precos": {
      "get": {
        "tags": [
          "Lista de Preços"
        ],
        "operationId": "ListarListasDePrecosAction",
        "parameters": [
          {
            "parameter": "nomeListaPreco",
            "name": "nome",
            "in": "query",
            "description": "Pesquisa por nome parcial ou completo da lista de preços",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemListaDePrecosModelResponse"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/listas-precos/{idListaDePreco}": {
      "get": {
        "tags": [
          "Lista de Preços"
        ],
        "operationId": "ObterListaDePrecosAction",
        "parameters": [
          {
            "name": "idListaDePreco",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterListaDePrecosModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/marcas/{idMarca}": {
      "put": {
        "tags": [
          "Marcas"
        ],
        "operationId": "AtualizarMarcaAction",
        "parameters": [
          {
            "name": "idMarca",
            "in": "path",
            "description": "Identificador da marca",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseMarcaModel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/marcas": {
      "get": {
        "tags": [
          "Marcas"
        ],
        "operationId": "ListarMarcasAction",
        "parameters": [
          {
            "parameter": "descricaoMarca",
            "name": "descricao",
            "in": "query",
            "description": "Pesquisa por descrição completa da marca",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset da paginação",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "itens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListagemMarcasResponseModel"
                      }
                    },
                    "paginacao": {
                      "$ref": "#/components/schemas/PaginatedResultModel"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Marcas"
        ],
        "operationId": "CriarMarcaAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseMarcaModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarMarcaModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notas/{idNota}/marcadores": {
      "get": {
        "tags": [
          "Notas"
        ],
        "operationId": "ObterMarcadoresNotaFiscalAction",
        "parameters": [
          {
            "name": "idNota",
            "in": "path",
            "description": "Identificador da nota fiscal",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ObterMarcadorResponseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Notas"
        ],
        "operationId": "AtualizarMarcadoresNotaFiscalAction",
        "parameters": [
          {
            "name": "idNota",
            "in": "path",
            "description": "Identificador da nota fiscal",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AtualizarMarcadorRequestModel"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Notas"
        ],
        "operationId": "CriarMarcadoresNotaFiscalAction",
        "parameters": [
          {
            "name": "idNota",
            "in": "path",
            "description": "Identificador da nota fiscal",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CriarMarcadorRequestModel"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
[...]
