{
    "openapi": "3.0.0",
    "info": {
      "title": "Integração SmartHint",
      "description": "A API SmartHint foi desenvolvida de acordo com os **melhores padrões REST**.\n\nAs operações são feitas por requisições aos endpoints, de acordo com os verbos HTTP, com corpos de mensagem em JSON. As respostas podem ser interpretadas através do código de status HTTP. Isso permite que quaisquer aplicações consumam a API de forma simples e clara, independente da linguagem utilizada.\n\nA SmartHint **criará** e **fornecerá** uma chave de API que deve ser inserida como parâmetro em todas as requisições realizadas para os endpoints. Essa chave deve ser enviada no **header da requisição**, com a chave **“Authorization”** e o **valor fornecido**.\n\n# Conceitos Gerais sobre os dados\n\n## anonymousConsumer\n\nDeve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor.\n\nRecomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo **CPF**, **e-mail**, **nome**, o ideal é que seja um **ID interno** ou algum **hash** gerado a partir de alguma dessas informações.\n\nEssa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.\n\n## session\n\nAtualmente, utilizamos o mesmo conceito de session do Google Analytics, que renova esse ID (na loja virtual que utiliza a SmartHint é um GUID) sempre que existe uma interação com o aplicativo em menos de 30min.  \nAs **3 situações** que encerram a sessão e criam uma nova são:\n\n1.  30 minutos de inatividade;\n2.  Finalização de um pedido;\n3.  Mudança de dia (quando uma sessão inicia 23:55, 00:00 será iniciada uma nova sessão).\n    \n\nEssa informação será enviada em algumas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre conversão, navegação e compras para os modelos de IA.",
      "contact": {},
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://catalog.smarthint.co/api",
        "variables": {}
      },
      {
        "url": "https://searches.smarthint.co",
        "variables": {}
      },
      {
        "url": "https://recs.smarthint.co",
        "variables": {}
      }
    ],
    "paths": {
      "/Product": {
        "get": {
          "tags": [
            "Catálogo"
          ],
          "summary": "Consulta de Produtos",
          "description": "Caso seja necessária uma consulta de um produto específico, você poderá utilizar este endpoint para validar como que os dados deste produto específico, encontra-se na SmartHint.\n\nPara realizar a consulta, utilize um dos campos chave do seu produto, para facilitar a sua consulta, conforme exemplo abaixo:",
          "operationId": "ConsultadeProdutos",
          "parameters": [
            {
              "name": "identifier",
              "in": "query",
              "description": "Campo obrigatório - Código identificador para realizar a atualização do Produto. Poderá ser utilizado os seguintes campos: ProductId, Mpn, Sku, SpecificationId e Link",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{valoridentifier}"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "example": "{tokenSmartHint}"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ConsultadeProduto"
                    },
                    "description": "",
                    "example": [
                      {
                        "ProductId": "123456789",
                        "Title": "Title do Produto",
                        "Mpn": "123ABC",
                        "MpnFather": "123ABC",
                        "Sku": "abcdef-123456789",
                        "Description": "Descrição do Produto",
                        "Price": 139.99,
                        "SalePrice": 89.99,
                        "PromotionDiscount": 0.0,
                        "Availability": "in stock",
                        "ProductType": "Futebol > Camisas Polo > Time",
                        "Link": "//www.minhaloja.com.br/123456789",
                        "Installment": 1,
                        "InstallmentAmount": 89.99,
                        "BankSlipPrice": 0.0,
                        "Gender": "Masculino",
                        "Brand": "Marca do Produto",
                        "ReviewStars": 5.0,
                        "Categories": [
                          "Futebol",
                          "Futebol > Camisas Polo",
                          "Futebol > Camisa Polo > Time"
                        ],
                        "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                        "AdicionalImageLink": [
                          "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                        ],
                        "Tags": [
                          "Futebol",
                          "Camisas Polo",
                          "Kappa",
                          "Masculino",
                          "netshoes"
                        ],
                        "CreatedDate": "2021-11-12T01:44:27.666Z",
                        "OfferDate": "0001-01-01T00:00:00",
                        "SellsCount": 0,
                        "ViewsCount": 0,
                        "ProductFilters": [
                          {
                            "Key": "tamanho",
                            "Show": "Tamanho",
                            "Visible": true,
                            "Value": [
                              {
                                "Key": "M",
                                "Show": "m"
                              },
                              {
                                "Key": "G",
                                "Show": "g"
                              }
                            ]
                          },
                          {
                            "Key": "tipo-de-produto",
                            "Show": "Tipo de Produto",
                            "Visible": true,
                            "Value": [
                              {
                                "Key": "tenis-de-corrida",
                                "Show": "Tênis de Corrida"
                              },
                              {
                                "Key": "tenis-de-passear",
                                "Show": "Tênis de Passear"
                              }
                            ]
                          },
                          {
                            "Key": "promocao",
                            "Show": "Promoção",
                            "Visible": true,
                            "Valeu": [
                              {
                                "Key": "compre-2-por-1",
                                "Show": "Compre 2 por 1"
                              },
                              {
                                "Key": "lancamentos",
                                "Show": "Lançamentos"
                              }
                            ]
                          },
                          {
                            "Key": "cor",
                            "Show": "Cor",
                            "Visible": true,
                            "Value": [
                              {
                                "Key": "preto-e-branco",
                                "Show": "Preto e Branco"
                              },
                              {
                                "Key": "verde",
                                "Show": "Verde"
                              }
                            ]
                          }
                        ],
                        "AditionalFeatures": [
                          {
                            "Key": "ABC0987654321",
                            "Value": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                          },
                          {
                            "Key": "0987654321ABC",
                            "Value": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                          }
                        ],
                        "Rules": [
                          {
                            "Value": "Campanha do Google",
                            "Values": [
                              {
                                "Name": "SalePrice",
                                "ValueDouble": 89.99
                              },
                              {
                                "Name": "Price",
                                "ValueDouble": 139.99
                              },
                              {
                                "Name": "Availability",
                                "ValueString": "out of stock"
                              }
                            ]
                          },
                          {
                            "StartDouble": 8000000,
                            "EndDouble": 9000000,
                            "Values": [
                              {
                                "Name": "Free-Shipping",
                                "ValueString": "True"
                              }
                            ]
                          },
                          {
                            "StartDate": "0001-01-01T00:00:00",
                            "EndDate": "0001-02-01T00:00:00",
                            "Values": [
                              {
                                "Name": "SalePrice",
                                "ValueDouble": 89.99
                              },
                              {
                                "Name": "Price",
                                "ValueDouble": 139.99
                              },
                              {
                                "Name": "Availability",
                                "ValueString": "out of stock"
                              }
                            ]
                          }
                        ],
                        "Conditions": [
                          {
                            "StartDouble": 8000000,
                            "EndDouble": 9000000,
                            "Validation": [
                              "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                              "facebook"
                            ],
                            "Values": [
                              {
                                "Field": "ProductFilters",
                                "Name": "Free-Shipping",
                                "ValueString": "True"
                              }
                            ]
                          },
                          {
                            "Value": "google",
                            "Values": [
                              {
                                "Field": "ProductFilters",
                                "Name": "Free-Shipping",
                                "ValueString": "True"
                              }
                            ]
                          }
                        ],
                        "Specifications": [
                          {
                            "Sku": "ABC-12345678-C",
                            "SpecificationId": "1234567890",
                            "Availability": "out of stock",
                            "Changes": [
                              {
                                "Name": "Price",
                                "ValueDouble": 123.9
                              },
                              {
                                "Name": "Installment",
                                "ValueInt": 2
                              },
                              {
                                "Name": "Title",
                                "ValueString": "Produto de Teste"
                              }
                            ],
                            "Variations": [
                              {
                                "Name": "tamanho",
                                "Value": "G"
                              },
                              {
                                "Name": "cor",
                                "Value": "Preto"
                              }
                            ]
                          },
                          {
                            "Sku": "ABC-12345678-D",
                            "SpecificationId": "1234567890",
                            "Availability": "out of stock",
                            "Variations": [
                              {
                                "Name": "tamanho",
                                "Value": "M"
                              },
                              {
                                "Name": "cor",
                                "Value": "Branco"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "example": [
                    {
                      "ProductId": "123456789",
                      "Title": "Title do Produto",
                      "Mpn": "123ABC",
                      "MpnFather": "123ABC",
                      "Sku": "abcdef-123456789",
                      "Description": "Descrição do Produto",
                      "Price": 139.99,
                      "SalePrice": 89.99,
                      "PromotionDiscount": 0.0,
                      "Availability": "in stock",
                      "ProductType": "Futebol > Camisas Polo > Time",
                      "Link": "//www.minhaloja.com.br/123456789",
                      "Installment": 1,
                      "InstallmentAmount": 89.99,
                      "BankSlipPrice": 0.0,
                      "Gender": "Masculino",
                      "Brand": "Marca do Produto",
                      "ReviewStars": 5.0,
                      "Categories": [
                        "Futebol",
                        "Futebol > Camisas Polo",
                        "Futebol > Camisa Polo > Time"
                      ],
                      "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                      "AdicionalImageLink": [
                        "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                      ],
                      "Tags": [
                        "Futebol",
                        "Camisas Polo",
                        "Kappa",
                        "Masculino",
                        "netshoes"
                      ],
                      "CreatedDate": "2021-11-12T01:44:27.666Z",
                      "OfferDate": "0001-01-01T00:00:00",
                      "SellsCount": 0,
                      "ViewsCount": 0,
                      "ProductFilters": [
                        {
                          "Key": "tamanho",
                          "Show": "Tamanho",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "M",
                              "Show": "m"
                            },
                            {
                              "Key": "G",
                              "Show": "g"
                            }
                          ]
                        },
                        {
                          "Key": "tipo-de-produto",
                          "Show": "Tipo de Produto",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "tenis-de-corrida",
                              "Show": "Tênis de Corrida"
                            },
                            {
                              "Key": "tenis-de-passear",
                              "Show": "Tênis de Passear"
                            }
                          ]
                        },
                        {
                          "Key": "promocao",
                          "Show": "Promoção",
                          "Visible": true,
                          "Valeu": [
                            {
                              "Key": "compre-2-por-1",
                              "Show": "Compre 2 por 1"
                            },
                            {
                              "Key": "lancamentos",
                              "Show": "Lançamentos"
                            }
                          ]
                        },
                        {
                          "Key": "cor",
                          "Show": "Cor",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "preto-e-branco",
                              "Show": "Preto e Branco"
                            },
                            {
                              "Key": "verde",
                              "Show": "Verde"
                            }
                          ]
                        }
                      ],
                      "AditionalFeatures": [
                        {
                          "Key": "ABC0987654321",
                          "Value": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        },
                        {
                          "Key": "0987654321ABC",
                          "Value": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        }
                      ],
                      "Rules": [
                        {
                          "Value": "Campanha do Google",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        },
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Values": [
                            {
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "StartDate": "0001-01-01T00:00:00",
                          "EndDate": "0001-02-01T00:00:00",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        }
                      ],
                      "Conditions": [
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Validation": [
                            "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                            "facebook"
                          ],
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "Value": "google",
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        }
                      ],
                      "Specifications": [
                        {
                          "Sku": "ABC-12345678-C",
                          "SpecificationId": "1234567890",
                          "Availability": "out of stock",
                          "Changes": [
                            {
                              "Name": "Price",
                              "ValueDouble": 123.9
                            },
                            {
                              "Name": "Installment",
                              "ValueInt": 2
                            },
                            {
                              "Name": "Title",
                              "ValueString": "Produto de Teste"
                            }
                          ],
                          "Variations": [
                            {
                              "Name": "tamanho",
                              "Value": "G"
                            },
                            {
                              "Name": "cor",
                              "Value": "Preto"
                            }
                          ]
                        },
                        {
                          "Sku": "ABC-12345678-D",
                          "SpecificationId": "1234567890",
                          "Availability": "out of stock",
                          "Variations": [
                            {
                              "Name": "tamanho",
                              "Value": "M"
                            },
                            {
                              "Name": "cor",
                              "Value": "Branco"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "deprecated": false,
          "security": [],
          "servers": [
            {
              "url": "https://catalog.smarthint.co/api",
              "variables": {}
            }
          ]
        },
        "delete": {
          "tags": [
            "Catálogo"
          ],
          "summary": "Deleção de Produtos",
          "description": "Caso algum produto da sua loja não exista mais e você queria retirar o mesmo da base da SmartHint, utilize este endpoint, passe o idenfiticador deste produto para realizar a deleção.",
          "operationId": "DeleçãodeProdutos",
          "parameters": [
            {
              "name": "identifier",
              "in": "query",
              "description": "Campo obrigatório - Código identificador para realizar a atualização do Produto. Poderá ser utilizado os seguintes campos: ProductId, Mpn, Sku, SpecificationId e Link",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{valoridentifier}"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "example": "{tokenSmartHint}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "security": [],
          "servers": [
            {
              "url": "https://catalog.smarthint.co/api",
              "variables": {}
            }
          ]
        }
      },
      "/Product/": {
        "post": {
          "tags": [
            "Catálogo"
          ],
          "summary": "Criação de Produtos",
          "description": "Para que a SmartHint aprenda o máximo dos seus produtos e seus Compradores, precisamos receber os produtos em nossa base, para isso, é necessário o envio dos produtos no formato abaixo.\n\nCaso existam regras específicas de precificação, títulos de produtos, disponibilidade de estoque para regiões, campanhas ou sellers específicos, você poderá utilizar o **RULES**. Dentro deste objeto, é possível definir regras baseadas em ranges de valores inteiros, ranges de datas ou valores fixados através de texto para que os produtos sejam apresentados com preços diferentes, títulos diferentes ou até mesmo, estoque diversos de acordo com cada regras estipulada e cadastrada.\n\nAlém disso, é possível utilizar o **CONDITIONS** para que você consiga definir filtros específicos para cada produto, seguindo também, uma regra baseada em ranges de valores inteiros, ranges de datas e/ou valores fixos.\n\n## Body Params\n\n| Atributo | Tipo | Descrição | Obrigatório  <br> |\n| --- | --- | --- | --- |\n| ProductId | String | Código do Produto na Loja | Sim |\n| Title | String | Título utilizado no Produto | Sim |\n| Mpn | String | MPN do Produto | Não |\n| MpnFather | String | MPN Pai do Produto | Não |\n| Sku | String | SKU Principal do Produto | Sim |\n| Description | String | Descrição utilizada no Produto | Sim |\n| Price | Double | Preço DE do Produto | Sim |\n| SalePrice | Double | Preço POR do Produto | Sim |\n| PromotionDiscount | Double | Valor de desconto do Produto sobre o Preço DE e Preço POR | Não |\n| Availability | String | Disponibilidade do Produto, este que poderá variar entre **\"in stock\"** e **\"out of stock\"** | Sim |\n| ProductType | String | Subcategorias dos Produtos | Sim |\n| Link | String | URL do Produto na Loja | Sim |\n| Installment | Integer | Parcelamento Mmáximo do Produto | Não |\n| InstallmentAmount | Double | Valor da parcela do Produto | Não |\n| BankSlipPrice | Double | Valor do Produto para pagamento por Boleto | Não |\n| Gender | String | Gênero vinculado ao Produto | Sim |\n| Brand | String | Marca cadastrada para o produto | Sim |\n| ReviewStars | Double | Avaliação dos produtos | Não |\n| Categories | Array | Todas as categorias vinculadas ao Produto. Deve-se enviar os níveis de maneira segmentada | Sim |\n| ImageLink | String | Imagem principal do Produto | Sim |\n| AdicionalImageLink | Array | Demais imagens do Produto | Não |\n| Tags | Array | Tags relacionadas ao Produto | Não |\n| CreatedDate | DateTime | Data de criação do Produto. Utilizado para definir os lançamentos dos Produtos | Sim |\n| OfferDate | DateTime | Data que este produto entrou em qualquer promoção na Loja. Utilizado para definir os produtos com Ofertas Especiais | Não |\n| SellsCount | Integer | Número de vendas realizada do produto, para que seja feita a alimentação da base para determinar a relevância quando não temos os dados | Não |\n| ViewsCount | Integer | Visualizações dos produtos, para que seja feita a alimentação da base para determinar a relevância quando não temos os dados | Não |\n| ProductFilters | Object | Filtros que não são atributos das variações e necessitam que se tornem filtros. Neste objetivo, deverá ser enviado todos os atributos e seus respectivos valores | Não |\n| AditionalFeatures | Object | Campos adicionais que podem ser utilizados na montagem do Frontend, para que seja facilitado o processo de Implantação, como o caminho para adição do produto no Carrinho, adição de produtos nos Favoritos | Não |\n| Rules | Object | Regras criadas para a subsituição do(s) valores dos Produtos, de acordo com um paramêtro passado na busca | Não |\n| Conditions | Object | Regra para que os campos de Filtros sejam adicionados conforme condição seja verdadeira. Utilizando esta função, todas as condições deverão ser retornadas verdadeiras, para que que o filtro seja criado na chamada da Busca | Não |\n| Specifications | Object | Utilizado para o envio das Variações dos produtos, ao menos uma variação deverá ser cadatrada para o Produto | Sim |",
          "operationId": "CriaçãodeProdutos",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "example": "{Token}"
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CriaodeProdutosRequest"
                  },
                  "description": "",
                  "example": [
                    {
                      "ProductId": "123456789",
                      "ItemGroupId": "123456789",
                      "Title": "Title do Produto",
                      "Mpn": "123ABC",
                      "MpnFather": "123ABC",
                      "Sku": "abcdef-123456789",
                      "Description": "Descrição do Produto",
                      "Price": 139.99,
                      "SalePrice": 89.99,
                      "PromotionDiscount": 0.0,
                      "Availability": "in stock",
                      "ProductType": "Futebol > Camisas Polo > Time",
                      "Link": "//www.minhaloja.com.br/123456789",
                      "Installment": 1,
                      "InstallmentAmount": 89.99,
                      "BankSlipPrice": 0.0,
                      "Gender": "Masculino",
                      "Brand": "Marca do Produto",
                      "ReviewStars": 5.0,
                      "Categories": [
                        "Futebol",
                        "Futebol > Camisas Polo",
                        "Futebol > Camisa Polo > Time"
                      ],
                      "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                      "AdicionalImageLink": [
                        "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                      ],
                      "Tags": [
                        "Futebol",
                        "Camisas Polo",
                        "Kappa",
                        "Masculino",
                        "netshoes"
                      ],
                      "CreatedDate": "2021-11-12T01:44:27.666Z",
                      "OfferDate": "0001-01-01T00:00:00",
                      "SellsCount": 0,
                      "ViewsCount": 0,
                      "ProductFilters": [
                        {
                          "Key": "tamanho",
                          "Show": "Tamanho",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "M",
                              "Show": "m"
                            },
                            {
                              "Key": "G",
                              "Show": "g"
                            }
                          ]
                        },
                        {
                          "Key": "tipo-de-produto",
                          "Show": "Tipo de Produto",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "tenis-de-corrida",
                              "Show": "Tênis de Corrida"
                            },
                            {
                              "Key": "tenis-de-passear",
                              "Show": "Tênis de Passear"
                            }
                          ]
                        },
                        {
                          "Key": "promocao",
                          "Show": "Promoção",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "compre-2-por-1",
                              "Show": "Compre 2 por 1"
                            },
                            {
                              "Key": "lancamentos",
                              "Show": "Lançamentos"
                            }
                          ]
                        },
                        {
                          "Key": "cor",
                          "Show": "Cor",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "preto-e-branco",
                              "Show": "Preto e Branco"
                            },
                            {
                              "Key": "verde",
                              "Show": "Verde"
                            }
                          ]
                        }
                      ],
                      "AditionalFeatures": [
                        {
                          "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        },
                        {
                          "0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        }
                      ],
                      "Rules": [
                        {
                          "Value": "Campanha do Google",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        },
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Values": [
                            {
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "StartDate": "0001-01-01T00:00:00",
                          "EndDate": "0001-02-01T00:00:00",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        }
                      ],
                      "Condition": [
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Validation": [
                            "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                            "facebook"
                          ],
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "Value": "google",
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        }
                      ],
                      "Specifications": [
                        {
                          "Sku": "ABC-12345678-C",
                          "SpecificationId": "1234567890",
                          "Availability": "out of stock",
                          "Changes": [
                            {
                              "Name": "Price",
                              "ValueDouble": 123.9
                            },
                            {
                              "Name": "Installment",
                              "ValueInt": 2
                            },
                            {
                              "Name": "Title",
                              "ValueString": "Produto de Teste"
                            }
                          ],
                          "Variations": [
                            {
                              "Name": "tamanho",
                              "Value": "G"
                            },
                            {
                              "Name": "cor",
                              "Value": "Preto"
                            }
                          ]
                        },
                        {
                          "Sku": "ABC-12345678-C",
                          "SpecificationId": "1234567890",
                          "Availability": "out of stock",
                          "Variations": [
                            {
                              "Name": "tamanho",
                              "Value": "M"
                            },
                            {
                              "Name": "cor",
                              "Value": "Branco"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                "example": [
                  {
                    "ProductId": "123456789",
                    "ItemGroupId": "123456789",
                    "Title": "Title do Produto",
                    "Mpn": "123ABC",
                    "MpnFather": "123ABC",
                    "Sku": "abcdef-123456789",
                    "Description": "Descrição do Produto",
                    "Price": 139.99,
                    "SalePrice": 89.99,
                    "PromotionDiscount": 0.0,
                    "Availability": "in stock",
                    "ProductType": "Futebol > Camisas Polo > Time",
                    "Link": "//www.minhaloja.com.br/123456789",
                    "Installment": 1,
                    "InstallmentAmount": 89.99,
                    "BankSlipPrice": 0.0,
                    "Gender": "Masculino",
                    "Brand": "Marca do Produto",
                    "ReviewStars": 5.0,
                    "Categories": [
                      "Futebol",
                      "Futebol > Camisas Polo",
                      "Futebol > Camisa Polo > Time"
                    ],
                    "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                    "AdicionalImageLink": [
                      "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                    ],
                    "Tags": [
                      "Futebol",
                      "Camisas Polo",
                      "Kappa",
                      "Masculino",
                      "netshoes"
                    ],
                    "CreatedDate": "2021-11-12T01:44:27.666Z",
                    "OfferDate": "0001-01-01T00:00:00",
                    "SellsCount": 0,
                    "ViewsCount": 0,
                    "ProductFilters": [
                      {
                        "Key": "tamanho",
                        "Show": "Tamanho",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "M",
                            "Show": "m"
                          },
                          {
                            "Key": "G",
                            "Show": "g"
                          }
                        ]
                      },
                      {
                        "Key": "tipo-de-produto",
                        "Show": "Tipo de Produto",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "tenis-de-corrida",
                            "Show": "Tênis de Corrida"
                          },
                          {
                            "Key": "tenis-de-passear",
                            "Show": "Tênis de Passear"
                          }
                        ]
                      },
                      {
                        "Key": "promocao",
                        "Show": "Promoção",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "compre-2-por-1",
                            "Show": "Compre 2 por 1"
                          },
                          {
                            "Key": "lancamentos",
                            "Show": "Lançamentos"
                          }
                        ]
                      },
                      {
                        "Key": "cor",
                        "Show": "Cor",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "preto-e-branco",
                            "Show": "Preto e Branco"
                          },
                          {
                            "Key": "verde",
                            "Show": "Verde"
                          }
                        ]
                      }
                    ],
                    "AditionalFeatures": [
                      {
                        "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      },
                      {
                        "0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      }
                    ],
                    "Rules": [
                      {
                        "Value": "Campanha do Google",
                        "Values": [
                          {
                            "Name": "SalePrice",
                            "ValueDouble": 89.99
                          },
                          {
                            "Name": "Price",
                            "ValueDouble": 139.99
                          },
                          {
                            "Name": "Availability",
                            "ValueString": "out of stock"
                          }
                        ]
                      },
                      {
                        "StartDouble": 8000000,
                        "EndDouble": 9000000,
                        "Values": [
                          {
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      },
                      {
                        "StartDate": "0001-01-01T00:00:00",
                        "EndDate": "0001-02-01T00:00:00",
                        "Values": [
                          {
                            "Name": "SalePrice",
                            "ValueDouble": 89.99
                          },
                          {
                            "Name": "Price",
                            "ValueDouble": 139.99
                          },
                          {
                            "Name": "Availability",
                            "ValueString": "out of stock"
                          }
                        ]
                      }
                    ],
                    "Condition": [
                      {
                        "StartDouble": 8000000,
                        "EndDouble": 9000000,
                        "Validation": [
                          "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                          "facebook"
                        ],
                        "Values": [
                          {
                            "Field": "ProductFilters",
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      },
                      {
                        "Value": "google",
                        "Values": [
                          {
                            "Field": "ProductFilters",
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      }
                    ],
                    "Specifications": [
                      {
                        "Sku": "ABC-12345678-C",
                        "SpecificationId": "1234567890",
                        "Availability": "out of stock",
                        "Changes": [
                          {
                            "Name": "Price",
                            "ValueDouble": 123.9
                          },
                          {
                            "Name": "Installment",
                            "ValueInt": 2
                          },
                          {
                            "Name": "Title",
                            "ValueString": "Produto de Teste"
                          }
                        ],
                        "Variations": [
                          {
                            "Name": "tamanho",
                            "Value": "G"
                          },
                          {
                            "Name": "cor",
                            "Value": "Preto"
                          }
                        ]
                      },
                      {
                        "Sku": "ABC-12345678-C",
                        "SpecificationId": "1234567890",
                        "Availability": "out of stock",
                        "Variations": [
                          {
                            "Name": "tamanho",
                            "Value": "M"
                          },
                          {
                            "Name": "cor",
                            "Value": "Branco"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "security": [],
          "servers": [
            {
              "url": "https://catalog.smarthint.co/api",
              "variables": {}
            }
          ]
        },
        "put": {
          "tags": [
            "Catálogo"
          ],
          "summary": "Atualização do Produto Total",
          "description": "Utilize a atualização Total de Produtos quando você tem a necessidade de alterar dados como Descrição, Variações do Produto (Specification) e etc.\n\nAconselhamos que para a atualização de preços e estoque, sejam utilizadas a chamadas específicas para tais, descrita logo abaixo.",
          "operationId": "AtualizaçãodoProdutoTotal",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "example": "{tokenSmartHint}"
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtualizaodoProdutoTotalRequest"
                  },
                  "description": "",
                  "example": [
                    {
                      "identifier": "123456789",
                      "Product": {
                        "ProductId": "123456789",
                        "ItemGroupId": "123456789",
                        "Title": "Title do Produto",
                        "Mpn": "123ABC",
                        "MpnFather": "123ABC",
                        "Sku": "abcdef-123456789",
                        "Description": "Descrição do Produto",
                        "Price": 139.99,
                        "SalePrice": 89.99,
                        "PromotionDiscount": 0.0,
                        "Availability": "in stock",
                        "ProductType": "Futebol > Camisas Polo > TFime",
                        "Link": "//www.minhaloja.com.br/123456789",
                        "Installment": 1,
                        "InstallmentAmount": 89.99,
                        "BankSlipPrice": 0.0,
                        "Gender": "Masculino",
                        "Brand": "Marca do Produto",
                        "ReviewStars": 5.0,
                        "Categories": [
                          "Futebol",
                          "Futebol > Camisas Polo",
                          "Futebol > Camisa Polo > Time"
                        ],
                        "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                        "AdicionalImageLink": [
                          "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                        ],
                        "Tags": [
                          "Futebol",
                          "Camisas Polo",
                          "Kappa",
                          "Masculino",
                          "netshoes"
                        ],
                        "CreatedDate": "2021-11-12T01:44:27.666Z",
                        "OfferDate": "0001-01-01T00:00:00",
                        "SellsCount": 0,
                        "ViewsCount": 0,
                        "ProductFilters": [
                          {
                            "Key": "tamanho",
                            "Show": "Tamanho",
                            "Visible": true,
                            "Value": [
                              {
                                "Key": "M",
                                "Show": "m"
                              },
                              {
                                "Key": "G",
                                "Show": "g"
                              }
                            ]
                          },
                          {
                            "Key": "tipo-de-produto",
                            "Show": "Tipo de Produto",
                            "Visible": true,
                            "Value": [
                              {
                                "Key": "tenis-de-corrida",
                                "Show": "Tênis de Corrida"
                              },
                              {
                                "Key": "tenis-de-passear",
                                "Show": "Tênis de Passear"
                              }
                            ]
                          },
                          {
                            "Key": "promocao",
                            "Show": "Promoção",
                            "Visible": true,
                            "Valeu": [
                              {
                                "Key": "compre-2-por-1",
                                "Show": "Compre 2 por 1"
                              },
                              {
                                "Key": "lancamentos",
                                "Show": "Lançamentos"
                              }
                            ]
                          },
                          {
                            "Key": "cor",
                            "Show": "Cor",
                            "Visible": true,
                            "Value": [
                              {
                                "Key": "preto-e-branco",
                                "Show": "Preto e Branco"
                              },
                              {
                                "Key": "verde",
                                "Show": "Verde"
                              }
                            ]
                          }
                        ],
                        "AditionalFeatures": [
                          {
                            "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                          },
                          {
                            "0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                          }
                        ],
                        "Rules": [
                          {
                            "Value": "Campanha do Google",
                            "Values": [
                              {
                                "Name": "SalePrice",
                                "ValueDouble": 89.99
                              },
                              {
                                "Name": "Price",
                                "ValueDouble": 139.99
                              },
                              {
                                "Name": "Availability",
                                "ValueString": "out of stock"
                              }
                            ]
                          },
                          {
                            "StartDouble": 8000000,
                            "EndDouble": 9000000,
                            "Values": [
                              {
                                "Name": "Free-Shipping",
                                "ValueString": "True"
                              }
                            ]
                          },
                          {
                            "StartDate": "0001-01-01T00:00:00",
                            "EndDate": "0001-02-01T00:00:00",
                            "Values": [
                              {
                                "Name": "SalePrice",
                                "ValueDouble": 89.99
                              },
                              {
                                "Name": "Price",
                                "ValueDouble": 139.99
                              },
                              {
                                "Name": "Availability",
                                "ValueString": "out of stock"
                              }
                            ]
                          }
                        ],
                        "Conditions": [
                          {
                            "StartDouble": 8000000,
                            "EndDouble": 9000000,
                            "Validation": [
                              "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                              "facebook"
                            ],
                            "Values": [
                              {
                                "Field": "ProductFilters",
                                "Name": "Free-Shipping",
                                "ValueString": "True"
                              }
                            ]
                          },
                          {
                            "Value": "google",
                            "Values": [
                              {
                                "Field": "ProductFilters",
                                "Name": "Free-Shipping",
                                "ValueString": "True"
                              }
                            ]
                          }
                        ],
                        "Specifications": [
                          {
                            "Sku": "ABC-12345678-C",
                            "SpecificationId": "1234567890",
                            "Availability": "out of stock",
                            "Changes": [
                              {
                                "Name": "Price",
                                "ValueDouble": 123.9
                              },
                              {
                                "Name": "Installment",
                                "ValueInt": 2
                              },
                              {
                                "Name": "Title",
                                "ValueString": "Produto de Teste"
                              }
                            ],
                            "Variations": [
                              {
                                "Name": "tamanho",
                                "Value": "G"
                              },
                              {
                                "Name": "cor",
                                "Value": "Preto"
                              }
                            ]
                          },
                          {
                            "Sku": "ABC-12345678-C",
                            "SpecificationId": "1234567890",
                            "Availability": "out of stock",
                            "Variations": [
                              {
                                "Name": "tamanho",
                                "Value": "M"
                              },
                              {
                                "Name": "cor",
                                "Value": "Branco"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": [
                  {
                    "identifier": "123456789",
                    "Product": {
                      "ProductId": "123456789",
                      "ItemGroupId": "123456789",
                      "Title": "Title do Produto",
                      "Mpn": "123ABC",
                      "MpnFather": "123ABC",
                      "Sku": "abcdef-123456789",
                      "Description": "Descrição do Produto",
                      "Price": 139.99,
                      "SalePrice": 89.99,
                      "PromotionDiscount": 0.0,
                      "Availability": "in stock",
                      "ProductType": "Futebol > Camisas Polo > TFime",
                      "Link": "//www.minhaloja.com.br/123456789",
                      "Installment": 1,
                      "InstallmentAmount": 89.99,
                      "BankSlipPrice": 0.0,
                      "Gender": "Masculino",
                      "Brand": "Marca do Produto",
                      "ReviewStars": 5.0,
                      "Categories": [
                        "Futebol",
                        "Futebol > Camisas Polo",
                        "Futebol > Camisa Polo > Time"
                      ],
                      "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                      "AdicionalImageLink": [
                        "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                      ],
                      "Tags": [
                        "Futebol",
                        "Camisas Polo",
                        "Kappa",
                        "Masculino",
                        "netshoes"
                      ],
                      "CreatedDate": "2021-11-12T01:44:27.666Z",
                      "OfferDate": "0001-01-01T00:00:00",
                      "SellsCount": 0,
                      "ViewsCount": 0,
                      "ProductFilters": [
                        {
                          "Key": "tamanho",
                          "Show": "Tamanho",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "M",
                              "Show": "m"
                            },
                            {
                              "Key": "G",
                              "Show": "g"
                            }
                          ]
                        },
                        {
                          "Key": "tipo-de-produto",
                          "Show": "Tipo de Produto",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "tenis-de-corrida",
                              "Show": "Tênis de Corrida"
                            },
                            {
                              "Key": "tenis-de-passear",
                              "Show": "Tênis de Passear"
                            }
                          ]
                        },
                        {
                          "Key": "promocao",
                          "Show": "Promoção",
                          "Visible": true,
                          "Valeu": [
                            {
                              "Key": "compre-2-por-1",
                              "Show": "Compre 2 por 1"
                            },
                            {
                              "Key": "lancamentos",
                              "Show": "Lançamentos"
                            }
                          ]
                        },
                        {
                          "Key": "cor",
                          "Show": "Cor",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "preto-e-branco",
                              "Show": "Preto e Branco"
                            },
                            {
                              "Key": "verde",
                              "Show": "Verde"
                            }
                          ]
                        }
                      ],
                      "AditionalFeatures": [
                        {
                          "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        },
                        {
                          "0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        }
                      ],
                      "Rules": [
                        {
                          "Value": "Campanha do Google",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        },
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Values": [
                            {
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "StartDate": "0001-01-01T00:00:00",
                          "EndDate": "0001-02-01T00:00:00",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        }
                      ],
                      "Conditions": [
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Validation": [
                            "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                            "facebook"
                          ],
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "Value": "google",
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        }
                      ],
                      "Specifications": [
                        {
                          "Sku": "ABC-12345678-C",
                          "SpecificationId": "1234567890",
                          "Availability": "out of stock",
                          "Changes": [
                            {
                              "Name": "Price",
                              "ValueDouble": 123.9
                            },
                            {
                              "Name": "Installment",
                              "ValueInt": 2
                            },
                            {
                              "Name": "Title",
                              "ValueString": "Produto de Teste"
                            }
                          ],
                          "Variations": [
                            {
                              "Name": "tamanho",
                              "Value": "G"
                            },
                            {
                              "Name": "cor",
                              "Value": "Preto"
                            }
                          ]
                        },
                        {
                          "Sku": "ABC-12345678-C",
                          "SpecificationId": "1234567890",
                          "Availability": "out of stock",
                          "Variations": [
                            {
                              "Name": "tamanho",
                              "Value": "M"
                            },
                            {
                              "Name": "cor",
                              "Value": "Branco"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "security": [],
          "servers": [
            {
              "url": "https://catalog.smarthint.co/api",
              "variables": {}
            }
          ]
        }
      },
      "/Product/Prices": {
        "put": {
          "tags": [
            "Catálogo"
          ],
          "summary": "Atualização dos Preços dos Produtos",
          "description": "Utilize o endpoint de Atualização de Preços para alterar o preço dos seus produtos dentro da SmartHint.\n\nBasta inserir o identificador do mesmo e atualizar os respectivos preços e valores de parcelamento.",
          "operationId": "AtualizaçãodosPreçosdosProdutos",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "example": "{tokenSmartHint}"
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtualizaodosPreosdosProdutosRequest"
                  },
                  "description": "",
                  "example": [
                    {
                      "identifier": "123456789",
                      "Price": 139.99,
                      "SalePrice": 89.99,
                      "PromotionDiscount": 0.0,
                      "Installment": 1,
                      "InstallmentAmount": 89.99,
                      "BankSlipPrice": 0.0
                    }
                  ]
                },
                "example": [
                  {
                    "identifier": "123456789",
                    "Price": 139.99,
                    "SalePrice": 89.99,
                    "PromotionDiscount": 0.0,
                    "Installment": 1,
                    "InstallmentAmount": 89.99,
                    "BankSlipPrice": 0.0
                  }
                ]
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "security": [],
          "servers": [
            {
              "url": "https://catalog.smarthint.co/api",
              "variables": {}
            }
          ]
        }
      },
      "/Product/Availability": {
        "put": {
          "tags": [
            "Catálogo"
          ],
          "summary": "Atualização dos Estoque dos Produtos",
          "description": "Utilize este endpoint para realizar a atualização da disponibilidade dos seus produtos na base SmartHint.",
          "operationId": "AtualizaçãodosEstoquedosProdutos",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string",
                "example": "{tokenSmartHint}"
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtualizaodosEstoquedosProdutosRequest"
                  },
                  "description": "",
                  "example": [
                    {
                      "identifier": "123456789",
                      "Availability": "in stock"
                    }
                  ]
                },
                "example": [
                  {
                    "identifier": "123456789",
                    "Availability": "in stock"
                  }
                ]
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "security": [],
          "servers": [
            {
              "url": "https://catalog.smarthint.co/api",
              "variables": {}
            }
          ]
        }
      },
      "/track/click": {
        "get": {
          "tags": [
            "Tracking por API"
          ],
          "summary": "Clique",
          "description": "Sempre que um Comprador clicar em uma funcionalidade que utiliza a SmartHint, precisamos receber um request, conforme descrito abaixo:",
          "operationId": "Clique",
          "parameters": [
            {
              "name": "shcode",
              "in": "query",
              "description": "SHCode - Código interno da SmartHint da Loja",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{shCode}"
              }
            },
            {
              "name": "anonymousConsumer",
              "in": "query",
              "description": "Deve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor. Recomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo CPF, e-mail, nome, o ideal é que seja um ID interno ou algum hash gerado a partir de alguma dessas informações. Essa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{anonymousConsumer}"
              }
            },
            {
              "name": "session",
              "in": "query",
              "description": "Valor da Session - Session (sessão) é o período de tempo em que o usuário interage com a aplicação, deverá ser enviado o identificador desta session",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{session}"
              }
            },
            {
              "name": "clickProduct",
              "in": "query",
              "description": "URL ou Identificador da página do produto que foi clicado",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{url}"
              }
            },
            {
              "name": "productId",
              "in": "query",
              "description": "Código do produto clicado pelo Comprador. Importante que este dado seja o mesmo que foi enviado para o Catálogo de Produtos",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{productId}"
              }
            },
            {
              "name": "origin",
              "in": "query",
              "description": "URL ou Identificador da página que o Comprador está vindo, a Origem do mesmo até chegar na página do produto",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{origin}"
              }
            },
            {
              "name": "pageType",
              "in": "query",
              "description": "O pagetype é o identificador do tipo de página que o Comprador se encontra, esta, que poderá variar entre:\n- category\n- search\n- searchWithResult\n- home\n- cart\n- emptycart\n- checkout\n- notfound\n- product\n- other",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{pageType}"
              }
            },
            {
              "name": "clickFeature",
              "in": "query",
              "description": "Neste campo, deverá ser informado em qual funcionalidade da SmartHint o produto foi clicado, as opções poderão variar entre:\n- search: quando um produto for clicado dentro de uma busca\n- campo \"nameRecommendation\" das recomendações: quando um produto for clicado em uma vitrine de recomendação da SmartHint, deverá ser enviado o \"nameRecommendation\" da recomendação",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{clickFeature}"
              }
            },
            {
              "name": "term",
              "in": "query",
              "description": "Quando um produto for clicado em uma busca, ou seja, quando o campo clickFeature for igual a search, deverá ser enviado o termo que foi digitado pelo Comprador para gerar a busca",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{term}"
              }
            },
            {
              "name": "position",
              "in": "query",
              "description": "Campo utilizado para que a SmartHint saiba qual a posição dos produtos clicados nas funcionalidades, seja ela busca ou recomendação.\n\nQuando o Comprador clicar em um produto, deverá ser informado o valor da posição na lista de produto, o sétimo produto da vitrine deverá ser o valor 7.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{positionProduct}"
              }
            },
            {
              "name": "locationRecs",
              "in": "query",
              "description": "Neste campo, deverá ser informado qual é a posição da Recomendação onde o produto foi clicado.\n\nA posição, deverá ser a mesma informada no retorno da chamada de Recomendação por Página (recommendationByPage), onde os valores poderão variar entre 1 à 5.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{positionRecommendation}"
              }
            },
            {
              "name": "date",
              "in": "query",
              "description": "Data que o clique foi realizado. A informação deverá ser enviada no seguinte formato \"DD/MM/AAAA HH:MM:SS\"",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{date}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://recs.smarthint.co",
              "variables": {}
            }
          ]
        }
      },
      "/track/pageView": {
        "get": {
          "tags": [
            "Tracking por API"
          ],
          "summary": "Pageviews",
          "description": "Cada vez que um Comprador visualiza uma “página” (conceito WEB, mas que deve ter o equivalente no APP) na sua loja, precisamos receber um request desse pageview para que a nossa Inteligência consiga captar e recomendar os melhores produtos para este Comprador.",
          "operationId": "Pageviews",
          "parameters": [
            {
              "name": "shcode",
              "in": "query",
              "description": "SHCode - Código interno da SmartHint da Loja",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{shCode}"
              }
            },
            {
              "name": "anonymousConsumer",
              "in": "query",
              "description": "Deve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor. Recomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo CPF, e-mail, nome, o ideal é que seja um ID interno ou algum hash gerado a partir de alguma dessas informações. Essa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{anonymousConsumer}"
              }
            },
            {
              "name": "session",
              "in": "query",
              "description": "Valor da Session - Session (sessão) é o período de tempo em que o usuário interage com a aplicação, deverá ser enviado o identificador desta session",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{session}"
              }
            },
            {
              "name": "url",
              "in": "query",
              "description": "URL ou Identificador da página que está sendo visualizada pelo Comprador",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{url}"
              }
            },
            {
              "name": "origin",
              "in": "query",
              "description": "URL ou Identificador da página que o Comprador está vindo, a Origem do mesmo até chegar na página/tela atual",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{origin}"
              }
            },
            {
              "name": "pageType",
              "in": "query",
              "description": "O pagetype é o identificador do tipo de página que o Comprador se encontra, esta, que poderá variar entre:\n- category\n- search\n- searchWithResult\n- home\n- cart\n- emptycart\n- checkout\n- notfound\n- product\n- other",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{pageType}"
              }
            },
            {
              "name": "elapsedTime",
              "in": "query",
              "description": "Tempo que o Comprador ficou na página em segundos. Utilizaremos esta informação para alimentar nossa engine de inteligência artifical para indicar o quanto o Comprador se engajou com determinado produto, categoria, marca, etc.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{elapsedTime}"
              }
            },
            {
              "name": "date",
              "in": "query",
              "description": "Data que a visualização foi realizada. A informação deverá ser enviada no seguinte formato \"DD/MM/AAAA HH:MM:SS\"",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{date}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://recs.smarthint.co",
              "variables": {}
            }
          ]
        }
      },
      "/track/order": {
        "post": {
          "tags": [
            "Tracking por API"
          ],
          "summary": "Track de Pedidos",
          "description": "### Dados dos Pedidos\n\nAo finalizar um pedido dentro da sua Loja ou dentro do seu Aplicativo, devem ser enviados os dados desse pedido, incluindo as informações de produtos (identificador, quantidade e valor) e do Comprado/Sessão (anonymousConsumer e session).\n\nAssim como no identificador do Comprador, não devem ser enviados “dados sensíveis” como por exemplo, endereço do cliente, nome, CPF, dados bancários, etc.\n\n## Body Params\n\n## Atributo\n\n| Tipo | Descrição | Obrigatório |\n| --- | --- | --- |\n| Date | DateTime | Data que o pedido foi finalizado/criado. A informação deverá ser enviada no seguinte formato \"DD/MM/AAAA HH:MM:SS\" |\n| Freight | decimal | Valor cobrado para o frete do Pedido |\n| OrderId | String | Código/Número do Pedido criado |\n| Total | Decimal | Valor total do Pedido criado |\n| anonymousConsumer | String | Identificador do Comprador que realizou a compra. É muito importante que este valor enviado seja o mesmo utilizado em toda a jornada do Comprador pelo Site/App |\n| Session | String | Valor da Sessão do Comprador que realizou a compra. É muito importante que este valor enviado seja o mesmo utilizado em toda a jornada do Comprador pelo Site/App |\n| Items | Object | Array de Produtos dentro do Pedido, importante que todos os produtos sejam encaminhados para que a nossa Engine de Inteligência Artifical consiga coletar esses dados para a geração de algumas vitrines |\n| Name | String | Nome do Produto do Pedido |\n| ProductId | String | ProductId do Produto do Pedido, este dado deve ser o mesmo enviado no catálogo |\n| Quantity | Integer | Quantidade deste Produto adquirido no Pedido |\n| SKU | String | Sku do Spectification adquirido no Pedido, este dado deve ser o mesmo enviado no catálogo |",
          "operationId": "TrackdePedidos",
          "parameters": [
            {
              "name": "shcode",
              "in": "query",
              "description": "SHCode - Código interno da SmartHint da Loja",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{shCode}"
              }
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TrackdePedidosRequest"
                    },
                    {
                      "example": {
                        "Date": "04/03/2021 09:04:57",
                        "Freight": 20.14,
                        "OrderId": 12345678,
                        "Total": 48.93,
                        "anonymousConsumer": "6e8bcea4-0eb8-4234-aef7-09134bcd0ce6",
                        "session": "ea9001d3-3732-42ba-a4af-45d9c2d8023e",
                        "Items": [
                          {
                            "Name": "Nome do Produto",
                            "ProductId": 1234,
                            "Quantity": 1,
                            "SKU": "sku1234567890"
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "Date": "04/03/2021 09:04:57",
                  "Freight": 20.14,
                  "OrderId": 12345678,
                  "Total": 48.93,
                  "anonymousConsumer": "6e8bcea4-0eb8-4234-aef7-09134bcd0ce6",
                  "session": "ea9001d3-3732-42ba-a4af-45d9c2d8023e",
                  "Items": [
                    {
                      "Name": "Nome do Produto",
                      "ProductId": 1234,
                      "Quantity": 1,
                      "SKU": "sku1234567890"
                    }
                  ]
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "",
              "headers": {}
            }
          },
          "deprecated": false,
          "servers": [
            {
              "url": "https://recs.smarthint.co",
              "variables": {}
            }
          ]
        }
      },
      "/v{cluster}/Search/GetPrimarySearch": {
        "get": {
          "tags": [
            "Busca"
          ],
          "summary": "Busca",
          "description": "Utilize a chamada de busca para retornar os produtos de acordo com o que o seu Comprador procura.\n\nCaso você tenha cadastrado **RULES** ou **CONDITIONS** para os seus produtos, utilize da chamada para retornar estes valores segmentados, de acordo com o parâmetro atribuido.",
          "operationId": "Busca",
          "parameters": [
            {
              "name": "shcode",
              "in": "query",
              "description": "SHCode - Código interno da SmartHint da Loja",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{shCode}"
              }
            },
            {
              "name": "term",
              "in": "query",
              "description": "Termo pesquisado pelo Comprador",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{termodebusca}"
              }
            },
            {
              "name": "from",
              "in": "query",
              "description": "Valor a ser retornado a partir do SPOT (Produto)",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{spotProduto}"
              }
            },
            {
              "name": "size",
              "in": "query",
              "description": "Quantidade de Produtos que deverá ser apresetnado por página",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{produtosPorPagina}"
              }
            },
            {
              "name": "anonymous",
              "in": "query",
              "description": "Deve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor. Recomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo CPF, e-mail, nome, o ideal é que seja um ID interno ou algum hash gerado a partir de alguma dessas informações. Essa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{idCustomer}"
              }
            },
            {
              "name": "searchSort",
              "in": "query",
              "description": "Por padrão, a SmartHint já devolve os produtos da busca pela relevância calculada pela nossa Inteligência Artificial, entretanto, caso o Comprador realize a troca da ordenação para mais vendidos, por exemplo, é necessário realizar a chamada da busca com a ordenação desejada, abaixo, segue os IDs de cada uma das ordenações possíveis:\n- 0 - Relevância\n- 1 - Menor Preço\n- 2 - Maior Preço\n- 3 - Alfabética A-Z\n- 4 - Alfabética Z-A\n- 5 - Mais Recentes\n- 6 - Mais Vendidos\n- 7 - Mais Vistos\n- 8 - Maior Desconto",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{sort}"
              }
            },
            {
              "name": "rule",
              "in": "query",
              "description": "Caso existam Regras para a apresentação de produtos, este deverá ser enviado",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{regraCatalogo}"
              }
            },
            {
              "name": "ruletype",
              "in": "query",
              "description": "Quando um \"rule\" foi passado na chamada de busca, deverá ser enviado também o parametro ruletype para a definição do tipo de rule, as opções são:\n- valuedouble\n- valuedate\n- valuestring",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "(tipoRules)"
              }
            },
            {
              "name": "filter",
              "in": "query",
              "description": "Filtros sobre a busca realizada pelo Comprador",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "{campoFiltro}:{valorFiltro}"
              }
            },
            {
              "name": "condition",
              "in": "query",
              "description": "Caso existam condições especiais para os Produtos, este deverá enviado",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "string",
                "example": "valueDouble:{campoCondition}:{valorCondition}:validation:{valorValidationCondition}"
              }
            },
            {
              "name": "cluster",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Busca"
                      },
                      {
                        "example": {
                          "SearchId": "d13d0f3b-519f-4824-a7bf-8ed110c82e08",
                          "SearchTerm": "camiseta",
                          "Key": "SH-000000",
                          "Anonymous": "c063e8d2-d690-44d7-869f-15ca07bf9555",
                          "Date": "2022-03-25T16:46:05.9475355+00:00",
                          "SearchTime": 0.001,
                          "PosProcessTime": 0.006,
                          "TotalResult": 18,
                          "Products": [
                            {
                              "ProductId": "123456789",
                              "Title": "Title do Produto",
                              "Mpn": "123ABC",
                              "MpnFather": "123ABC",
                              "Sku": "abcdef-123456789",
                              "Description": "Descrição do Produto",
                              "Price": 139.99,
                              "SalePrice": 89.99,
                              "PromotionDiscount": 0.0,
                              "Availability": "in stock",
                              "ProductType": "Futebol > Camisas Polo > TFime",
                              "Link": "//www.minhaloja.com.br/123456789",
                              "Installment": 1,
                              "InstallmentAmount": 89.99,
                              "BankSlipPrice": 0.0,
                              "Gender": "Masculino",
                              "Brand": "Marca do Produto",
                              "ReviewStars": 5.0,
                              "Categories": [
                                "Futebol",
                                "Futebol > Camisas Polo",
                                "Futebol > Camisa Polo > Time"
                              ],
                              "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                              "AdicionalImageLink": [
                                "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                              ],
                              "Tags": [
                                "Futebol",
                                "Camisas Polo",
                                "Kappa",
[...]
