{
  "openapi": "3.0.0",
  "info": {
    "title": "Integração SmartHint",
    "description": "A API SmartHint foi desenvolvida de acordo com os **melhores padrões REST**.\n\nAs operações são feitas por requisições aos endpoints, de acordo com os verbos HTTP, com corpos de mensagem em JSON. As respostas podem ser interpretadas através do código de status HTTP. Isso permite que quaisquer aplicações consumam a API de forma simples e clara, independente da linguagem utilizada.\n\nA SmartHint **criará** e **fornecerá** uma chave de API que deve ser inserida como parâmetro em todas as requisições realizadas para os endpoints. Essa chave deve ser enviada no **header da requisição**, com a chave **“Authorization”** e o **valor fornecido**.\n\n# Conceitos Gerais sobre os dados\n\n## anonymousConsumer\n\nDeve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor.\n\nRecomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo **CPF**, **e-mail**, **nome**, o ideal é que seja um **ID interno** ou algum **hash** gerado a partir de alguma dessas informações.\n\nEssa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.\n\n## session\n\nAtualmente, utilizamos o mesmo conceito de session do Google Analytics, que renova esse ID (na loja virtual que utiliza a SmartHint é um GUID) sempre que existe uma interação com o aplicativo em menos de 30min.  \nAs **3 situações** que encerram a sessão e criam uma nova são:\n\n1.  30 minutos de inatividade;\n2.  Finalização de um pedido;\n3.  Mudança de dia (quando uma sessão inicia 23:55, 00:00 será iniciada uma nova sessão).\n    \n\nEssa informação será enviada em algumas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre conversão, navegação e compras para os modelos de IA.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://catalog.smarthint.co"
    },
    {
      "url": "https://recs.smarthint.co"
    },
    {
      "url": "https://searches.smarthint.co"
    }
  ],
  "tags": [
    {
      "name": "Catálogo",
      "description": "A SmartHint precisa conhecer os seus produtos e suas respectivas característica, para que assim, possamos recomendar os melhores produtos para os seus Compradores."
    },
    {
      "name": "Dados de Navegação",
      "description": "A SmartHint trabalha com todos os dados que o seu Comprador acessa, clica ou compra. Por isso, é essencial que tenhamos todo o fluxo do Comprador dentro da sua Loja ou Aplicativo.\n\nVisto isso, é essencial recebermos os dados de sua navegação para então, recomendar os melhores produtos da sua Loja de acordo com a Persona do seu Comprador.\n\n### Tracking por Script\n\nPara os e-commerces que possuem uma **interação web** (sites mobile/desktop), é possível realizar o trackeamento dos Compradores através do nosso **script tracking**.\n\nPrimeiramente, deverá ser chamado o script [<code>https://static.smarthint.co/Scripts/i/SmartHintTrack.min.js</code>](https://static.smarthint.co/Scripts/i/SmartHintTrack.min.js) e posteriormente a função `SmartHint.Track.Initialize()` quando **todas as variáveis** abaixo tiverem sido populadas na página.  \nO nosso script **não faz a criação** dos eventos de ação do Analytics, desta forma, é importante que todos **os eventos enviados** para o GA sejam realizados por vocês.\n\nÉ de extrema importância que o script só seja chamado quando **todas as variáveis** estiverem com valores. Reforçamos que todas as classes/variáveis são **case sensitive**:\n\n`smarthintkey`  \n**Descrição**: Essa variável é a responsável por identificar a Loja que iremos realizar o trackeamento. Esta chave pode ser encontrada no Painel Administrativo.  \n**Tipo**: Variável JS  \n**Exemplos de valores**: `SH-123456`\n\n`SmartHint_AnonymousConsumer`  \n**Descrição**: Essa variável é a responsável por identificar o Comprador na SmartHint. É importante que este dado seja persistido quando o cliente realizar o login na loja e quando não estiver logado, deve-se passar uma chave única.  \n**Tipo**: Variável JS  \n**Exemplos de valores**: `555c2610-4759-416d-9da0-85bca45c4ca1`\n\n`SmartHint_Channel`  \n**Descrição**: Essa variável é a responsável por identificar o Canal ou o Dispositivo na qual o Comprador está. Este valor deverá ser o mesmo configurado na funcionalidade de Canais e Dispositivos no Painel Administrativo.  \n**Tipo**: Variável JS  \n**Exemplos de valores**: `mobile`, `desktop`, `aplicativo`\n\n`SmartHint_PageType`  \n**Descrição**: Essa variável é a responsável por identificar a página na qual o Comprador está, ela é responsável pela identificação de qual o fluxo o Comprador está seguindo, independentemente se existem interações com a ferramenta da SmartHint.  \n**Tipo**: Variável JS  \n**Valores aceitos**:\n\n- category\n- search\n- searchWithResult\n- home\n- cart\n- emptycart\n- checkout\n- notfound\n- product\n- general\n- other\n    \n\n`SmartHint_ClickClass`  \n**Descrição**: Variável que deverá ser inserida no link do produto para que possamos identificar o clique no Produto nas nossas funcionalidades. Esta classe deverá estar presente em todo SPOT de Produto  \n**Tipo**: Classe/Variável JS  \n**Exemplos de valores**:\n\n- `a href=\"`[<code>www.linkdoprodut.com.br\"</code>](http://www.linkdoprodut.com.br) `class=\"classeDeProduto\"`\n- `SmartHint_ClickClass = \"classeDeProduto\"`\n    \n\n`data-smarthintProductId`  \n**Descrição**: Variável que deverá ser inserida no SPOT do Produto para que possamos identificar o Código do Produto (productId) no clique no Produto nas nossas funcionalidades. Esta classe deverá estar presente em todo SPOT de Produto e deve possuir o mesmo valor enviado para o nosso Catálogo  \n**Tipo**: Classe  \n**Exemplos de valores**: `data-smarthintProductId=”45”`\n\n`data-smarthintFeature`  \n**Descrição**: Variável que deverá ser inserida no SPOT do Produto para que possamos identificar qual funcionalidade da SmartHint este representa. Este dado será utilizado para identificar o clique na funcionalidade.  \n**Tipo**: Classe  \n**Exemplos de valores**:  \nQuando o Comprador estiver em uma busca, sempre deverá ser informado como “search”. Exemplo: `data-smarthintFeature=\"search\"`  \nQuando o Comprador estiver em uma recomendação, sempre deverá ser informado como o nome da recomendação disponibilizada na integração (campo nameRecommendation retornado na chamada de recommendationByPage. Exemplo: `data-smarthintFeature=\"most-popular\"`\n\n`SmartHint_SearchInput`  \n**Descrição**: Classe que deverá ser inserida no input da busca para que possamos trackear o valor que o Comprador inseriu na busca  \n**Tipo**: Classe  \n**Exemplos de valores**: `#id_search_input`\n\n`data-smarthintPosition`  \n**Descrição**: Classe utilizada para que a SmartHint saiba qual a posição dos produtos clicados nas funcionalidades, seja ela busca ou recomendação.  \nQuando o Comprador clicar em um produto, deverá ser informado o valor da posição na lista de produto, o sétimo produto da vitrine ou da busca, por exemplo, deverá ser o valor 7.  \n**Tipo**: Classe  \n**Exemplo de valores**: `1`\n\n`data-smarthintLocation`  \n**Descrição**: Neste campo, deverá ser informado qual é a posição da Recomendação onde o produto foi clicado.  \nA posição, deverá ser a mesma informada no retorno da chamada de Recomendação por Página (recommendationByPage), onde os valores poderão variar entre 1 à 5.  \n**Tipo**: Classe  \n**Exemplo de valores**: `2`\n\n`dataLayer.SmartHintOrder`  \n**Descrição**: Esse datalayer deverá ser inserido na página de finalização do pedido para que possamos capturar os dados relacionados aos produtos comprados  \n**Tipo**: Datalayer  \n**Exemplos de valores**:\n\n``` json\n{\n    \"Name\": \"SmartHintOrder\",\n    \"Date\": \"04/03/2021 09:04:57\",\n    \"Freight\": 20.14,\n    \"OrderId\": \"12345678\",\n    \"Total\": 48.93,\n    \"Items\": [\n        {\n            \"Name\": \"Nome do Produto\",\n            \"ProductId\": \"1234\",\n            \"Quantity\": 1,\n            \"SKU\": \"sku1234567890\"\n        }\n    ]\n}\n\n ```"
    },
    {
      "name": "Dados de Navegação > Tracking por Script",
      "description": "Para os e-commerces que possuem uma **interação web** (sites mobile/desktop), é possível realizar o trackeamento dos Compradores através do nosso **script tracking**.\n\nPrimeiramente, deverá ser chamado o script [<code>https://static.smarthint.co/Scripts/i/SmartHintTrack.min.js</code>](https://static.smarthint.co/Scripts/i/SmartHintTrack.min.js) e posteriormente a função `SmartHint.Track.Initialize()` quando **todas as variáveis** abaixo tiverem sido populadas na página.  \nO nosso script **não faz a criação** dos eventos de ação do Analytics, desta forma, é importante que todos **os eventos enviados** para o GA sejam realizados por vocês.\n\nÉ de extrema importância que o script só seja chamado quando **todas as variáveis** estiverem com valores. Reforçamos que todas as classes/variáveis são **case sensitive**:\n\n`smarthintkey`  \n**Descrição**: Essa variável é a responsável por identificar a Loja que iremos realizar o trackeamento. Esta chave pode ser encontrada no Painel Administrativo.  \n**Tipo**: Variável JS  \n**Exemplos de valores**: `SH-123456`\n\n`SmartHint_AnonymousConsumer`  \n**Descrição**: Essa variável é a responsável por identificar o Comprador na SmartHint. É importante que este dado seja persistido quando o cliente realizar o login na loja e quando não estiver logado, deve-se passar uma chave única.  \n**Tipo**: Variável JS  \n**Exemplos de valores**: `555c2610-4759-416d-9da0-85bca45c4ca1`\n\n`SmartHint_Channel`  \n**Descrição**: Essa variável é a responsável por identificar o Canal ou o Dispositivo na qual o Comprador está. Este valor deverá ser o mesmo configurado na funcionalidade de Canais e Dispositivos no Painel Administrativo.  \n**Tipo**: Variável JS  \n**Exemplos de valores**: `mobile`, `desktop`, `aplicativo`\n\n`SmartHint_PageType`  \n**Descrição**: Essa variável é a responsável por identificar a página na qual o Comprador está, ela é responsável pela identificação de qual o fluxo o Comprador está seguindo, independentemente se existem interações com a ferramenta da SmartHint.  \n**Tipo**: Variável JS  \n**Valores aceitos**:\n\n- category\n    \n- search\n    \n- searchWithResult\n    \n- home\n    \n- cart\n    \n- emptycart\n    \n- checkout\n    \n- notfound\n    \n- product\n    \n- general\n    \n- other\n    \n\n`SmartHint_ClickClass`  \n**Descrição**: Variável que deverá ser inserida no link do produto para que possamos identificar o clique no Produto nas nossas funcionalidades. Esta classe deverá estar presente em todo SPOT de Produto  \n**Tipo**: Classe/Variável JS  \n**Exemplos de valores**:\n\n- `a href=\"`[<code>www.linkdoprodut.com.br\"</code>](http://www.linkdoprodut.com.br) `class=\"classeDeProduto\"`\n    \n- `SmartHint_ClickClass = \"classeDeProduto\"`\n    \n\n`data-smarthintProductId`  \n**Descrição**: Variável que deverá ser inserida no SPOT do Produto para que possamos identificar o Código do Produto (productId) no clique no Produto nas nossas funcionalidades. Esta classe deverá estar presente em todo SPOT de Produto e deve possuir o mesmo valor enviado para o nosso Catálogo  \n**Tipo**: Classe  \n**Exemplos de valores**: `data-smarthintProductId=”45”`\n\n`data-smarthintFeature`  \n**Descrição**: Variável que deverá ser inserida no SPOT do Produto para que possamos identificar qual funcionalidade da SmartHint este representa. Este dado será utilizado para identificar o clique na funcionalidade.  \n**Tipo**: Classe  \n**Exemplos de valores**:  \nQuando o Comprador estiver em uma busca, sempre deverá ser informado como “search”. Exemplo: `data-smarthintFeature=\"search\"`  \nQuando o Comprador estiver em uma recomendação, sempre deverá ser informado como o nome da recomendação disponibilizada na integração (campo nameRecommendation retornado na chamada de recommendationByPage. Exemplo: `data-smarthintFeature=\"most-popular\"`\n\n`SmartHint_SearchInput`  \n**Descrição**: Classe que deverá ser inserida no input da busca para que possamos trackear o valor que o Comprador inseriu na busca  \n**Tipo**: Classe  \n**Exemplos de valores**: `#id_search_input`\n\n`data-smarthintPosition`  \n**Descrição**: Classe utilizada para que a SmartHint saiba qual a posição dos produtos clicados nas funcionalidades, seja ela busca ou recomendação.  \nQuando o Comprador clicar em um produto, deverá ser informado o valor da posição na lista de produto, o sétimo produto da vitrine ou da busca, por exemplo, deverá ser o valor 7.  \n**Tipo**: Classe  \n**Exemplo de valores**: `1`\n\n`data-smarthintLocation`  \n**Descrição**: Neste campo, deverá ser informado qual é a posição da Recomendação onde o produto foi clicado.  \nA posição, deverá ser a mesma informada no retorno da chamada de Recomendação por Página (recommendationByPage), onde os valores poderão variar entre 1 à 5.  \n**Tipo**: Classe  \n**Exemplo de valores**: `2`\n\n`dataLayer.SmartHintOrder`  \n**Descrição**: Esse datalayer deverá ser inserido na página de finalização do pedido para que possamos capturar os dados relacionados aos produtos comprados  \n**Tipo**: Datalayer  \n**Exemplos de valores**:\n\n``` json\n{\n    \"Name\": \"SmartHintOrder\",\n    \"Date\": \"04/03/2021 09:04:57\",\n    \"Freight\": 20.14,\n    \"OrderId\": \"12345678\",\n    \"Total\": 48.93,\n    \"Items\": [\n        {\n            \"Name\": \"Nome do Produto\",\n            \"ProductId\": \"1234\",\n            \"Quantity\": 1,\n            \"SKU\": \"sku1234567890\"\n        }\n    ]\n}\n\n ```"
    },
    {
      "name": "Dados de Navegação > Tracking por API",
      "description": "### Dados de Navegação\n\nPara os e-commerces que são aplicativos nativos e consequentemente, não existindo a possibilidade de inserção de scripts JS, o trackeamento dos Compradores deverão ser realizados através das API abaixo:"
    },
    {
      "name": "Busca",
      "description": "Com a busca da SmartHint, o seus Compradores terão mais facilidade em pesquisar os produtos desejados e que estão de acordo com a sua navegação.\n\nDentro da área de busca, além de enviar o termo de busca, você poderá aplicar os filtros que o seu Comprador selecionar ou não, fazendo uma segmentação dos seu catálogo para que o resultado aplicado seja, exatamente, o que o mesmo procura.\n\nAlém de retornar os produtos, você também poderá apresentar os termos mais pesquiados de acordo com o que o seu Comprador digita através do endpoint de Autocomplete, este que retornar a quantidade de termos que for parametrizado na chamada, bem como os produtos que serão retornados."
    },
    {
      "name": "Vitrines"
    },
    {
      "name": "Vitrines > Vitrines por Página"
    },
    {
      "name": "Hotsite"
    },
    {
      "name": "Banners"
    }
  ],
  "paths": {
    "/api/Product": {
      "get": {
        "tags": [
          "Catálogo"
        ],
        "summary": "Consulta de Produtos",
        "description": "Caso seja necessária uma consulta de um produto específico, você poderá utilizar este endpoint para validar como que os dados deste produto específico, encontra-se na SmartHint.\n\nPara realizar a consulta, utilize um dos campos chave do seu produto, para facilitar a sua consulta, conforme exemplo abaixo:",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{tokenSmartHint}"
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Campo obrigatório - Código identificador para realizar a atualização do Produto. Poderá ser utilizado os seguintes campos: ProductId, Mpn, Sku, SpecificationId e Link",
            "example": "{valoridentifier}"
          }
        ],
        "responses": {
          "undefined": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "ProductId": "123456789",
                    "Title": "Title do Produto",
                    "Mpn": "123ABC",
                    "MpnFather": "123ABC",
                    "Sku": "abcdef-123456789",
                    "Description": "Descrição do Produto",
                    "Price": 139.99,
                    "SalePrice": 89.99,
                    "PromotionDiscount": 0,
                    "Availability": "in stock",
                    "ProductType": "Futebol > Camisas Polo > Time",
                    "Link": "//www.minhaloja.com.br/123456789",
                    "Installment": 1,
                    "InstallmentAmount": 89.99,
                    "BankSlipPrice": 0,
                    "Gender": "Masculino",
                    "Brand": "Marca do Produto",
                    "ReviewStars": 5,
                    "Categories": [
                      "Futebol",
                      "Futebol > Camisas Polo",
                      "Futebol > Camisa Polo > Time"
                    ],
                    "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                    "AdicionalImageLink": [
                      "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                    ],
                    "Tags": [
                      "Futebol",
                      "Camisas Polo",
                      "Kappa",
                      "Masculino",
                      "netshoes"
                    ],
                    "CreatedDate": "2021-11-12T01:44:27.666Z",
                    "OfferDate": "0001-01-01T00:00:00",
                    "SellsCount": 0,
                    "ViewsCount": 0,
                    "ProductFilters": [
                      {
                        "Key": "tamanho",
                        "Show": "Tamanho",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "M",
                            "Show": "m"
                          },
                          {
                            "Key": "G",
                            "Show": "g"
                          }
                        ]
                      },
                      {
                        "Key": "tipo-de-produto",
                        "Show": "Tipo de Produto",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "tenis-de-corrida",
                            "Show": "Tênis de Corrida"
                          },
                          {
                            "Key": "tenis-de-passear",
                            "Show": "Tênis de Passear"
                          }
                        ]
                      },
                      {
                        "Key": "promocao",
                        "Show": "Promoção",
                        "Visible": true,
                        "Valeu": [
                          {
                            "Key": "compre-2-por-1",
                            "Show": "Compre 2 por 1"
                          },
                          {
                            "Key": "lancamentos",
                            "Show": "Lançamentos"
                          }
                        ]
                      },
                      {
                        "Key": "cor",
                        "Show": "Cor",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "preto-e-branco",
                            "Show": "Preto e Branco"
                          },
                          {
                            "Key": "verde",
                            "Show": "Verde"
                          }
                        ]
                      }
                    ],
                    "AditionalFeatures": [
                      {
                        "Key": "ABC0987654321",
                        "Value": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      },
                      {
                        "Key": "A0987654321ABC",
                        "Value": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      }
                    ],
                    "Rules": [
                      {
                        "Value": "Campanha do Google",
                        "Values": [
                          {
                            "Name": "SalePrice",
                            "ValueDouble": 89.99
                          },
                          {
                            "Name": "Price",
                            "ValueDouble": 139.99
                          },
                          {
                            "Name": "Availability",
                            "ValueString": "out of stock"
                          }
                        ]
                      },
                      {
                        "StartDouble": 8000000,
                        "EndDouble": 9000000,
                        "Values": [
                          {
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      },
                      {
                        "StartDate": "0001-01-01T00:00:00",
                        "EndDate": "0001-02-01T00:00:00",
                        "Values": [
                          {
                            "Name": "SalePrice",
                            "ValueDouble": 89.99
                          },
                          {
                            "Name": "Price",
                            "ValueDouble": 139.99
                          },
                          {
                            "Name": "Availability",
                            "ValueString": "out of stock"
                          }
                        ]
                      }
                    ],
                    "Conditions": [
                      {
                        "StartDouble": 8000000,
                        "EndDouble": 9000000,
                        "Validation": [
                          "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                          "facebook"
                        ],
                        "Values": [
                          {
                            "Field": "ProductFilters",
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      },
                      {
                        "Value": "google",
                        "Values": [
                          {
                            "Field": "ProductFilters",
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      }
                    ],
                    "Specifications": [
                      {
                        "sku": "ABC-12345678-C",
                        "specificationId": "1234567890",
                        "availability": "out of stock",
                        "changes": [
                          {
                            "Name": "Price",
                            "ValueDouble": 123.9
                          },
                          {
                            "Name": "Installment",
                            "ValueInt": 2
                          },
                          {
                            "Name": "Title",
                            "ValueString": "Produto de Teste"
                          }
                        ],
                        "variations": [
                          {
                            "Name": "tamanho",
                            "Value": "G"
                          },
                          {
                            "Name": "cor",
                            "Value": "Preto"
                          }
                        ]
                      },
                      {
                        "sku": "ABC-12345678-D",
                        "specificationId": "1234567890",
                        "availability": "out of stock",
                        "variations": [
                          {
                            "Name": "tamanho",
                            "Value": "M"
                          },
                          {
                            "Name": "cor",
                            "Value": "Branco"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/Product/": {
      "post": {
        "tags": [
          "Catálogo"
        ],
        "summary": "Criação de Produtos",
        "description": "Para que a SmartHint aprenda o máximo dos seus produtos e seus Compradores, precisamos receber os produtos em nossa base, para isso, é necessário o envio dos produtos no formato abaixo.\n\nCaso existam regras específicas de precificação, títulos de produtos, disponibilidade de estoque para regiões, campanhas ou sellers específicos, você poderá utilizar o **RULES**. Dentro deste objeto, é possível definir regras baseadas em ranges de valores inteiros, ranges de datas ou valores fixados através de texto para que os produtos sejam apresentados com preços diferentes, títulos diferentes ou até mesmo, estoque diversos de acordo com cada regras estipulada e cadastrada.\n\nAlém disso, é possível utilizar o **CONDITIONS** para que você consiga definir filtros específicos para cada produto, seguindo também, uma regra baseada em ranges de valores inteiros, ranges de datas e/ou valores fixos.\n\n## Body Params\n\n| Atributo | Tipo | Descrição | Obrigatório |\n| --- | --- | --- | --- |\n| ProductId | String | Código do Produto na Loja | Sim |\n| Title | String | Título utilizado no Produto | Sim |\n| Mpn | String | MPN do Produto | Não |\n| MpnFather | String | MPN Pai do Produto | Não |\n| Sku | String | SKU Principal do Produto | Sim |\n| Description | String | Descrição utilizada no Produto | Sim |\n| Price | Double | Preço DE do Produto | Sim |\n| SalePrice | Double | Preço POR do Produto | Sim |\n| PromotionDiscount | Double | Valor de desconto do Produto sobre o Preço DE e Preço POR | Não |\n| Availability | String | Disponibilidade do Produto, este que poderá variar entre **\"in stock\"** e **\"out of stock\"** | Sim |\n| ProductType | String | Subcategorias dos Produtos | Sim |\n| Link | String | URL do Produto na Loja | Sim |\n| Installment | Integer | Parcelamento Mmáximo do Produto | Não |\n| InstallmentAmount | Double | Valor da parcela do Produto | Não |\n| BankSlipPrice | Double | Valor do Produto para pagamento por Boleto | Não |\n| Gender | String | Gênero vinculado ao Produto | Não |\n| Brand | String | Marca cadastrada para o produto | Sim |\n| ReviewStars | Double | Avaliação dos produtos | Não |\n| Categories | Array | Todas as categorias vinculadas ao Produto. Deve-se enviar os níveis de maneira segmentada | Sim |\n| ImageLink | String | Imagem principal do Produto | Sim |\n| AdicionalImageLink | Array | Demais imagens do Produto | Não |\n| Tags | Array | Tags relacionadas ao Produto | Não |\n| CreatedDate | DateTime | Data de criação do Produto. Utilizado para definir os lançamentos dos Produtos | Sim |\n| OfferDate | DateTime | Data que este produto entrou em qualquer promoção na Loja. Utilizado para definir os produtos com Ofertas Especiais | Não |\n| SellsCount | Integer | Número de vendas realizada do produto, para que seja feita a alimentação da base para determinar a relevância quando não temos os dados | Não |\n| ViewsCount | Integer | Visualizações dos produtos, para que seja feita a alimentação da base para determinar a relevância quando não temos os dados | Não |\n| ProductFilters | Object | Filtros que não são atributos das variações e necessitam que se tornem filtros. Neste objetivo, deverá ser enviado todos os atributos e seus respectivos valores | Não |\n| AditionalFeatures | Object | Campos adicionais que podem ser utilizados na montagem do Frontend, para que seja facilitado o processo de Implantação, como o caminho para adição do produto no Carrinho, adição de produtos nos Favoritos | Não |\n| Rules | Object | Regras criadas para a subsituição do(s) valores dos Produtos, de acordo com um paramêtro passado na busca | Não |\n| Conditions | Object | Regra para que os campos de Filtros sejam adicionados conforme condição seja verdadeira. Utilizando esta função, todas as condições deverão ser retornadas verdadeiras, para que que o filtro seja criado na chamada da Busca | Não |\n| Specifications | Object | Utilizado para o envio das Variações dos produtos, ao menos uma variação deverá ser cadatrada para o Produto | Sim |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "ProductId": "123456789",
                    "ItemGroupId": "123456789",
                    "Title": "Title do Produto",
                    "Mpn": "123ABC",
                    "MpnFather": "123ABC",
                    "Sku": "abcdef-123456789",
                    "Description": "Descrição do Produto",
                    "Price": 139.99,
                    "SalePrice": 89.99,
                    "PromotionDiscount": 0,
                    "Availability": "in stock",
                    "ProductType": "Futebol > Camisas Polo > Time",
                    "Link": "//www.minhaloja.com.br/123456789",
                    "Installment": 1,
                    "InstallmentAmount": 89.99,
                    "BankSlipPrice": 0,
                    "Gender": "Masculino",
                    "Brand": "Marca do Produto",
                    "ReviewStars": 5,
                    "Categories": [
                      "Futebol",
                      "Futebol > Camisas Polo",
                      "Futebol > Camisa Polo > Time"
                    ],
                    "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                    "AdicionalImageLink": [
                      "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                    ],
                    "Tags": [
                      "Futebol",
                      "Camisas Polo",
                      "Kappa",
                      "Masculino",
                      "netshoes"
                    ],
                    "CreatedDate": "2021-11-12T01:44:27.666Z",
                    "OfferDate": "0001-01-01T00:00:00",
                    "SellsCount": 0,
                    "ViewsCount": 0,
                    "ProductFilters": [
                      {
                        "Key": "tamanho",
                        "Show": "Tamanho",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "M",
                            "Show": "m"
                          },
                          {
                            "Key": "G",
                            "Show": "g"
                          }
                        ]
                      },
                      {
                        "Key": "tipo-de-produto",
                        "Show": "Tipo de Produto",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "tenis-de-corrida",
                            "Show": "Tênis de Corrida"
                          },
                          {
                            "Key": "tenis-de-passear",
                            "Show": "Tênis de Passear"
                          }
                        ]
                      },
                      {
                        "Key": "promocao",
                        "Show": "Promoção",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "compre-2-por-1",
                            "Show": "Compre 2 por 1"
                          },
                          {
                            "Key": "lancamentos",
                            "Show": "Lançamentos"
                          }
                        ]
                      },
                      {
                        "Key": "cor",
                        "Show": "Cor",
                        "Visible": true,
                        "Value": [
                          {
                            "Key": "preto-e-branco",
                            "Show": "Preto e Branco"
                          },
                          {
                            "Key": "verde",
                            "Show": "Verde"
                          }
                        ]
                      }
                    ],
                    "AditionalFeatures": [
                      {
                        "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      },
                      {
                        "A0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      }
                    ],
                    "Rules": [
                      {
                        "Value": "Campanha do Google",
                        "Values": [
                          {
                            "Name": "SalePrice",
                            "ValueDouble": 89.99
                          },
                          {
                            "Name": "Price",
                            "ValueDouble": 139.99
                          },
                          {
                            "Name": "Availability",
                            "ValueString": "out of stock"
                          }
                        ]
                      },
                      {
                        "StartDouble": 8000000,
                        "EndDouble": 9000000,
                        "Values": [
                          {
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      },
                      {
                        "StartDate": "0001-01-01T00:00:00",
                        "EndDate": "0001-02-01T00:00:00",
                        "Values": [
                          {
                            "Name": "SalePrice",
                            "ValueDouble": 89.99
                          },
                          {
                            "Name": "Price",
                            "ValueDouble": 139.99
                          },
                          {
                            "Name": "Availability",
                            "ValueString": "out of stock"
                          }
                        ]
                      }
                    ],
                    "Condition": [
                      {
                        "StartDouble": 8000000,
                        "EndDouble": 9000000,
                        "Validation": [
                          "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                          "facebook"
                        ],
                        "Values": [
                          {
                            "Field": "ProductFilters",
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      },
                      {
                        "Value": "google",
                        "Values": [
                          {
                            "Field": "ProductFilters",
                            "Name": "Free-Shipping",
                            "ValueString": "True"
                          }
                        ]
                      }
                    ],
                    "Specifications": [
                      {
                        "sku": "ABC-12345678-C",
                        "specificationId": "1234567890",
                        "availability": "out of stock",
                        "changes": [
                          {
                            "Name": "Price",
                            "ValueDouble": 123.9
                          },
                          {
                            "Name": "Installment",
                            "ValueInt": 2
                          },
                          {
                            "Name": "Title",
                            "ValueString": "Produto de Teste"
                          }
                        ],
                        "variations": [
                          {
                            "Name": "tamanho",
                            "Value": "G"
                          },
                          {
                            "Name": "cor",
                            "Value": "Preto"
                          }
                        ]
                      },
                      {
                        "sku": "ABC-12345678-C",
                        "specificationId": "1234567890",
                        "availability": "out of stock",
                        "variations": [
                          {
                            "Name": "tamanho",
                            "Value": "M"
                          },
                          {
                            "Name": "cor",
                            "Value": "Branco"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{Token}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Catálogo"
        ],
        "summary": "Atualização do Produto Total",
        "description": "Utilize a atualização Total de Produtos quando você tem a necessidade de alterar dados como Descrição, Variações do Produto (Specification) e etc.\n\nAconselhamos que para a atualização de preços e estoque, sejam utilizadas a chamadas específicas para tais, descrita logo abaixo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "identifier": "123456789",
                    "Product": {
                      "ProductId": "123456789",
                      "ItemGroupId": "123456789",
                      "Title": "Title do Produto",
                      "Mpn": "123ABC",
                      "MpnFather": "123ABC",
                      "Sku": "abcdef-123456789",
                      "Description": "Descrição do Produto",
                      "Price": 139.99,
                      "SalePrice": 89.99,
                      "PromotionDiscount": 0,
                      "Availability": "in stock",
                      "ProductType": "Futebol > Camisas Polo > TFime",
                      "Link": "//www.minhaloja.com.br/123456789",
                      "Installment": 1,
                      "InstallmentAmount": 89.99,
                      "BankSlipPrice": 0,
                      "Gender": "Masculino",
                      "Brand": "Marca do Produto",
                      "ReviewStars": 5,
                      "Categories": [
                        "Futebol",
                        "Futebol > Camisas Polo",
                        "Futebol > Camisa Polo > Time"
                      ],
                      "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                      "AdicionalImageLink": [
                        "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                      ],
                      "Tags": [
                        "Futebol",
                        "Camisas Polo",
                        "Kappa",
                        "Masculino",
                        "netshoes"
                      ],
                      "CreatedDate": "2021-11-12T01:44:27.666Z",
                      "OfferDate": "0001-01-01T00:00:00",
                      "SellsCount": 0,
                      "ViewsCount": 0,
                      "ProductFilters": [
                        {
                          "Key": "tamanho",
                          "Show": "Tamanho",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "M",
                              "Show": "m"
                            },
                            {
                              "Key": "G",
                              "Show": "g"
                            }
                          ]
                        },
                        {
                          "Key": "tipo-de-produto",
                          "Show": "Tipo de Produto",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "tenis-de-corrida",
                              "Show": "Tênis de Corrida"
                            },
                            {
                              "Key": "tenis-de-passear",
                              "Show": "Tênis de Passear"
                            }
                          ]
                        },
                        {
                          "Key": "promocao",
                          "Show": "Promoção",
                          "Visible": true,
                          "Valeu": [
                            {
                              "Key": "compre-2-por-1",
                              "Show": "Compre 2 por 1"
                            },
                            {
                              "Key": "lancamentos",
                              "Show": "Lançamentos"
                            }
                          ]
                        },
                        {
                          "Key": "cor",
                          "Show": "Cor",
                          "Visible": true,
                          "Value": [
                            {
                              "Key": "preto-e-branco",
                              "Show": "Preto e Branco"
                            },
                            {
                              "Key": "verde",
                              "Show": "Verde"
                            }
                          ]
                        }
                      ],
                      "AditionalFeatures": [
                        {
                          "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        },
                        {
                          "A0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                        }
                      ],
                      "Rules": [
                        {
                          "Value": "Campanha do Google",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        },
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Values": [
                            {
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "StartDate": "0001-01-01T00:00:00",
                          "EndDate": "0001-02-01T00:00:00",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        }
                      ],
                      "Conditions": [
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Validation": [
                            "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                            "facebook"
                          ],
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "Value": "google",
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        }
                      ],
                      "Specifications": [
                        {
                          "sku": "ABC-12345678-C",
                          "specificationId": "1234567890",
                          "availability": "out of stock",
                          "changes": [
                            {
                              "Name": "Price",
                              "ValueDouble": 123.9
                            },
                            {
                              "Name": "Installment",
                              "ValueInt": 2
                            },
                            {
                              "Name": "Title",
                              "ValueString": "Produto de Teste"
                            }
                          ],
                          "variations": [
                            {
                              "Name": "tamanho",
                              "Value": "G"
                            },
                            {
                              "Name": "cor",
                              "Value": "Preto"
                            }
                          ]
                        },
                        {
                          "sku": "ABC-12345678-C",
                          "specificationId": "1234567890",
                          "availability": "out of stock",
                          "variations": [
                            {
                              "Name": "tamanho",
                              "Value": "M"
                            },
                            {
                              "Name": "cor",
                              "Value": "Branco"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{tokenSmartHint}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Catálogo"
        ],
        "summary": "Deleção de Produtos",
        "description": "Caso algum produto da sua loja não exista mais e você queria retirar o mesmo da base da SmartHint, utilize este endpoint, passe o idenfiticador deste produto para realizar a deleção.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{tokenSmartHint}"
          },
          {
            "name": "identifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Campo obrigatório - Código identificador para realizar a atualização do Produto. Poderá ser utilizado os seguintes campos: ProductId, Mpn, Sku, SpecificationId e Link",
            "example": "{valoridentifier}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/Product/Prices": {
      "put": {
        "tags": [
          "Catálogo"
        ],
        "summary": "Atualização dos Preços dos Produtos",
        "description": "Utilize o endpoint de Atualização de Preços para alterar o preço dos seus produtos dentro da SmartHint.\n\nBasta inserir o identificador do mesmo e atualizar os respectivos preços e valores de parcelamento.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "identifier": "123456789",
                    "Price": 139.99,
                    "SalePrice": 89.99,
                    "PromotionDiscount": 0,
                    "Installment": 1,
                    "InstallmentAmount": 89.99,
                    "BankSlipPrice": 0
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{tokenSmartHint}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/Product/Availability": {
      "put": {
        "tags": [
          "Catálogo"
        ],
        "summary": "Atualização dos Estoque dos Produtos",
        "description": "Utilize este endpoint para realizar a atualização da disponibilidade dos seus produtos na base SmartHint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "identifier": "123456789",
                    "Availability": "in stock"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{tokenSmartHint}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/track/click": {
      "get": {
        "tags": [
          "Dados de Navegação > Tracking por API"
        ],
        "summary": "Clique",
        "description": "Sempre que um Comprador clicar em uma funcionalidade que utiliza a SmartHint, precisamos receber um request, conforme descrito abaixo:",
        "parameters": [
          {
            "name": "shcode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "SHCode - Código interno da SmartHint da Loja",
            "example": "{shCode}"
          },
          {
            "name": "anonymousConsumer",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor. Recomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo CPF, e-mail, nome, o ideal é que seja um ID interno ou algum hash gerado a partir de alguma dessas informações. Essa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.",
            "example": "{anonymousConsumer}"
          },
          {
            "name": "session",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Valor da Session - Session (sessão) é o período de tempo em que o usuário interage com a aplicação, deverá ser enviado o identificador desta session",
            "example": "{session}"
          },
          {
            "name": "clickProduct",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL ou Identificador da página do produto que foi clicado",
            "example": "{url}"
          },
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Código do produto clicado pelo Comprador. Importante que este dado seja o mesmo que foi enviado para o Catálogo de Produtos",
            "example": "{productId}"
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL ou Identificador da página que o Comprador está vindo, a Origem do mesmo até chegar na página do produto",
            "example": "{origin}"
          },
          {
            "name": "pageType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "O pagetype é o identificador do tipo de página que o Comprador se encontra, esta, que poderá variar entre:\n- category\n- search\n- searchWithResult\n- home\n- cart\n- emptycart\n- checkout\n- notfound\n- product\n- other",
            "example": "{pageType}"
          },
          {
            "name": "clickFeature",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Neste campo, deverá ser informado em qual funcionalidade da SmartHint o produto foi clicado, as opções poderão variar entre:\n- search: quando um produto for clicado dentro de uma busca\n- campo \"nameRecommendation\" das recomendações: quando um produto for clicado em uma vitrine de recomendação da SmartHint, deverá ser enviado o \"nameRecommendation\" da recomendação",
            "example": "{clickFeature}"
          },
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Quando um produto for clicado em uma busca, ou seja, quando o campo clickFeature for igual a search, deverá ser enviado o termo que foi digitado pelo Comprador para gerar a busca",
            "example": "{term}"
          },
          {
            "name": "position",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Campo utilizado para que a SmartHint saiba qual a posição dos produtos clicados nas funcionalidades, seja ela busca ou recomendação.\n\nQuando o Comprador clicar em um produto, deverá ser informado o valor da posição na lista de produto, o sétimo produto da vitrine deverá ser o valor 7.",
            "example": "{positionProduct}"
          },
          {
            "name": "locationRecs",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Neste campo, deverá ser informado qual é a posição da Recomendação onde o produto foi clicado.\n\nA posição, deverá ser a mesma informada no retorno da chamada de Recomendação por Página (recommendationByPage), onde os valores poderão variar entre 1 à 5. ",
            "example": "{positionRecommendation}"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data que o clique foi realizado. A informação deverá ser enviada no seguinte formato \"DD/MM/AAAA HH:MM:SS\"",
            "example": "{date}"
          },
          {
            "name": "productPrice",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deverá ser informado o valor do Preço de Venda (SalesPrice) do Produto clicado, a informação deverá ser enviada sempre que houver o uso de uma funcionalidade da SmartHint.\n\nA informação deverá ser enviada no seguinte formato: 1000.00 | 99.00 | 0.99",
            "example": "{productPrice}"
          },
          {
            "name": "shippingTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deverá ser informado o tempo de entrega do frete calculado do Produto clicado em HORAS, a informação deverá ser enviada sempre que houver o uso de uma funcionalidade da SmartHint.\n\nCaso existam mais valores relacionados ao Frete, deverá ser enviado o menor tempo em HORAS calculado.\n\nA informação deverá ser enviada no seguinte formato: 48 | 240 | 4 | 360",
            "example": "{shippingTime}"
          },
          {
            "name": "shippingPrice",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deverá ser informado o valor do frete calculado do Produto clicado, a informação deverá ser enviada sempre que houver o uso de uma funcionalidade da SmartHint.\n\nO valor enviado neste parâmetro deverá ser o Preço de Frete cobrado para o para o prazo enviado no campo \"shippingTime\".\n\nA informação deverá ser enviada no seguinte formato: 0.00 | 99.00 | 0.99 | ",
            "example": "{shippingPrice}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/track/pageView": {
      "get": {
        "tags": [
          "Dados de Navegação > Tracking por API"
        ],
        "summary": "Pageviews",
        "description": "Cada vez que um Comprador visualiza uma “página” (conceito WEB, mas que deve ter o equivalente no APP) na sua loja, precisamos receber um request desse pageview para que a nossa Inteligência consiga captar e recomendar os melhores produtos para este Comprador.",
        "parameters": [
          {
            "name": "shcode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "SHCode - Código interno da SmartHint da Loja",
            "example": "{shCode}"
          },
          {
            "name": "anonymousConsumer",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor. Recomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo CPF, e-mail, nome, o ideal é que seja um ID interno ou algum hash gerado a partir de alguma dessas informações. Essa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.",
            "example": "{anonymousConsumer}"
          },
          {
            "name": "session",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Valor da Session - Session (sessão) é o período de tempo em que o usuário interage com a aplicação, deverá ser enviado o identificador desta session",
            "example": "{session}"
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL ou Identificador da página que está sendo visualizada pelo Comprador",
            "example": "{url}"
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL ou Identificador da página que o Comprador está vindo, a Origem do mesmo até chegar na página/tela atual",
            "example": "{origin}"
          },
          {
            "name": "pageType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "O pagetype é o identificador do tipo de página que o Comprador se encontra, esta, que poderá variar entre:\n- category\n- search\n- searchWithResult\n- home\n- cart\n- emptycart\n- checkout\n- notfound\n- product\n- other",
            "example": "{pageType}"
          },
          {
            "name": "elapsedTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Tempo que o Comprador ficou na página em segundos. Utilizaremos esta informação para alimentar nossa engine de inteligência artifical para indicar o quanto o Comprador se engajou com determinado produto, categoria, marca, etc.",
            "example": "{elapsedTime}"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data que a visualização foi realizada. A informação deverá ser enviada no seguinte formato \"DD/MM/AAAA HH:MM:SS\"",
            "example": "{date}"
          },
          {
            "name": "productPrice",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deverá ser informado o valor do Preço de Venda (SalesPrice) do Produto visualizado, a informação deverá ser enviada sempre que houver o uso de uma funcionalidade da SmartHint.\n\nA informação deverá ser enviada no seguinte formato: 1000.00 | 99.00 | 0.99",
            "example": "{productPrice}"
          },
          {
            "name": "shippingTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deverá ser informado o tempo de entrega do frete calculado do Produto visualizado em HORAS, a informação deverá ser enviada sempre que houver o uso de uma funcionalidade da SmartHint.\n\nCaso existam mais valores relacionados ao Frete, deverá ser enviado o menor tempo em HORAS calculado.\n\nA informação deverá ser enviada no seguinte formato: 48 | 240 | 4 | 360",
            "example": "{shippingTime}"
          },
          {
            "name": "shippingPrice",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deverá ser informado o valor do frete calculado do Produto visualizado, a informação deverá ser enviada sempre que houver o uso de uma funcionalidade da SmartHint.\n\nO valor enviado neste parâmetro deverá ser o Preço de Frete cobrado para o para o prazo enviado no campo \"shippingTime\".\n\nA informação deverá ser enviada no seguinte formato: 0.00 | 99.00 | 0.99 | ",
            "example": "{shippingPrice}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/track/order": {
      "post": {
        "tags": [
          "Dados de Navegação > Tracking por API"
        ],
        "summary": "Track de Pedidos",
        "description": "### Dados dos Pedidos\n\nAo finalizar um pedido dentro da sua Loja ou dentro do seu Aplicativo, devem ser enviados os dados desse pedido, incluindo as informações de produtos (identificador, quantidade e valor) e do Comprado/Sessão (anonymousConsumer e session).\n\nAssim como no identificador do Comprador, não devem ser enviados “dados sensíveis” como por exemplo, endereço do cliente, nome, CPF, dados bancários, etc.\n\n## Body Params\n\n## Atributo\n\n| Tipo | Descrição | Obrigatório |\n| --- | --- | --- |\n| Date | DateTime | Data que o pedido foi finalizado/criado. A informação deverá ser enviada no seguinte formato \"DD/MM/AAAA HH:MM:SS\" |\n| Freight | decimal | Valor cobrado para o frete do Pedido |\n| OrderId | String | Código/Número do Pedido criado |\n| Total | Decimal | Valor total do Pedido criado |\n| anonymousConsumer | String | Identificador do Comprador que realizou a compra. É muito importante que este valor enviado seja o mesmo utilizado em toda a jornada do Comprador pelo Site/App |\n| Session | String | Valor da Sessão do Comprador que realizou a compra. É muito importante que este valor enviado seja o mesmo utilizado em toda a jornada do Comprador pelo Site/App |\n| Items | Object | Array de Produtos dentro do Pedido, importante que todos os produtos sejam encaminhados para que a nossa Engine de Inteligência Artifical consiga coletar esses dados para a geração de algumas vitrines |\n| Name | String | Nome do Produto do Pedido |\n| ProductId | String | ProductId do Produto do Pedido, este dado deve ser o mesmo enviado no catálogo |\n| Quantity | Integer | Quantidade deste Produto adquirido no Pedido |\n| SKU | String | Sku do Spectification adquirido no Pedido, este dado deve ser o mesmo enviado no catálogo |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "Date": "04/03/2021 09:04:57",
                  "Freight": 20.14,
                  "OrderId": 12345678,
                  "Total": 48.93,
                  "anonymousConsumer": "6e8bcea4-0eb8-4234-aef7-09134bcd0ce6",
                  "session": "ea9001d3-3732-42ba-a4af-45d9c2d8023e",
                  "Items": [
                    {
                      "Name": "Nome do Produto",
                      "ProductId": 1234,
                      "Quantity": 1,
                      "SKU": "sku1234567890"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "shcode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "SHCode - Código interno da SmartHint da Loja",
            "example": "{shCode}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/{cluster}/Search/GetPrimarySearch": {
      "get": {
        "tags": [
          "Busca"
        ],
        "summary": "Busca",
        "description": "Utilize a chamada de busca para retornar os produtos de acordo com o que o seu Comprador procura.\n\nCaso você tenha cadastrado **RULES** ou **CONDITIONS** para os seus produtos, utilize da chamada para retornar estes valores segmentados, de acordo com o parâmetro atribuido.",
        "parameters": [
          {
            "name": "shcode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "SHCode - Código interno da SmartHint da Loja",
            "example": "{shCode}"
          },
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Termo pesquisado pelo Comprador",
            "example": "{termodebusca}"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Valor a ser retornado a partir do SPOT (Produto)",
            "example": "{spotProduto}"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Quantidade de Produtos que deverá ser apresetnado por página",
            "example": "{produtosPorPagina}"
          },
          {
            "name": "anonymous",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Deve ser uma string que identifica o cliente, sempre que esse cliente utilizar o aplicativo, esse identificador deve possuir o mesmo valor. Recomendamos que seja um valor que não possua características pessoais do cliente, como por exemplo CPF, e-mail, nome, o ideal é que seja um ID interno ou algum hash gerado a partir de alguma dessas informações. Essa informação será enviada nas requisições para identificar a interação do cliente com a SmartHint e gerar dados sobre navegação e compras para os modelos de IA.",
            "example": "{idCustomer}"
          },
          {
            "name": "searchSort",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Por padrão, a SmartHint já devolve os produtos da busca pela relevância calculada pela nossa Inteligência Artificial, entretanto, caso o Comprador realize a troca da ordenação para mais vendidos, por exemplo, é necessário realizar a chamada da busca com a ordenação desejada, abaixo, segue os IDs de cada uma das ordenações possíveis:\n- 0 - Relevância\n- 1 - Menor Preço\n- 2 - Maior Preço\n- 3 - Alfabética A-Z\n- 4 - Alfabética Z-A\n- 5 - Mais Recentes\n- 6 - Mais Vendidos\n- 7 - Mais Vistos\n- 8 - Maior Desconto",
            "example": "{sort}"
          },
          {
            "name": "rule",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Caso existam Regras para a apresentação de produtos, este deverá ser enviado",
            "example": "{regraCatalogo}"
          },
          {
            "name": "ruletype",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Quando um \"rule\" foi passado na chamada de busca, deverá ser enviado também o parametro ruletype para a definição do tipo de rule, as opções são:\n- valuedouble\n- valuedate\n- valuestring",
            "example": "(tipoRules)"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            },
            "description": "Filtros sobre a busca realizada pelo Comprador",
            "example": "{campoFiltro}:{valorFiltro}"
          },
          {
            "name": "condition",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Caso existam condições especiais para os Produtos, este deverá enviado",
            "example": "valueDouble:{campoCondition}:{valorCondition}:validation:{valorValidationCondition}"
          },
          {
            "name": "cluster",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SearchId": {
                      "type": "string"
                    },
                    "SearchTerm": {
                      "type": "string"
                    },
                    "Key": {
                      "type": "string"
                    },
                    "Anonymous": {
                      "type": "string"
                    },
                    "Date": {
                      "type": "string"
                    },
                    "SearchTime": {
                      "type": "number"
                    },
                    "PosProcessTime": {
                      "type": "number"
                    },
                    "TotalResult": {
                      "type": "integer"
                    },
                    "Products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ProductId": {
                            "type": "string"
                          },
                          "Title": {
                            "type": "string"
                          },
                          "Mpn": {
                            "type": "string"
                          },
                          "MpnFather": {
                            "type": "string"
                          },
                          "Sku": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "Price": {
                            "type": "number"
                          },
                          "SalePrice": {
                            "type": "number"
                          },
                          "PromotionDiscount": {
                            "type": "number"
                          },
                          "Availability": {
                            "type": "string"
                          },
                          "ProductType": {
                            "type": "string"
                          },
                          "Link": {
                            "type": "string"
                          },
                          "Installment": {
                            "type": "integer"
                          },
                          "InstallmentAmount": {
                            "type": "number"
                          },
                          "BankSlipPrice": {
                            "type": "number"
                          },
                          "Gender": {
                            "type": "string"
                          },
                          "Brand": {
                            "type": "string"
                          },
                          "ReviewStars": {
                            "type": "number"
                          },
                          "Categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ImageLink": {
                            "type": "string"
                          },
                          "SecondImageLink": {
                            "type": "string"
                          },
                          "AdicionalImageLink": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "CreatedDate": {
                            "type": "string"
                          },
                          "OfferDate": {
                            "type": "string"
                          },
                          "ProductFilters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Key": {
                                  "type": "string"
                                },
                                "Show": {
                                  "type": "string"
                                },
                                "Visible": {
                                  "type": "boolean"
                                },
                                "Value": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Key": {
                                        "type": "string"
                                      },
                                      "Show": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "Valeu": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Key": {
                                        "type": "string"
                                      },
                                      "Show": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "AditionalFeatures": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "Rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Value": {
                                  "type": "string"
                                },
                                "Values": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Name": {
                                        "type": "string"
                                      },
                                      "ValueDouble": {
                                        "type": "number"
                                      },
                                      "ValueString": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "StartDouble": {
                                  "type": "integer"
                                },
                                "EndDouble": {
                                  "type": "integer"
                                },
                                "StartDate": {
                                  "type": "string"
                                },
                                "EndDate": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "Conditions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "StartDouble": {
                                  "type": "integer"
                                },
                                "EndDouble": {
                                  "type": "integer"
                                },
                                "Validation": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "Values": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Field": {
                                        "type": "string"
                                      },
                                      "Name": {
                                        "type": "string"
                                      },
                                      "ValueString": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "Value": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "Specifications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "sku": {
                                  "type": "string"
                                },
                                "specificationId": {
                                  "type": "string"
                                },
                                "availability": {
                                  "type": "string"
                                },
                                "changes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Name": {
                                        "type": "string"
                                      },
                                      "ValueDouble": {
                                        "type": "number"
                                      },
                                      "ValueInt": {
                                        "type": "integer"
                                      },
                                      "ValueString": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "variations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Name": {
                                        "type": "string"
                                      },
                                      "Value": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "SellsCount": {
                            "type": "integer"
                          },
                          "ViewsCount": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "Filters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "object",
                            "properties": {
                              "Show": {
                                "type": "string"
                              },
                              "Value": {
                                "type": "string"
                              },
                              "Active": {
                                "type": "boolean"
                              },
                              "FieldSource": {
                                "type": "string"
                              },
                              "IsAscending": {
                                "type": "boolean"
                              },
                              "Sort": {
                                "type": "integer"
                              },
                              "MultiValue": {
                                "type": "boolean"
                              }
                            }
                          },
                          "Value": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Quantity": {
                                  "type": "integer"
                                },
                                "Index": {
                                  "type": "integer"
                                },
                                "Show": {
                                  "type": "string"
                                },
                                "Value": {
                                  "type": "string"
                                },
                                "Checked": {
                                  "type": "string"
                                },
                                "Active": {
                                  "type": "boolean"
                                },
                                "IsAscending": {
                                  "type": "boolean"
                                },
                                "Sort": {
                                  "type": "integer"
                                },
                                "MultiValue": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Sorts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer"
                          },
                          "Field": {
                            "type": "string"
                          },
                          "IsAscending": {
                            "type": "boolean"
                          },
                          "Show": {
                            "type": "string"
                          },
                          "Checked": {
                            "type": "string"
                          },
                          "Active": {
                            "type": "boolean"
                          },
                          "Sort": {
                            "type": "integer"
                          },
                          "MultiValue": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "Suggest": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "IsRedirect": {
                      "type": "boolean"
                    },
                    "urlRedirect": {
                      "type": "string"
                    },
                    "QuantityFilterShow": {
                      "type": "integer"
                    },
                    "QuantityFilterOptionShow": {
                      "type": "integer"
                    },
                    "Success": {
                      "type": "boolean"
                    },
                    "Banners": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "UrlBanner": {
                            "type": "string"
                          },
                          "UrlRedirect": {
                            "type": "string"
                          },
                          "BannerHtml": {
                            "type": "string"
                          },
                          "Sequence": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "SearchId": "d13d0f3b-519f-4824-a7bf-8ed110c82e08",
                  "SearchTerm": "camiseta",
                  "Key": "SH-000000",
                  "Anonymous": "c063e8d2-d690-44d7-869f-15ca07bf9555",
                  "Date": "2022-03-25T16:46:05.9475355+00:00",
                  "SearchTime": 0.001,
                  "PosProcessTime": 0.006,
                  "TotalResult": 18,
                  "Products": [
                    {
                      "ProductId": "123456789",
                      "Title": "Title do Produto",
                      "Mpn": "123ABC",
                      "MpnFather": "123ABC",
                      "Sku": "abcdef-123456789",
                      "Description": "Descrição do Produto",
                      "Price": 139.99,
                      "SalePrice": 89.99,
                      "PromotionDiscount": 0,
                      "Availability": "in stock",
                      "ProductType": "Futebol > Camisas Polo > TFime",
                      "Link": "//www.minhaloja.com.br/123456789",
                      "Installment": 1,
                      "InstallmentAmount": 89.99,
                      "BankSlipPrice": 0,
                      "Gender": "Masculino",
                      "Brand": "Marca do Produto",
                      "ReviewStars": 5,
                      "Categories": [
                        "Futebol",
                        "Futebol > Camisas Polo",
                        "Futebol > Camisa Polo > Time"
                      ],
                      "ImageLink": "https://minhaloja.com.br/produto/123456789/img/imgprincipal.jpg",
                      "AdicionalImageLink": [
                        "https://minhaloja.com.br/produto/123456789/img/imgsecundaria.jpg"
                      ],
                      "Tags": [
                        "Futebol",
                        "Camisas Polo",
                        "Kappa",
                        "Masculino",
                        "netshoes"
                      ],
                      "CreatedDate": "2021-11-12T01:44:27.666Z",
                      "OfferDate": "0001-01-01T00:00:00",
                      "AditionalFeatures": {
                        "ABC0987654321": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1",
                        "A0987654321ABC": "https://www.minhaloja.com.br/checkout/cart/add?sku=1234&qty=1"
                      },
                      "Rules": [
                        {
                          "Value": "Campanha do Google",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        },
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Values": [
                            {
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "StartDate": "0001-01-01T00:00:00",
                          "EndDate": "0001-02-01T00:00:00",
                          "Values": [
                            {
                              "Name": "SalePrice",
                              "ValueDouble": 89.99
                            },
                            {
                              "Name": "Price",
                              "ValueDouble": 139.99
                            },
                            {
                              "Name": "Availability",
                              "ValueString": "out of stock"
                            }
                          ]
                        }
                      ],
                      "Conditions": [
                        {
                          "StartDouble": 8000000,
                          "EndDouble": 9000000,
                          "Validation": [
                            "Cj0KCQiA95aRBhCsARIsAC2xvfxExOcoVEiW9uxECZhhBauCKafU2mKqT5U7sE9wnT",
                            "facebook"
                          ],
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        },
                        {
                          "Value": "google",
                          "Values": [
                            {
                              "Field": "ProductFilters",
                              "Name": "Free-Shipping",
                              "ValueString": "True"
                            }
                          ]
                        }
                      ],
                      "Specifications": [
                        {
                          "sku": "ABC-12345678-C",
                          "specificationId": "1234567890",
                          "availability": "out of stock",
                          "changes": [
                            {
                              "Name": "Price",
                              "ValueDouble": 123.9
                            },
                            {
                              "Name": "Installment",
                              "ValueInt": 2
                            },
                            {
                              "Name": "Title",
                              "ValueString": "Produto de Teste"
                            }
                          ],
                          "variations": [
                            {
                              "Name": "tamanho",
                              "Value": "G"
                            },
                            {
                              "Name": "cor",
                              "Value": "Preto"
                            }
                          ]
                        },
                        {
                          "sku": "ABC-12345678-D",
                          "specificationId": "1234567890",
                          "availability": "out of stock",
                          "variations": [
                            {
                              "Name": "tamanho",
                              "Value": "M"
                            },
                            {
                              "Name": "cor",
                              "Value": "Branco"
                            }
                          ]
                        }
                      ]
[...]
